---
description: Note the `.nav-tabs` class requires the `.nav` base class.
bootstrap: http://getbootstrap.com/components/#nav-tabs
---

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
