---
description: Take that same HTML, but use `.nav-pills` instead.
bootstrap: http://getbootstrap.com/components/#nav-pills
---
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
