---
name: Vertically-Stacked Pills
description: Pills are also vertically stackable. Just add `.nav-stacked`.
bootstrap: http://getbootstrap.com/components/#nav-pills
---
<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
