---
description: For any nav component (tabs or pills), add `.disabled` for **gray links and no hover effects**.
bootstrap: http://getbootstrap.com/components/#nav-disabled-links
---
<ul class="nav nav-pills">
  <li role="presentation"><a href="#">Clickable link</a></li>
  <li role="presentation"><a href="#">Clickable link</a></li>
  <li role="presentation" class="disabled"><a href="#">Disabled link</a></li>
</ul>
