---
name: Simple Modals
description: TBD
bootstrap: http://getbootstrap.com/javascript/#modals
---

<button class="btn btn-lg btn-primary"
 data-toggle="modal"
 data-target="#modal-example-basic">
  Launch Modal
</button>

<div class="modal" id="modal-example-basic">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body clearfix">
        <button class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <p>One fine body&hellip;</p>
      </div>
    </div>
  </div>
</div>
