---
name: Simple Modals
description: TBD
bootstrap: http://getbootstrap.com/javascript/#modals
---

<button class="btn btn-lg btn-default"
 data-toggle="modal"
 data-target="#modal-example-basic">
  Launch Modal
</button>

<div class="modal" id="modal-example-basic">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body clearfix">
        <button class="close"
         data-dismiss="modal"
         aria-hidden="true"
         type="button">
          &times;
        </button>
        <p>This is clearly some text.</p>
      </div>
    </div>
  </div>
</div>
