<button class="btn btn-blank close pull-right"
 data-dismiss="modal"
 aria-hidden="true"
 type="button">
  <svg class="icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/symbol/svg/sprite.symbol.svg#close"></use>
  </svg>
</button>
