<div class="col-sm-12 col-lg-7">
  <div class="box-leaf-tr">
    <h3>Today's Top Stories</h3>
    <div class="container-fluid no-gutters">
      <div class="col-xs-12 col-lg-6 u-margin-bottom">
        <a class="link-block" href="#">
          <img class="pull-left u-margin-right img-thumbnail" alt=" " src="http://placeimg.com/64/64/animals">
          <div class="col-sm-8 col-md-5 col-lg-7 no-gutters">
            Is a Soul Mate Really What You Think It Is? by Karin Marie
            <a class="u-block" href="#">Continue Reading</a>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-lg-6 u-margin-bottom">
        <a class="link-block" href="#">
          <img class="pull-left u-margin-right img-thumbnail" alt=" " src="http://placeimg.com/64/64/animals">
          <div class="col-sm-8 col-md-5 col-lg-7 no-gutters">
            Is a Soul Mate Really What You Think It Is? by Karin Marie
            <a class="u-block" href="#">Continue Reading</a>
          </div>
        </a>
      </div>
    </div>
    <div class="container-fluid no-gutters hidden-xs hidden-sm hidden-md">
      <div class="col-xs-12 col-lg-6 u-margin-bottom">
        <a class="link-block" href="#">
          <img class="pull-left u-margin-right img-thumbnail" alt=" " src="http://placeimg.com/64/64/animals">
          <div class="col-sm-8 col-md-5 col-lg-7 no-gutters">
            Is a Soul Mate Really What You Think It Is? by Karin Marie
            <a class="u-block" href="#">Continue Reading</a>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-lg-6 u-margin-bottom">
        <a class="link-block" href="#">
          <img class="pull-left u-margin-right img-thumbnail" alt=" " src="http://placeimg.com/64/64/animals">
          <div class="col-sm-8 col-md-5 col-lg-7 no-gutters">
            Is a Soul Mate Really What You Think It Is? by Karin Marie
            <a class="u-block" href="#">Continue Reading</a>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
