---
name: Inline SVG Icons
description: >
  Uses SVG `symbol` ([info](http://css-tricks.com/svg-symbol-good-choice-icons/)) to
  reduce multiple requests for vector imagery while avoiding pitfalls like
  missing-character artifacts. Icons inherit their color and size from the
  parent unless overtly resized.
---

<ul class="demo-icons">
  <li>
    <svg class="icon">
      <use xlink:href="/images/symbol/svg/sprite.symbol.svg#filter" />
    </svg>
    <span>filter</span>
  </li>
  <li>
    <svg class="icon">
      <use xlink:href="/images/symbol/svg/sprite.symbol.svg#people-list" />
    </svg>
    <span>people-list</span>
  </li>
  <li>
    <svg class="icon">
      <use xlink:href="/images/symbol/svg/sprite.symbol.svg#phone" />
    </svg>
    <span>phone</span>
  </li>
  <li>
    <svg class="icon">
      <use xlink:href="/images/symbol/svg/sprite.symbol.svg#picks" />
    </svg>
    <span>picks</span>
  </li>
  <li>
    <svg class="icon">
      <use xlink:href="/images/symbol/svg/sprite.symbol.svg#search" />
    </svg>
    <span>search</span>
  </li>
  <li>
    <svg class="icon">
      <use xlink:href="/images/symbol/svg/sprite.symbol.svg#sort" />
    </svg>
    <span>filter</span>
  </li>
  <li>
    <svg class="icon">
      <use xlink:href="/images/symbol/svg/sprite.symbol.svg#video" />
    </svg>
    <span>video</span>
  </li>
  <li>
    <svg class="icon">
      <use xlink:href="/images/symbol/svg/sprite.symbol.svg#audio" />
    </svg>
    <span>audio</span>
  </li>
  <li>
    <svg class="icon">
      <use xlink:href="/images/symbol/svg/sprite.symbol.svg#close" />
    </svg>
    <span>close</span>
  </li>
  <li>
    <svg class="icon">
      <use xlink:href="/images/symbol/svg/sprite.symbol.svg#pause" />
    </svg>
    <span>pause</span>
  </li>
  <li>
    <svg class="icon">
      <use xlink:href="/images/symbol/svg/sprite.symbol.svg#warning" />
    </svg>
    <span>warning</span>
  </li>
</ul>
