---
name: Inline SVG Icons - Horoscopes
description: >
---

<ul class="demo-icons">
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#aries" />
    </svg>
    <span>aries</span>
  </li>
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#taurus" />
    </svg>
    <span>taurus</span>
  </li>
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#gemini" />
    </svg>
    <span>gemini</span>
  </li>
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#cancer" />
    </svg>
    <span>taurus</span>
  </li>
</ul>