---
name: Inline SVG Icons - Horoscopes
description: >
---

<ul class="demo-icons">
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#aries" />
    </svg>
    <span>aries</span>
  </li>
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#taurus" />
    </svg>
    <span>taurus</span>
  </li>
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#gemini" />
    </svg>
    <span>gemini</span>
  </li>
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#cancer" />
    </svg>
    <span>cancer</span>
  </li>
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#leo" />
    </svg>
    <span>leo</span>
  </li>
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#virgo" />
    </svg>
    <span>virgo</span>
  </li>
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#libra" />
    </svg>
    <span>libra</span>
  </li>
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#scorpio" />
    </svg>
    <span>scorpio</span>
  </li>
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#sagittarius" />
    </svg>
    <span>sagittarius</span>
  </li>
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#capricorn" />
    </svg>
    <span>capricorn</span>
  </li>
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#aquarius" />
    </svg>
    <span>aquarius</span>
  </li>
  <li>
    <svg class="icon icon-xl">
      <use xlink:href="/images/symbol/svg/sprite.symbol-horoscopes.svg#pisces" />
    </svg>
    <span>pisces</span>
  </li>

</ul>