---
status: inprogress
---
<p>
  Default:
  <svg class="icon">
    <use xlink:href="/images/symbol/svg/sprite.symbol.svg#filter" />
  </svg>
</p>
<p>
  Medium:
  <svg class="icon icon-md">
    <use xlink:href="/images/symbol/svg/sprite.symbol.svg#filter" />
  </svg>
</p>
<p>
  Large:
  <svg class="icon icon-lg">
    <use xlink:href="/images/symbol/svg/sprite.symbol.svg#filter" />
  </svg>
</p>
<p>
  Extra large:
  <svg class="icon icon-xl">
    <use xlink:href="/images/symbol/svg/sprite.symbol.svg#filter" />
  </svg>
</p>
