{{> pages/_header }}

<div class="container-page">
  <div class="box-full box-default-lg box-lighter box-sheer-sides u-shift-up">
    <div class="container-fluid no-gutters-xs no-gutters-sm">
      <div class="col-md-4 col-lg-3">
        {{> account/_account-nav-sub }}
      </div>
      <div class="col-md-8 col-lg-9">
        <div class="tabpanel tabpanel-light tabpanel-teal tabpanel-full-xs tabpanel-full-sm" role="tabpanel">
        <!-- Nav tabs -->
          <ul class="tabpanel-tabs" role="tablist">
            <li class="active" role="presentation">
              <a role="tab" data-toggle="tab" href="#add-dollars">
                Add Dollars
              </a>
            </li>
            <li role="presentation">
              <a role="tab" data-toggle="tab" href="#purchase-offers">
                Purchase Offers
              </a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tabpanel-content">
            <div class="tabpanel-pane active" role="tabpanel" id="add-dollars">
              <h2>Existing Member Pricing (Web)</h1>
              {{> account/_account-add-dollars-form }}

            </div>
            <div class="tabpanel-pane" role="tabpanel" id="purchase-offers">
              {{> account/_purchase-offers }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> pages/_footer }}

<script>
$(function () {
  var $paymentOptions = $('.js-payment-options');

  $paymentOptions.on('change', '.js-payment-option', function (event) {
    var $trigger = $(event.currentTarget);
    var triggerData = $trigger.data();
    var hasCollapseTarget = triggerData.target !== undefined;

    if (hasCollapseTarget) {
      $(triggerData.target)
        .collapse('show')
        .addClass('js-expanded')
    } else {
      $paymentOptions.find('.js-expanded')
        .collapse('hide')
        .removeClass('js-expanded');
    }
  });
});
</script>
