/* Horizontal advisors on homepage */

.home-available-advisors {
  padding: 1em 1.4em 0 1.4em;
}

.home-advisor-horizontal {
  width: 100%;
  float: left;
  text-align: center;
  padding-top: $padding-base-vertical;
  position: relative;

  @media (max-width: $screen-sm-max) {
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

.home-advisor-tile-simple {
  display: inline-block;
  border-radius: $border-radius-large;
  font-size: 10px;
  white-space: normal;
  padding: ($padding-base-vertical);
  width: 24%;
  vertical-align: top;
  a {
    color: #000;
    text-decoration: none;
  }
  &:hover {
    background: $tan-light;
  }
  @media (max-width: $screen-sm-min)  {
    width: 35%;
  }
}

.home-advisor-image {
  margin: 0 auto;
}

.home-advisor-stars {
  display: block;
  margin: 0 auto;
  padding: 0;
}
