$gutter-size: 1em;


.u-no-margin {
  margin:0;
}
.u-no-margin-top {
  margin-top:0;
}
.u-no-margin-right {
  margin-right:0;
}
.u-no-margin-bottom {
  margin-bottom:0;
}
.u-no-margin-left {
  margin-left:0;
}

.u-margin-top {
  margin-top: $gutter-size;
}
.u-margin-right {
  margin-right: $gutter-size;
}
.u-margin-bottom {
  margin-bottom: $gutter-size;
}
.u-margin-left {
  margin-left: $gutter-size;
}