//
// Variables
// --------------------------------------------------

//== Colors

$gray-dark: #333;
$gray: #84796d;
$gray-light: #bbb;
$gray-lighter: #d4ddde;

$red: #bf4646;
$red-bright: #e33c3c;
$red-dark: #8b1d3a;
$red-darker: #531917;

$tan: #d8c3a7;
$tan-light: #feeed7;

$orange: #f87f25;
$orange-light: #F4BC84;
$orange-lighter: #fdf6e4;

$blue: #3d6682;
$blue-light: #aec1c4;
$blue-dark: #205072;
$blue-gray: #89a5a8;

$teal: #44a6d4;
$teal-light: #e9f2ef;

$green: #390;

$brand-primary: $red;

//== Shadows

$box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
$img-shadow: $box-shadow;

//== Scaffolding

$link-color: $red-dark;
$link-hover-color: $red-bright;
// $link-hover-decoration: none;

//== Typography

$font-family-sans-serif: Verdana, Arial, sans-serif;
$font-family-cursive: 'Dancing Script', cursive;

$font-size-base: 13px;
$font-size-small: 11px;

$headings-font-weight: bold;

$font-size-h1: 1.6em;
$font-size-h2: 1.3em;
$font-size-h3: 1.3em;
$font-size-h4: 1em;
$font-size-h5: 1em;
$font-size-h6: 1em;

$headings-line-height: 1.3;

//== Tables

$table-bg-accent: $tan-light;
$table-border-color: $tan;

//== Buttons

$btn-font-weight: bold;

//== Forms

$input-border: $blue-gray;
$input-border-focus: $blue-light;

//== Form states and alerts

$state-success-text: $green;

$state-info-text: $teal;

$state-warning-text: $orange;

$state-danger-text: $red;

//== Type
//** Blockquote font size
$blockquote-font-size: 1em;
//** Blockquote border color
$blockquote-border-color: $tan;

//== Navs
$nav-link-hover-bg: lighten($gray-lighter, 7%);
//== Tabs
$nav-tabs-border-color: $orange-light;
$nav-tabs-active-link-hover-color: $red-dark;
$nav-tabs-active-link-hover-border-color: $orange-light;
$nav-tabs-active-link-hover-bg: $orange-light;

//== Pagination

$pagination-color:            $blue-dark;
$pagination-bg:               #fff;
$pagination-border:           $gray-lighter;

$pagination-hover-color:      $blue;
$pagination-hover-bg:         lighten($gray-lighter, 10%);
$pagination-hover-border:     $gray-lighter;

$pagination-active-color:     #fff;
$pagination-active-bg:        $blue-gray;
$pagination-active-border:    $blue-gray;

$pagination-disabled-color:   $gray-lighter;
$pagination-disabled-bg:      #fff;
$pagination-disabled-border:  $gray-lighter;

//== Grid system

$grid-gutter-width: 20px;
