---
description: >
  `.stars` bases its size on the parent `font-size`, but you can also overtly
  size it using the `.stars-lg` modifier.
---

<p><span class="stars stars-xl stars-5"><span class="sr-only">4&frac12; stars</span></span> (Extra Large)</p>
<p><span class="stars stars-lg stars-4-5"><span class="sr-only">4&frac12; stars</span></span> (Large)</p>
<p><span class="stars stars-4"><span class="sr-only">4&frac12; stars</span></span> (Default)</p>
