---
name: Star ratings
description: Min, max and step (currently &frac12;) can be adjusted via Sass variables. Star uses SVG format so it will look nice at any resolution.
---
<p><span class="stars">No stars</span></p>
<p><span class="stars stars-0-5">&frac12; star</span></p>
<p><span class="stars stars-1">1 star</span></p>
<p><span class="stars stars-1-5">1&frac12; stars</span></p>
<p><span class="stars stars-2">2 stars</span></p>
<p><span class="stars stars-2-5">2&frac12; stars</span></p>
<p><span class="stars stars-3">3 stars</span></p>
<p><span class="stars stars-3-5">3&frac12; stars</span></p>
<p><span class="stars stars-4">4 stars</span></p>
<p><span class="stars stars-4-5">4&frac12; stars</span></p>
<p><span class="stars stars-5">5 stars</span></p>
