<!DOCTYPE html>
<html lang="en" class="c4-body">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
  </title>
    <!-- CSS Goes here -->
    <link href="{{ pathRoot }}/vendor/normalize.css" rel="stylesheet">
    <link href="{{ pathRoot }}/css/patterns.css" rel="stylesheet">
    <link href="{{ pathRoot }}/css/styles.css" rel="stylesheet">
    <link href="{{ pathRoot }}/vendor/prism/prism.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons can go here if desired -->
    <!-- Any desired scripts in HEAD -->
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="{{ pathRoot }}/js/patterns.js"></script>
    <script src="{{ pathRoot }}/vendor/prism/prism.js"></script>

  </head>
<body>

  <header class="c4-banner" id="c4-top">
    <a class="c4-logo" href="http://cloudfour.com"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62127/c4-icon-white-opt.svg" alt="Cloud Four"></a>
    <h1 class="c4-masthead"><a href="">VSE Responsive Pilot Pattern Library</a></h1>
    <button type="button" class="c4-menu-button js-c4-nav-toggle"><span>Menu</span></button>
  </header>

  <nav class="c4-nav js-c4-nav">
    <ul class="c4-nav-list">
      <li><a class="c4-nav-item" href="{{ pathRoot }}">Welcome</a></li>
    </ul>
    {{> patterns/__NAV }}
  </nav>

  <main class="c4-main">
    <h1>Well, Hello!</h1>
    <%= contents %>
  </main>
</body>


</html>
