{{#each nav}}
   <h4 class="c4-nav__heading">{{name}}</h4>
   <ul class="c4-nav__list">
   {{#each children}}
     <li><a class="c4-nav__item" href="{{ ../../pathRoot }}/{{ dir }}">{{name}}</a></li>
   {{/each}}
   </ul>
{{/each}}
