---
isPattern: false
---
<div class="c4-welcome">
   <svg class="icon icon-xl">
    <use xlink:href="/images/symbol/svg/sprite.symbol.svg#ps-star" />
  </svg>
  <h1><strong><span class="bright-red">Psychic Source</span></strong> Responsive Pattern Library</h1>
  <p>Responsive patterns, components and page templates for <a href="http://psychicsource.com">psychicsource.com</a></p>

  <ul>
    <li><a href="https://github.com/Expertlink/ps-pattern-library">GitHub</a></li>
    <li><a href="https://github.com/cloudfour/vse-responsive-pilot">C4 GitHub</a></li>
    <li><a href="https://basecamp.com/2302163/projects/6031843">C4 Basecamp</a></li>
    <li><a href="https://cloudfour.slack.com/messages/proj-vse/">C4 Slack</a></li>
  </ul>
  </ul>
</div>
