---
showSource: false
showHeading: false
---
<div class="c4-welcome">
  <img src="/images/VSE_logo2.png" alt=" " style="margin-top: -1.5rem;">
  <h1>VSE Responsive Pilot Pattern Library</h1>
  <p>Responsive patterns, components and page templates for <a href="http://psychicsource.com">psychicsource.com</a></p>
</div>
