---
description: Simple visual content container.
---

<div class="box box-dark">
  Dark box.
</div>

<div class="box box-light">
  Light box.
</div>

<div class="box box-lighter">
  Lighter box.
</div>

<div class="box">
  Default, unstyled box.
</div>
