---
description: Simple visual modifiers that can be applied to most other boxes. Boxes have a white background by default that can set to transparent using `.box-trans`.
---

<div class="box box-dark box-thick">
  Thick border.
</div>

<div class="box box-light box-md">
  More vertical padding.
</div>

<div class="box box-lighter box-shadow">
  Shadow.
</div>

<div class="box box-light box-md box-teal">
  Teal background.
</div>

<div class="box box-lighter box-md box-tan">
  Tan background.
</div>
