---
description: Simple visual modifiers that can be applied to most other boxes.
---

<div class="box box-dark box-thick">
  Thick border.
</div>

<div class="box box-light box-md">
  More vertical padding.
</div>

<div class="box box-lighter box-shadow">
  Shadow.
</div>
