---
description: Fleurons can be added to other box styles. They can be positioned using `.top`, `.right`, `.bottom` and `.left`.
---

<div class="box box-md box-light">
  <span class="fleuron-star-wide top" aria-hidden="true"></span>
  <span class="fleuron-star bottom left" aria-hidden="true"></span>
  <span class="fleuron-star-alt bottom right" aria-hidden="true"></span>
  <p>This box includes three different fleurons in three places.</p>
  <p>Every psychic reader at Psychic Source uses a variety of gifts and tools to give you the most insightful, revealing, and helpful reading possible. Many of our gifted psychic readers were born with their psychic gifts, discovering that they possessed these special abilities at an early age. Often the psychic gifts run in the family and are passed down from generation to generation.</p>
</div>
