---
name: Full-Width Boxes
description: >
  Full boxes lack side borders or radii. They can act like default boxes at
  certain breakpoints by also including the `box-default-xs`, `box-default-sm`,
  `box-default-md` or `box-default-lg` classes.
---

<div class="box-full box-light">
  This box will always be "full-width."
</div>

<div class="box-full box-light box-default-sm">
  This box is full-width at small sizes, but becomes "normal" at a certain breakpoint.
</div>
