---
description: These boxes incorporate more complex and distinct styles, often with a specific use-case in mind.
---

<div class="box box-leaf-tr">
  <p>This box has a leafy flourish at the top-right corner.</p>
  <p>Every psychic reader at Psychic Source uses a variety of gifts and tools to give you the most insightful, revealing, and helpful reading possible. Many of our gifted psychic readers were born with their psychic gifts, discovering that they possessed these special abilities at an early age. Often the psychic gifts run in the family and are passed down from generation to generation.</p>
</div>

<div class="box box-scroll">
  <p>This box has scroll flourishes on the top and bottom.</p>
  <p>Every psychic reader at Psychic Source uses a variety of gifts and tools to give you the most insightful, revealing, and helpful reading possible. Many of our gifted psychic readers were born with their psychic gifts, discovering that they possessed these special abilities at an early age. Often the psychic gifts run in the family and are passed down from generation to generation.</p>
</div>
