---
description: These boxes have starbursts in their corners, a decorative flourish used in the account section.
---

<div class="row">
  <div class="col-md-3">
    <div class="box box-light box-md box-teal">
      <p>This is a box with content in it.</p>
    </div>
    <div class="scatter-stars top-left">
      <svg class="icon icon-lg red">
        <use xlink:href="/images/symbol/svg/sprite.symbol.svg#starburst" />
      </svg>
      <svg class="icon icon-md blue">
        <use xlink:href="/images/symbol/svg/sprite.symbol.svg#starburst" />
      </svg>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box box-light box-md box-teal">
      <p>This is a box with content in it.</p>
   </div>
    <div class="scatter-stars top-right">
      <svg class="icon icon-lg orange">
        <use xlink:href="/images/symbol/svg/sprite.symbol.svg#starburst" />
      </svg>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box box-light box-md box-teal">
      <p>This is a box with content in it.</p>
    </div>
    <div class="scatter-stars bottom-left">
      <svg class="icon icon-md blue">
        <use xlink:href="/images/symbol/svg/sprite.symbol.svg#starburst" />
      </svg>
      <svg class="icon icon-lg red">
        <use xlink:href="/images/symbol/svg/sprite.symbol.svg#starburst" />
      </svg>
      <svg class="icon icon-xl orange">
        <use xlink:href="/images/symbol/svg/sprite.symbol.svg#starburst" />
      </svg>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box box-light box-md box-teal">
      <p>This is a box with content in it.</p>
    </div>
    <div class="scatter-stars bottom-right">
      <svg class="icon icon-md tan">
        <use xlink:href="/images/symbol/svg/sprite.symbol.svg#starburst" />
      </svg>
      <svg class="icon icon-lg orange">
        <use xlink:href="/images/symbol/svg/sprite.symbol.svg#starburst" />
      </svg>
      <svg class="icon icon-xl blue">
        <use xlink:href="/images/symbol/svg/sprite.symbol.svg#starburst" />
      </svg>
    </div>
  </div>
</div>