---
name: Offer Selection
description: Promo code entry and behavior for signup form (account).
---

  <label>Select an offer </label>
  <div class="arrange arrange-equal arrange-gutter btn-group" data-toggle="buttons">
    <div class="arrange-fit">
      <label for="30min" class="btn btn-primary enrollment-plan-option active" data-discount-for="form-group-promo">
        <b>30 Min<span class="hidden-xs">utes</span></b> for <span class="js-price-amount" data-amount="30.00">$30.00</span> <span class="js-price-discounted" data-amount="22.50"></span>
        <input type="radio" name="signupOffer" value="30" id="30min" checked />
      </label>
    </div>
    <div class="arrange-fit">
      <label for="20min" class="btn btn-primary enrollment-plan-option" data-discount-for="form-group-promo">
        <b>20 Min<span class="hidden-xs">utes</span></b> for <span class="js-price-amount" data-amount="20.00">$20.00</span> <span class="js-price-discounted" data-amount="15.00"></span>
        <input type="radio" name="signupOffer" value="20" id="20min" />
      </label>
    </div>
    <div class="arrange-fit">
      <label for="10min" class="btn btn-primary enrollment-plan-option" data-discount-for="form-group-promo">
        <b>10 Min<span class="hidden-xs">utes</span></b> for <span class="js-price-amount" data-amount="10.00">$10.00</span> <span class="js-price-discounted" data-amount="7.50"></span>
        <input type="radio" name="signupOffer" value="10" id="10min" />
      </label>
    </div>
  </div>
  <h3 class="text-primary text-center u-no-margin">...plus 3 minutes free!</h3>

 {{> forms/_promo-code }}