---
description: Payment fields with behavioral input masks. `input` element `data-` attributes configure plugin.
---

  <div class="form-group form-group-required">
    <label class="control-label" for="signupCCName">Name on card</label>
    <input type="text" class="form-control" id="signupCCName" value="" >
  </div>
  <div class="form-group form-group-required has-cards knows-card" data-mask data-mask-type="CreditCard">
    <label class="control-label" for="signupCCNumber">Credit card number</label>
    <input type="text" class="form-control" id="signupCCNumber" name="signupCCNumber" placeholder="1234 5678 9012 3456" pattern="[0-9]*" maxlength="19" />
    <ul class="creditcards">
      <li class="creditcard  creditcard-visa">Visa</li>
      <li class="creditcard  creditcard-mastercard">MasterCard</li>
      <li class="creditcard  creditcard-discover">Discover</li>
      <li class="creditcard  creditcard-amex">American Express</li>
      <li class="creditcard  creditcard-dinersclub">Diner's Club</li>
    </ul>
    <p class="help-block is-error-msg">Sorry, that doesn't look like a valid credit card number.</p>
  </div>
  <div class="form-group arrange arrange-equal arrange-gutter">
    <div class="form-group form-group-required arrange-fill" data-mask data-mask-type="ExpirationDate">
      <label class="control-label" for="signupCCExp">Expiration</label>
      <input type="text" class="form-control" id="signupCCExp" placeholder="MM/YY" pattern="[0-9]*" maxlength="5" />
      <p class="help-block is-error-msg">Please enter a future expiration date in the format 'MM/YY'.</p>
    </div>
    <div class="form-group form-group-required form-group form-group-signupCCCode arrange-fill" data-mask data-mask-type="CVV" data-mask-cvv-for="signupCCNumber">
      <label class="control-label" for="signupCCCode">Security code</label>
      <input type="text" class="form-control" id="signupCCCode" pattern="[0-9]*" maxlength="5" />
      <span class="creditcard  creditcard-cvv" aria-hidden="true"></span>
      <p class="help-block is-error-msg">Sorry, that doesn't look like a valid CVV.</p>
    </div>
  </div>
