---
description: Payment fields with behavioral input masks. `input` element `data-` attributes configure plugin.
---

  <div class="form-group form-group-required">
    <label class="control-label" for="signupCCName">Name on card</label>
    <input type="text" class="form-control" id="signupCCName" value="" >
  </div>
  <div class="form-group form-group-required knows-card" data-mask data-mask-type="CreditCard">
    <label class="control-label" for="signupCCNumber">Credit card number</label>
    <input type="text" class="form-control" id="signupCCNumber" name="signupCCNumber" placeholder="1234 5678 9012 3456" pattern="[0-9]*" maxlength="19" />
    <ul class="list-unstyled u-margin-top">
      <li class="creditcard-visa"><span class="sr-only">Visa</span></li>
      <li class="creditcard-mastercard"><span class="sr-only">MasterCard</span></li>
      <li class="creditcard-discover"><span class="sr-only">Discover</span></li>
      <li class="creditcard-amex"><span class="sr-only">American Express</span></li>
      <li class="creditcard-dinersclub"><span class="sr-only">Diner's Club</span></li>
    </ul>
    <p class="help-block is-error-msg">Sorry, that doesn't look like a valid credit card number.</p>
  </div>
  <div class="form-group arrange arrange-equal arrange-gutter">
    <div class="form-group form-group-required arrange-fill" data-mask data-mask-type="ExpirationDate">
      <label class="control-label" for="signupCCExp">Expiration</label>
      <input type="text" class="form-control" id="signupCCExp" placeholder="MM/YY" pattern="[0-9]*" maxlength="5" />
      <p class="help-block is-error-msg">Please enter a future expiration date in the format 'MM/YY'.</p>
    </div>
    <div class="form-group form-group-required form-group arrange-fill" data-mask data-mask-type="CVV" data-mask-cvv-for="signupCCNumber">
      <label class="control-label" for="signupCCCode">Security code</label>
      <div class="with-inset-creditcard">
        <input type="text" class="form-control" id="signupCCCode" pattern="[0-9]*" maxlength="5" />
        <span class="creditcard-cvv" aria-hidden="true"></span>
      </div>
      <p class="help-block is-error-msg">Sorry, that doesn't look like a valid CVV.</p>
    </div>
  </div>
