---
status: inprogress
---

<p>This is a paragraph above the list to gauge indentation.</p>
<ul>
  <li>This is an unordered list.</li>
  <li>There are three items in this list.</li>
  <li>This is the last item in this list.</li>
</ul>
<p>This is a paragraph below the list to gauge indentation.</p>
<ol>
  <li>This is an ordered list.</li>
  <li>There are three items in this list.</li>
  <li>This is the last item in this list.</li>
</ol>
 <p>This is a paragraph below the list to gauge indentation.</p> 