---
description: >
  Place all list items on a single line with `display: inline-block;` and some light padding.
bootstrap: http://getbootstrap.com/css/#type-lists
---

<ul class="list-inline">
  <li>Lorem ipsum</li>
  <li>Phasellus iaculis</li>
  <li>Nulla volutpat</li>
</ul>
