$white: #fff;
$blue: #529CCE;
$blue-medium: lighten($blue, 10%);
$orange: #FF5F25;
$gray-dark: #333;
$gray-medium: #888;
$gray-light: #bbb;
$gray-lighter: #f9f9f9;
$gray-divider: darken($gray-lighter, 5%);

$screen-s: (400 / 16 * 1em);
$screen-m: (768 / 16 * 1em);
$screen-l: (960 / 16 * 1em);
$screen-xl: (1140 / 16 * 1em);

$screen-s-max: (($screen-m * 16 - 1) / 16);

@mixin visuallyhidden() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.c4-banner {
  background-color: $blue-medium;
  color: $white;
  padding: 1rem;
  padding-left: 20%;
  padding-right: 3.5rem;
  position: relative;

  @media (min-width: $screen-s) {
    padding-left: 4rem;
  }

  @media (min-width: $screen-m) {
    padding-right: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

.c4-logo {
  display: block;
  left: 10%;
  margin-left: (12.5% / -2);
  margin-top: (256 / 386 * 12.5% / -2);
  position: absolute;
  top: 50%;
  width: 12.5%;

  img {
    max-width: 100%;
  }

  @media (min-width: $screen-s) {
    left: (4rem / 2);
    margin-left: (2.75rem / -2);
    margin-top: (256 / 386 * 2.75rem / -2);
    width: 2.75rem;
  }
}

.c4-masthead {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2;
  margin: 0.25rem 0 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  @media (min-width: $screen-m) {
    font-size: 1.125rem;
    margin-top: 0;
  }
}

.c4-menu-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/62127/c4-hamburger.svg) center no-repeat;
  border: 0;
  border-radius: 0.25rem;
  height: 2.5rem;
  width: 2.75rem;
  padding: 0;
  position: absolute;
  top: 50%;
  margin-top: -1.25rem;
  right: 0;
  outline: 0;

  &:hover,
  &:focus {
    background-color: lighten($blue, 20%);
  }

  span {
    @include visuallyhidden();
  }

  @media (min-width: $screen-m) {
    display: none;
  }
}

.c4-nav,
.c4-main {
  box-sizing: border-box;
}

.c4-nav {
  background-color: $gray-lighter;
  display: none;
  padding-bottom: 1rem;
  padding-top: 0.5rem;

  &.c4-open {
    display: block;
  }

  @media (min-width: $screen-m) {
    display: block;
    /* border-bottom-right-radius: 0.5rem; */
    float: left;
    padding-top: 1.5rem;
    width: (1 / 4 * 100%);
  }

  @media (min-width: $screen-xl) {
    width: (1 / 5 * 100%);
  }
}

.c4-main {
  @media (min-width: $screen-m) {
    float: left;
    width: (3 / 4 * 100%);
  }

  @media (min-width: $screen-xl) {
    width: (4 / 5 * 100%);
  }
}

.c4-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.c4-nav-heading,
.c4-nav-item {
  line-height: 1.3;
  margin: 0;
  padding: 0.5rem 1rem;
}

.c4-nav-heading {
  color: $gray-dark;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.c4-nav-item {
  color: $blue;
  display: block;
  position: relative;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: darken($gray-lighter, 3%);
    color: darken($blue, 3%);
  }

  &.c4-current {
    background-color: $white;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 2px rgba(0,0,0,0.05);
    color: $orange;
    border-right: 4px solid $orange;
    margin-right: -4px;
    z-index: 2;
  }
}

.c4-footer {
  color: $gray-light;
  clear: both;
  border-top: 1px solid $gray-divider;
  font-size: 0.875rem;
  line-height: 1.5;
  overflow: hidden; // lean clearfix
  padding: 1rem;

  p {
    margin: 0;
  }

  a {
    color: $blue;
    display: block;
    margin-top: 1rem;
    text-decoration: none;

    @media (min-width: $screen-m) {
      display: inline;
      margin: 0;
    }
  }
}

.c4-pattern {
  border-top: 1px solid $gray-divider;
  padding: 1rem;

  @media (min-width: $screen-m) {
    padding: 1.5rem 2rem;
  }

  &:first-child {
    border-top-width: 0;
  }
}

.c4-pattern-description {
  color: $gray-medium;
}

.c4-pattern-title {
  color: $gray-dark;
  font-size: 1.375rem;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;

  @media (min-width: $screen-m) {
    font-size: 1.625rem;
  }
}

.c4-pattern-source {
  margin-top: 1.5rem;

  pre {
    background-color: $gray-lighter;
    //border-radius: 0.5rem;
    box-shadow: inset 0 2px 0 rgba(0,0,0,0.05);
    color: $gray-medium;
    display: none;
    font-size: 0.875rem;
    line-height: 1.4;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1rem;
    position: relative;
    white-space: pre-wrap;

    @media (min-width: $screen-m) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &:target,
  &.c4-open {
    pre {
      display: block;
    }
  }
}

.c4-pattern-source-toggle {
  color: $blue;
  text-decoration: none;

  &:before {
    content: '</>';
    display: inline-block;
    font-family: monospace;
    font-weight: bold;
    line-height: 1;
    margin-right: 0.25rem;
  }
}
