<div class="advisor-tile">
  <a class="link-block advisor-tile-main advisor-tile-group" href="#">
    <div class="advisor-tile-main-object">
      <img
        class="img-rounded img-shadow"
        src="http://www.psychicsource.com/images/psychics/7777-sml.jpg"
        alt=" ">
    </div>
    <div class="advisor-tile-main-body">
      <h4 class="text-primary">Mystery Reader x7777</h4>
      <div class="advisor-tile-meta">
        <p class="advisor-tile-meta-group stars stars-4-5">
          4&frac12; stars
        </p>
        <p class="advisor-tile-meta-group">
          <del class="text-muted">$7.45</del> <b>$1.00/min</b>
        </p>
      </div>
      <p class="text-success"><b>Available</b> till 7:45pm</p>
    </div>
  </a>
  <ul class="arrange arrange-equal arrange-gutter advisor-tile-group">
    <li class="arrange-fill">
      <a class="btn btn-block btn-success btn-shaded" href="#">Chat Now</a>
    </li>
    <li class="arrange-fill">
      <a class="btn btn-block btn-success btn-shaded" href="#">Call Now</a>
    </li>
  </ul>
</div>
