---
fullWidth: true
status: inprogress
---
<div class="advisor-tiles u-shift-up">
  <div class="row">
    {{#each advisor.list}}
      <div class="col-xs-12 col-md-6 col-lg-4">
        {{> advisors/_advisor-tile}}
      </div>
      {{#ifNth 2 @index}}
        <div class="clearfix visible-md-block"></div>
      {{/ifNth}}
      {{#ifNth 3 @index}}
        <div class="clearfix visible-lg-block"></div>
      {{/ifNth}}
    {{/each}}
  </div>
</div>

<script>
$(window).load(function(){
  var $tiles = $('.advisor-tiles .advisor-tile');
  $tiles.leveller({
    cssSelector: '.advisor-tile-actions',
    cssProperty: 'margin-top'
  });
  $(window).resize($.debounce(function(){
    $tiles.leveller();
  }, 250));
});
</script>
