---
fullWidth: true
status: inprogress
description: Variations on advisor availability combinations
---

<div class="advisor-availabilities">
  {{#each availability.list}}
    <div class="box-full box-light">
      {{> advisors/_advisor-summary}}
    </div>
  {{/each}}
</div>
