<ul class="arrange arrange-50 arrange-gutter advisor-tile-group js-advisor-tile-actions">
  {{#if available}}
    {{#if chat}}
      <li class="arrange-fill">
        <a class="btn btn-block btn-sm btn-success btn-shaded btn-narrow" href="#">Chat Now</a>
      </li>
    {{/if}}
    {{#if call}}
      <li class="arrange-fill">
        <a class="btn btn-block btn-sm btn-success btn-shaded btn-narrow" href="#">Call Now</a>
      </li>
    {{else}}
      {{#if returnCall}}
        <li class="arrange-fill">
          <a class="btn btn-block btn-sm btn-default btn-shaded btn-narrow" href="#">Get Return Call</a>
        </li>
      {{/if}}
    {{/if}}
  {{else}}
    {{#if returnCall}}
      <li class="arrange-fill">
        <a class="btn btn-block btn-sm btn-default btn-shaded btn-narrow" href="#">Get a Return Call</a>
      </li>
    {{else}}
      <li class="arrange-fill">
        <a class="btn btn-block btn-sm btn-default btn-shaded btn-narrow" href="#">View Schedule</a>
      </li>
    {{/if}}
  {{/if}}
</ul>
