<div class="advisor-tile">
  <div class="advisor-tile-object">
    <a href="">
      <img src="http://www.psychicsource.com/images/psychics/7777-sml.jpg" alt=" " class="img-responsive img-rounded img-shadow">
    </a>
  </div>
  <div class="advisor-tile-body">
    <h3 class="advisor-tile-heading"><a href="">Barbara x7866</a></h3>
    <p class="advisor-tile-rating"><a href="" class="stars stars-4-5">4&frac12; stars</a></p>
    <p class="advisor-tile-availability text-success" style="margin-bottom: 0.25em;">
      <b>I&rsquo;m Available</b>
      <small>until 7:42pm</small>
    </p>
    <p class="small" style="margin-top: 0;">
      <del class="text-muted">$7.45</del>
      <b>$1.00/min</b>
    </p>
  </div>
  <div class="advisor-tile-actions">
    <ul>
      <li>
        <a class="btn btn-block btn-success btn-shaded" href="#">
          Chat Now
        </a>
      </li>
      <li>
        <a class="btn btn-block btn-success btn-shaded" href="#">
          Call Me Now
        </a>
      </li>
    </ul>
    {{!-- <p class="text-center small">
      <del class="text-muted">$7.45</del>
      <b>$1.00/min</b>
    </p> --}}
    {{!-- <div class="btn-group btn-group-justified" role="group">
      <a class="btn btn-default btn-shaded" href="#">
        Chat Now
      </a>
      <a class="btn btn-success btn-shaded" href="#">
        Call Me Now
      </a>
    </div> --}}
    {{!-- <ul class="list-inline">
      <li>
        <a class="btn btn-info btn-shaded" href="#">
          <span style="font-size:1.5em;font-weight:normal;line-height:1;vertical-align:-0.1em">&#9742;</span>
          Chat Now
        </a>
      </li>
      <li>
        <a class="btn btn-success btn-shaded" href="#">
          <span style="font-size:1.5em;font-weight:normal;line-height:1;vertical-align:-0.1em">&#9742;</span>
          Call Me Now
        </a>
      </li>
    </ul> --}}
  </div>
</div>
