---
status: inprogress
---

<p>
  <a href="#" class="btn btn-lg">I am a large button</a>
  <a href="#" class="btn btn-sm">I am a small button</a>
</p>

<p>
  <a href="#" class="btn btn-full">I am a full width button</a>
</p>




