---
description: >
  Special button style that works with Bootstrap's button components to allow
  toggling of a "favorited" state.
status: inprogress
bootstrap: http://getbootstrap.com/javascript/#buttons-stateful
---

<button
  type="button"
  class="btn btn-fave btn-rounded btn-shaded"
  data-toggle="button"
  data-favorite-text="Favorited"
  aria-pressed="false">
  Favorite
</button>

<script>
$(function(){

  $('.btn-fave').on('click', function () {
    var $element = $(this);
    var newState = $element.hasClass('active') ? 'reset' : 'favorite';
    $element.button(newState);
  });

});
</script>
