---
status: inprogress
---

<p>
  <button class="btn btn-sm btn-default btn-shaded">
    <i class="icon-fave" aria-hidden="true"></i>
    <span class="small">Add to Favorites</span>
  </button>
  <button class="btn btn-sm btn-default btn-shaded active">
    <i class="icon-fave" aria-hidden="true"></i>
    <span class="small">Remove Favorite</span>
  </button>
</p>
