---
description: >
  These social buttons are image-based and need an entirely unique pattern as a
  result. They can be applied using a service-specific classname such as
  `.social-btn-twitter`, or by applying `.social-btn` to a link with a URL
  containing a specific segment (such as `twitter.com`).
---

<ul class="list-inline">
  <li><a class="social-btn" href="http://www.facebook.com/PsychicSource1989">Facebook</a></li>
  <li><a class="social-btn" href="http://twitter.com/PsychicSource">Twitter</a></li>
  <li><a class="social-btn" href="http://www.youtube.com/user/psychicsource?feature=watch">YouTube</a></li>
  <li><a class="social-btn" href="http://pinterest.com/psychicsource/">Pinterest</a></li>
  <li><a class="social-btn" href="https://plus.google.com/u/0/b/101385836272062376146/">Google+</a></li>
  <li><a class="social-btn" href="http://instagram.com/psychicsource">Instagram</a></li>
</ul>
