---
description: >
  Adding `.with-pagination` to an element attempts to align it well with
  adjacent pagination components.
status: inprogress
---
<nav class="text-center text-right-md text-right-lg">
  <div class="with-pagination hidden-xs">
    <span class="small">
      <b>1</b>-<b>9</b> of <b>289</b>
    </span>
  </div>
  <div class="with-pagination hidden-xs">
    <select>
      <option value="9">9 per page</option>
      <option value="15">15 per page</option>
      <option value="30">30 per page</option>
    </select>
  </div>
  <ul class="pagination">
    <li class="disabled"><a href="#"><span class="arrow-left-equilateral" aria-hidden="true"></span><span class="sr-only">Previous</span></a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li class="disabled"><span>&hellip;</span></li>
    <li><a href="#">35</a></li>
    <li><a href="#"><span class="arrow-right-equilateral" aria-hidden="true"></span><span class="sr-only">Next</span></a></li>
  </ul>
</nav>
