---
description: >
  One or more secondary navigation links. Goes well in a sidebar. Use
  `.subnav-item-next` to show a rightward arrow at smaller breakpoints.
---

<ul class="subnav subnav-group">
  {{#times 5}}
    <li>
      <a class="subnav-item subnav-item-next" href="">
        Link text
      </a>
    </li>
  {{/times}}
</ul>
