---
description: >
  Subnavs are not limited to lists. Use `.subnav-heading` and `.subnav-body` to
  show summary content below an item.
---

<div class="subnav">
  <h3 class="subnav-heading">
    <a href="" class="subnav-item subnav-item-next">
      Heading text
    </a>
  </h3>
  <div class="subnav-body">
    Content, content, content!
  </div>
</div>
