$account-padding: ($line-height-computed * (2/3)) !default;
.account-box {
  padding-left: $account-padding;
  padding-right: $account-padding;  
  @media (max-width: $screen-sm-min)  {
    padding-top: 0;
  }
}

.account-home-section { 
  padding: $account-padding;
  border: 1px solid $gray-lighter;
  box-shadow: 0 0 8px $gray-lighter;
  border-radius: $border-radius-large;
  margin: 0 0 $account-padding;
  position: relative;
  @media (max-width: $screen-sm-min)  {
    border: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    box-shadow: none;
  }
}

.account-home-section-heading {
  margin-top: 0;
  @media (max-width: $screen-sm-min)  {
    margin: ($account-padding * -1) ($account-padding * -1) $account-padding ($account-padding * -1);
    padding: ($account-padding * 0.5) $account-padding;
    background: $gray-lighter;
    border-bottom: 1px solid $gray-light;
  }
}

.account-current-balance {
  text-align: center;
  font-size: 0.9em;
}

.account-balance {
  display: block;
  font-size: 3em;
  font-weight: 800;
  line-height: 1em;
  sup {
    vertical-align: middle;
    font-size: 0.6em;
  }
}

.balance-footnote {
  font-size: 0.9em;
  display: block; 
}

.balance-summary {
  li {
    padding: 0.5em;
  }
  @media (min-width: $screen-sm-min)  {
    strong {
      display: block;
      float: right;
    }
    .has-balance-footnote {
      margin-right: -0.6em;
    }
  }
}

.account-favorites {
  margin-bottom: $account-padding;
  @media (max-width: $screen-sm-min)  {
    .advisor-tile-main-object {
      display: none;
    }
    margin-top: ($account-padding * -1);
  }
  @media (max-width: $screen-md-min)  {
    margin-right: ($account-padding * -1);
    margin-left: ($account-padding * -1);
  }
} 

.tabs-horoscope {
  margin-left: ($account-padding * -1);
  margin-right: ($account-padding * -1);
  padding-left: $account-padding;
  margin-bottom: $account-padding;
  @media (max-width: $screen-sm-min)  {
    > li > a {
      padding-left: ($padding-base-horizontal * 0.75);
      padding-right: ($padding-base-horizontal * 0.75);
    }
  }
}