.advisor-tile-group {
  margin-bottom: ($line-height-computed / 1.5);
  margin-top: ($line-height-computed / 1.5);
}

.advisor-tile-main {
  display: table;
  width: 100%;
}

.advisor-tile-main-object,
.advisor-tile-main-body {
  display: table-cell;
  vertical-align: middle;
}

.advisor-tile-main-object {
  padding-right: $line-height-computed;
  width: 1%;

  img {
    display: block;
    width: em(72px - $line-height-computed);
  }
}

.advisor-tile-main-body {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

.advisor-tile-meta-group {
  display: inline-block;
  margin-right: ($line-height-computed / 3);
  vertical-align: middle;
  white-space: nowrap;

  &:last-child {
    margin-right: 0;
  }
}
