.advisor-promo {
  padding: ($advisor-tile-padding / 1.5);
  a {
    display: block;
    border-radius: $border-radius-large;
//    border: 1px solid $red;
//    background: lighten($red, 45%);
    padding: ($grid-gutter-width/5) 3.8em ($grid-gutter-width/5) ($grid-gutter-width/3);
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
    pointer: cursor;
    &:after {
      position: absolute;
      display: block;
      content:"";
      top: 0;
      right: 0;
      width: 6em;
      height: 5em;
      background: url(/images/promotion/offer-sale-25.svg) right 0 no-repeat;
      background-size: 100% auto;
      @media (min-width: $screen-lg-min) {
        width: 5em;
        top: ($advisor-tile-padding / 3);
        right: ($advisor-tile-padding / 4);
      } 
    }  
  }
  @media (min-width: $screen-md-min) {
    padding-right: $grid-gutter-width;
    padding-left: $grid-gutter-width;
  }
  @media (min-width: $screen-lg-min) {
    padding-top: 10px;
    position: absolute;
    z-index: 300;
    top:0;
    right:0;
    a {
      font-size: 0.9em;
    }
  }
}