//= variables

$advisor-tile-padding: ($line-height-computed * (2/3)) !default;

$advisor-tile-padding-horizontal: ($line-height-computed * (2/3)) !default;
$advisor-tile-padding-vertical: ($advisor-tile-padding-horizontal / 1.5) !default;
$advisor-tile-photo-width: em(72px - ($line-height-computed / 2)) !default;

//= core component

.advisor-tile {
  background-color: #fff;
  border: 0 solid $gray-lighter;
  position: relative;

  &:hover,
  &:focus {
    background-color: $orange-lighter;
    border-color: $tan;
    z-index: 2;
  }

  .advisor-tiles & {
    border-width: 1px 0;
    margin-top: -1px;
  }
}

.advisor-tile-group {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 $advisor-tile-padding-horizontal $advisor-tile-padding-vertical;

  &:first-child {
    padding-top: $advisor-tile-padding-horizontal;
  }
  &:last-child {
    padding-bottom: $advisor-tile-padding-horizontal;
  }
}

.advisor-tile-main {
  display: table;
  width: 100%;
}

.advisor-tile-main-object,
.advisor-tile-main-body {
  display: table-cell;
  vertical-align: middle;
}

.advisor-tile-main-object {
  padding-right: ($line-height-computed / 2);
  text-align: center;
  width: 1%;
}

.advisor-tile-main-body {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

.advisor-tile-photo {
  display: inline-block;
  width: $advisor-tile-photo-width;

  img {
    display: block;
    max-width: 100%;
  }
}

.advisor-tile-heading,
.advisor-tile-meta-group {
  margin-bottom: ($advisor-tile-padding-vertical / 2);
}

.advisor-tile-meta-group {
  display: inline-block;
  margin-right: ($line-height-computed / 3);
  vertical-align: middle;
  // white-space: nowrap;

  &:last-child {
    margin-right: 0;
  }
}

//= modifiers

@mixin make-advisor-tile-tall() {
  border-radius: $border-radius-large;

  // .advisor-tiles & {
  //   border-width: 1px;
  //   margin-bottom: ($grid-gutter-width / 2);
  //   margin-top: ($grid-gutter-width / 2);
  // }

  .advisor-tile-main,
  .advisor-tile-main-object,
  .advisor-tile-main-body {
    display: block;
  }

  .advisor-tile-main-object {
    margin-bottom: $advisor-tile-padding-vertical;
    padding-right: 0;
    width: 100%;
  }

  .advisor-tile-photo {
    max-width: 100%;
    width: auto;
  }
}

@mixin make-advisor-tiles-tall() {
  .advisor-tile {
    border-width: 1px;
    margin-bottom: ($grid-gutter-width / 2);
    margin-top: ($grid-gutter-width / 2);
    @include make-advisor-tile-tall();
  }
}

@media (min-width: $screen-md-min) {
  .advisor-tiles-tall-md {
    @include make-advisor-tiles-tall();
  }
}

@media (min-width: $screen-lg-min) {
  .advisor-tile-tall-lg {
    @include make-advisor-tile-tall();
  }
}
