$bio-padding: ($line-height-computed * (2/3)) !default;
.box-bio { 
  padding: $bio-padding;
  position: relative;
  @media (min-width: $screen-md-min) {
    padding: ($bio-padding * 2);
  }
}
.bio-head {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    border: 1px solid $gray-lighter;
    box-shadow: 0 0 8px $gray-lighter;
    padding: $bio-padding;
    border-radius: $border-radius-large;
    margin: 0 0 $line-height-computed;
  }
}
.bio-advisor-summary {
  text-align: center;
  border: 1px solid $gray-lighter;
  box-shadow: 0 0 8px $gray-lighter;
  padding: $bio-padding;
  border-radius: $border-radius-large;
  margin: 0 0 $line-height-computed;
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    text-align: left;
    padding: 0;
    box-shadow: none;
    border: 0;
    display: inline;
    margin:0;
  }
}
.bio-name {
  margin:0;
}
.bio-headline {
  font-weight: bold;
  margin:0 0 0.3em;
}
.bio-photo {
  display: block;
  position: relative;
  max-width: 175px;
  margin: 0 auto $bio-padding;
  img {
    display: block;
    border-radius: $border-radius-small;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    float:left;
    margin-right: $grid-gutter-width;
  }
  @media (min-width: $screen-lg-min) {
    max-width: 330px;
    img {
      border-radius: $border-radius-large;
    }
  }
}
.bio-photo-fave {
  position: absolute;
  bottom: ($bio-padding/2);
  right: -1.25em;
  margin:0;
  display: block;
  a {
    display:block;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    border-radius: 0.5em;
    background: lighten($red,20%);
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid $red-darker;
    .icon-lg {
      vertical-align: -0.55em;
    }
    &:hover,
    &:focus { 
      background: $red;
    }
  }
}
.bio-photo-fave.is-faved a,
.bio-photo-fave.is-faved a:hover,
.bio-photo-fave.is-faved a:focus { 
  background: lighten($red, 30%);
  color: $red;
  border-color: $red;
}  
.bio-audio-video {
  background: $gray-lighter;
  border-radius: $border-radius-small; 
  display: table;
  width: 100%;
  > p {
    width: 50%;
    display: table-cell;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: calc(100% - (#{$grid-gutter-width} + 175px));
    background: transparent;
    margin-bottom: ($bio-padding / 2);
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    > p {
      display: inline-block;
      width: auto;
      text-align: left;  
      margin:0;
    }
  }
}
.bio-av-btn {
  font-weight: normal;
  display: inline-block;
  white-space: nowrap;
  color: $blue;
  padding: 0.3em;
  &:hover,
  &:focus {
    text-decoration: underline;
    color: $blue;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    padding-left: 0;
    margin-right: 1em;
  }
}
.bio-actions {
  width: calc(100% + #{$arrange-gutter-size});
  margin-bottom:0;
  > .arrange-fill {
    width: 50%;
  }
}
.bio-price {
  font-size: 0.9em;
  display: block;
  text-align:center;
  font-weight: 800;  
  margin-top: 0.2em;
  del {
    color: $gray-light;
    font-weight: normal;
  }
}
.bio-availability {
  text-align: center;
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: calc(100% - (#{$grid-gutter-width} + 175px));
    margin-left: calc(#{$grid-gutter-width} + 175px);
    text-align: left;
  }
}
.text-available {
  color: $green;
}
.text-unavailable {
  color: $red;
}
.bio-section-header {
  margin:0;
  position: relative;
  clear: both;
  @media (max-width: $screen-md-min) {
    margin-left: -($bio-padding);
    margin-right: -($bio-padding);
  }
}
a.section-parent {
  display: block;
  position: relative;
  padding: ($bio-padding/2) ($bio-padding*3) ($bio-padding/2) $bio-padding;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-color: $gray-lighter;
  border-style: solid;
  border-width: 1px 0;
  background-color: lighten($gray-lighter, 10%);
  background-image: linear-gradient(
    to bottom,
    lighten($gray-lighter, 15%),
    lighten($gray-lighter, 10%)
  );
  &:hover,
  &:focus {
    background-image: linear-gradient(to bottom, #fff, $tan-light);
    border-color: $tan;
  }
  &:after {
    position: absolute;
    right: $bio-padding;
    top: ($bio-padding/2);
    content: '\2013';
    height: $filter-control-size;
    font-weight: bold;
    line-height: $filter-control-size;
    text-align: center;
    width: $filter-control-size;
  }
  &.collapsed:after {
    content: '+';
  }
  @media (min-width: $screen-md-min) {
    background: transparent;
    border:0;
    cursor: default;
    &.collapsed:after, &:after {
      content:'';
    }
    &:hover,
    &:focus {
      background: transparent;
    }
  }
  @media (min-width: $screen-md-min) {
    padding-left:0;
  }
}
.collapse.show-md {
  @media (min-width: $screen-md-min) {
    display: block;
    visibility: visible;
  }
}
.bio-section-teaser {
  padding: ($line-height-computed/2) $bio-padding;
  margin: 0 (-$bio-padding);
  @media (min-width: $screen-md-min) {
    padding:0;
    margin: 0 0 1em;
  }
}
.time-zone-picker {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    float: right;
    margin-top: -2.7em;
  }
}
.similar-advisors {
  @media (max-width: $screen-md-min) {
    margin-left: -($bio-padding);
    margin-right: -($bio-padding);
  }
}


