.carousel {
	width: 100%;
	position: relative;
}
.carousel .carousel-item {
	display: none;
}
.carousel .carousel-active {
	display: block;
}
.carousel .carousel-nav:nth-child(2) {
	display: none;
}

.carousel {
 margin: 10px auto;
 max-width: 400px;
 font-family: sans-serif;
 position: relative;
}
.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}
.carousel-nav {
  position: absolute;
  bottom: 0;
  z-index: 4;
  width: 100%;
}



/* peek */
.carousel.peek {
   max-width: 400px;
   	@media (min-width: $screen-md-min) {
   	}
}

.carousel.peek .carousel-item {
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	-ms-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	transition: opacity .5s ease;
		img {
			border-radius: $border-radius-large;
		}
		@media (min-width: $screen-md-min) {
			display: none;
   		}  
}

.carousel.peek .carousel-item-prev,
.carousel.peek .carousel-item-next {
  width: 65%;
  display: block;
  opacity: .5;
  position:  absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.carousel.peek .carousel-item-next {
  right: -50%;
  left: auto;
  	@media (min-width: $screen-md-min) {
  		right: 0;
  	}
}

.carousel.peek .carousel-item-prev {
	left: -47%;
		@media (min-width: $screen-md-min) {
			left: 0;
		}
}

.carousel.peek .carousel-active {
  width: 65%;
  opacity: 1;
  position: relative;
  left: 19%;
  z-index: 2;
  border-radius: $border-radius-large;
  box-shadow: .2em .2em .5em #aaa;
  @media (min-width: $screen-md-min) {
		display: block;
		left: 0;
		width: 100%;		
	}
}

.carousel.peek .carousel-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.carousel.peek .carousel-nav a {
  background-color: transparent;
  background-image: url(/images/rotator/arrow-left.png);
  background-position: 20px;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 20%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
}
.carousel.peek .carousel-nav a.next {
  background-image: url(/images/rotator/arrow-right.png);
  left: auto;
  right: 0;
}