.tabpanel-pane .eligible-readings {
  background: white;
  margin: 0 ($line-height-computed * -1) ($line-height-computed * -0.5);
  width: calc(100% + #{$line-height-computed * 2});
}
.eligible-reading {
  border-top: 1px solid $gray-lighter;
  background: white;
  padding: ($padding-base-vertical * 2) $line-height-computed;
  position: relative;
  &.is-deemphasized .btn-primary {
    background: $gray-light;
    border-color: $gray;
  }
}
.eligible-reading-summary {
  display: table;
  @media (min-width: $screen-sm-min)  {
    // provides space for rate and review button or ineligible text
    margin-right: 13em;
  }
}
.eligible-reading-advisor-photo,
.eligible-reading-main {
  display: table-cell;
  vertical-align: top;
}
.eligible-reading-advisor-photo {
  // the text next to this photo will almost always be 3 lines, 
  // 50px is large enough to be clear and readable and balances the text well.
  width: 50px;
}
.eligible-reading-main {
  padding: 0 0 0 $padding-base-horizontal;
}
.eligible-reading-advisor-name,
.eligible-reading-type,
.eligible-reading-date {
  margin:0;
}
.eligible-reading-advisor-name {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
}
.eligible-reading-date {
  font-weight: bold;
  color: $gray;
}
.add-review-parent {
  display: block;
  margin-top: ($padding-base-vertical * 2);
  @media (min-width: $screen-sm-min)  {
    // width based on button label
    width: 12em;
    position: absolute;
    top: ($padding-base-vertical * 2);
    right: $line-height-computed;
    margin: 0;
  }
}
.add-review {
  margin-top: ($padding-base-vertical * 2);
  // on narrow screens, the form replaces the triggering button
  @media (max-width: $screen-xs-max)  {
    margin-top: -2.6em;
  }
}
