$filter-padding-vertical: ($line-height-computed / 2) !default;
$filter-padding-horizontal: $padding-base-horizontal !default;
$filter-max-depth: 2 !default;
$filter-checkbox-size: 20px !default;

.filter-heading,
.filter-list {
  margin: 0;
  padding: 0;
}

.filter-list {
  list-style: none;
}

.filter-item {
  border-color: $gray-lighter;
  border-style: solid;
  border-width: 1px 0;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: $line-height-base;
  margin: -1px 0 0;
  overflow: hidden;
  padding:
    $filter-padding-vertical
    ($filter-padding-horizontal * 1.5 + $filter-checkbox-size)
    $filter-padding-vertical
    $filter-padding-horizontal;
  position: relative;

  &,
  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: $tan-light;
    border-color: $tan;
    z-index: 2;
  }

  $nested-selector: ".filter-list";
  @for $i from 2 through $filter-max-depth {
    $nested-selector: $nested-selector " .filter-list";
    #{$nested-selector} & {
      padding-left: ($filter-padding-horizontal * $i);
    }
  }
}

.filter-primary {
  background-color: lighten($gray-lighter, 10%);
  background-image: linear-gradient(
    to bottom,
    lighten($gray-lighter, 15%),
    lighten($gray-lighter, 10%)
  );
  font-weight: bold;

  &:hover,
  &:focus {
    background-image: linear-gradient(to bottom, #fff, $tan-light);
  }
}

.filter-checkbox,
.filter-parent.collapsible:after {
  margin-top: ($filter-checkbox-size / -2);
  right: $filter-padding-horizontal;
  position: absolute;
  top: 50%;
}

.filter-checkbox {
  input {
    @include visuallyhidden();
  }
}

.filter-checkbox-value {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $gray-light;
  border-radius: $border-radius-small;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
  display: inline-block;
  height: $filter-checkbox-size;
  width: $filter-checkbox-size;

  input:focus + & {
    border-color: $teal;
    box-shadow:
      inset 0 1px 1px rgba(0,0,0,0.15),
      0 0 0 3px lighten($teal, 25%);
  }

  input:checked + & {
    background-color: lighten($teal, 5%);
    background-image: url(/images/filter-check.svg);
    border-color: darken($teal, 10%);
  }
}

.filter-parent.collapsible {
  &:after {
    content: '\2013';
    height: $filter-checkbox-size;
    font-weight: bold;
    line-height: $filter-checkbox-size;
    text-align: center;
    width: $filter-checkbox-size;
  }
  &.collapsed:after {
    content: '+';
  }
}
