.home-alert {
  padding: 1em;
}

.advisors-available {
  text-align: left;
  a {
    margin: 0;
  }
}

.home-advisors {
  margin: 0 0 2em 0;
  overflow: auto;
}

.advisor-horizontal {
  width: 100%;
  overflow-x:scroll;
  white-space: nowrap;
  float:left;
  position: relative;
  @media (min-width: $screen-md-min) {
    overflow-x: normal;
    white-space: normal;
  }
}

.advisor-tile-simple {
	display: inline-block;
  font-size: .8em;
	width: 30%;
  h4 {
    font-weight: normal;
    margin-bottom: 0px;
  }
  p {
    display: block;
  }
  @media (min-width: $screen-md-min) {
    width: 20%;
    margin: 0 1em;
  }
}

.home-advisor-stars {
  margin: 0 0 0 10px;
}

.home-dash {
  border-radius: $border-radius-large;
  border: solid 1px $blue-light;
  margin: 0 0 1em 0; 
    p {
      margin: 0;
      padding: .2em;
    }
}

.balance-block {
  text-align: center;
    span {
      font-size: 1.2em;
      font-weight: bold;
    }
    a {
      vertical-align: 0;
    }
}

.advisor-line {
  border-top: solid 1px $blue-light;
  text-align: center;
  a {
      vertical-align: 0;
    }
}

.rotating-promo {
	background-color: $gray;
	color: #fff;
	text-align: center;
	vertical-align: center;
	padding:100px;
	text-transform: uppercase;
	font-weight: bold
}

.box-top-stories {
  background-color: transparent;
  h3 {
    color: $red;
  }
}

.top-stories {
  font-weight: bold;
  overflow: auto;
	img {
    float: left;
    margin-right: 1em;
		width: 6em;
	}
	p {
    font-size: .9em;
    padding: 0 1em 0 0;
    color: #000;
    span {
      color: $red;
      font-weight: normal;
      text-decoration: underline;
    }
	}
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.story {
  border-bottom: 1px dotted $tan;
  display: inline-block;
  padding: .5em 0;
  &:hover {
    background-color: $tan-light;
  }
  @media (min-width: $screen-md-min) {
    display: block;
    float: left;
    width: 50%;
  }
}

.home-video {
  text-align: center;
}
.home-scroll {
  text-align: center;
  h3, h4 {
    color: $red;
  }
}

.promo-pod {
  padding: 2em;
  @media (min-width: $screen-md-min) {
    border-top: 1px dotted $tan;
  }
  a {
    border-top: 1px dotted $tan;
    color: #000;
    display: inline-block;
    padding: 1em 0;
    text-align: center;
    width: 100%;
      &:hover {
        background-color: $tan-light;
        text-decoration: none;
      }
    @media (min-width: $screen-md-min) {
      float: left;
      border-top: none;
      padding: 0 20px;
      width: 30%;
  }

  }
  img {
    float: left;
    width: 8em;
  }
  h4 {
    color: $red;
  }
  span {
    color: $blue-light;
    span {
      color: $red;
    }
  }
}

.promo-questions {
  img {
    float: none;
    width: 12em;
  }
  h4 {
    font-weight: normal;
    color: $blue-light;
    font-size: 1.2em;
  }
  span {
    color: $orange;
  }
}