.home-alert {
  padding: 1em;
}

.home-rotator {
  margin-bottom: 2em;
  overflow: hidden;
}

.home-available-advisors {
  margin: 0;
  text-align: left;
  a {
    margin: 0;
  }
}

.home-advisor-horizontal {
  width: 100%;
  overflow-x:scroll;
  white-space: nowrap;
  float:left;
  margin: 1em;
  position: relative;
  @media (min-width: $screen-lg-min)  {
    overflow-x: normal;
    white-space: normal;
  }
}

.home-advisor-tile-simple {
  display: inline-block;
  border-radius: $border-radius-small;
  display: inline-block;
  text-align: center;
  width: 40%;
  a {
    color: #000;
    text-decoration: none;
  }
  &:hover {
    background: $tan-light;
  }
   @media (min-width: $screen-md-min) {
    width: 23%;
   }
}

.home-advisor-main-body {
  font-size: .7em;
  p, span {
    display: block;
  }
  p {
    margin-top: -1em;
  }
}

.home-adivsor-stars {
  margin: 1em auto;
}

.home-seocontent {
  background-color: transparent;
  h3 {
    color: $red;
  }
}

.home-top-stories {
  font-weight: bold;
  overflow: auto;
  margin: 0em 0 2em 0;
   @media (min-width: $screen-lg-min) {
    margin-top: -14em;
   }
	
  img {
    float: left;
    margin-right: 1em;
		width: 6em;
    @media (min-width: $screen-md-min) {
      width: 4em;
    }
	}
	p {
    font-size: .9em;
    padding: 0 1em 0 0;
    color: #000;
    span {
      color: $red;
      font-weight: normal;
      text-decoration: underline;
    }
    @media (min-width: $screen-lg-min) {
      font-size: .7em;
    }
	}
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.home-story {
  border-bottom: 1px dotted $tan;
  display: inline-block;
  padding: .5em 0;
  &:hover {
    background-color: $tan-light;
  }
  @media (min-width: $screen-md-min) {
    border: none; 
    display: block;
    float: left;
    width: 50%;
  }
}

.home-video {
  margin-top: 0;
  @media (min-width: $screen-lg-min) {
    margin-top: 5em;
  }  
}

.home-box-scroll {
  h3 {
    color: $red;
    font-size: 2em;
    padding-top: .6em;
  }
  h4 {
    color: $red;
    font-size: 1.5em;
    margin-top: -.5em;
  }
  p {
    padding-bottom: 2em;
  }
}

.home-promopod {
    border-bottom: dotted 1px $tan-dark;
    margin-left: .6em;
    padding: 1em;
      @media (min-width: $screen-md-min) {
        border-bottom: none;
        border-top: dotted 1px $tan-dark;
        height: 180px;
        margin-left: 0;
        padding: 1.5em;
      }
    img {
      float: right;
      margin-left: 1em;
      max-height: 7em;
      max-width: 7em;
    }
    a {
      color: #000;
      text-decoration: none;
    }
}

.home-promopod-btn {
  bottom: 0;
  margin: 1em 0;
  position: relative;
   @media (min-width: $screen-md-min) {
    position: absolute;
        }
}

.home-promopod-border {
    @media (min-width: $screen-md-min) {
      border-right: dotted 1px $tan-dark;
    }
}