/* Horizontal advisors on homepage */

.home-available-advisors {
  margin: 1em 0 0 1.6em;
  text-align: left;
  a {
    margin: 0;
  }
}

.home-advisor-horizontal {
  width: 100%;
  overflow-x:scroll;
  white-space: nowrap;
  float:left;
  text-align: center;
  padding-top: $padding-base-vertical;
  position: relative;
  @media (min-width: $screen-md-min)  {
    overflow: hidden;
    white-space: normal;
  }
}

.home-advisor-tile-simple {
  display: inline-block;
  border-radius: $border-radius-large;
  white-space: normal;
  padding: ($padding-base-vertical * 1.2);
  width: 24%;
  vertical-align: top;
  a {
    color: #000;
    text-decoration: none;
  }
  &:hover {
    background: $tan-light;
  }
  @media (max-width: $screen-sm-min)  {
    width: 35%;
  }
}

.home-advisor-image {
  margin: 0 auto;
}

.home-advisor-main-body {
  font-size: 10px;
  p {
    display: block;
    margin-top: -1em;
  }
  h4 {
    margin-bottom: 1.2em;
  }
  .advisor-tile-meta-group {
    white-space: normal;
  }
}

.home-advisor-stars {
  margin: 1em auto;
} 