.home-alert {
  padding: 1em;
}

.home-rotator {
  width: 100%;
  overflow-x:scroll;
  white-space: nowrap;
  margin-bottom: 1em;
  position: relative;
  img {
    margin: 0 .5em;
    width: 75%;
  }
}

.home-available-advisors {
  text-align: left;
  a {
    margin: 0;
  }
}

.home-advisor-horizontal {
  width: 100%;
  overflow-x:scroll;
  white-space: nowrap;
  float:left;
  position: relative;
  @media (min-width: 850px) {
    overflow-x: normal;
    white-space: normal;
  }
}

.home-advisor-tile-simple {
  display: inline-block;
  border-radius: $border-radius-small;
  display: inline-block;
  padding-top: 10px;
  text-align: center;
  width: 35%;
    @media (min-width: $screen-md-min) {
      width: 21%;
      margin-left: 20px;
  }
  a {
    color: #000;
    font-weight: normal;
    text-decoration: none;
  }
  &:hover {
    background: $tan-light;
  }
}

.home-advisor-main-body {
  font-size: .7em;
  p, span {
    display: block;
  }
  p {
    margin-top: -6px;
  }
}

.home-adivsor-stars {
  margin: 0px auto 10px auto;
}

.home-subcontent {
  background-color: transparent;
  h3 {
    color: $red;
  }
}

.home-top-stories {
  font-weight: bold;
  overflow: auto;
  margin: 0em 0 2em 0;
	
  img {
    float: left;
    margin-right: 1em;
		width: 6em;
    @media (min-width: $screen-md-min) {
      width: 4em;
    }
	}
	p {
    font-size: .9em;
    padding: 0 1em 0 0;
    color: #000;
    span {
      color: $red;
      font-weight: normal;
      text-decoration: underline;
    }
    @media (min-width: $screen-md-min) {
      font-size: .7em;
    }
	}
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.home-story {
  border-bottom: 1px dotted $tan;
  display: inline-block;
  padding: .5em 0;
  &:hover {
    background-color: $tan-light;
  }
  @media (min-width: $screen-md-min) {
    border: none; 
    display: block;
    float: left;
    width: 50%;
  }
}

.home-promopod {
    padding: 1em;
    border-bottom: dotted 1px $tan-dark;
      @media (min-width: $screen-md-min) {
        border-bottom: none;
        border-top: dotted 1px $tan-dark;
        height: 180px;
        padding: 1.5em;
      }
    img {
      float: right;
      margin-left: 1em;
      max-height: 7em;
      max-width: 7em;
    }
    a {
      color: #000;
      text-decoration: none;
    }
}

.home-promopod-btn {
  bottom: 0;
  margin: 1em 0;
  position: relative;
   @media (min-width: $screen-md-min) {
    position: absolute;
        }
}

.home-promopod-border {
    @media (min-width: $screen-md-min) {
      border-right: dotted 1px $tan-dark;
    }
}