$padding-masthead-vertical: $padding-base-horizontal !default;
$padding-masthead-horizontal: $padding-base-horizontal !default;
$masthead-search-full-min: $screen-md-min !default;

//= Pre-masthead banner (small screens)

.pre-masthead {
  background-color: $blue;
  border-bottom: 1px solid #fff;
  box-shadow: inset 0 -1px 2px rgba(#000,0.2);
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  padding: ($padding-base-horizontal / 1) $padding-base-horizontal;
  text-align: center;
  transition: background-color 300ms ease;

  a {
    &,
    &:hover,
    &:active,
    &:focus {
      color: #fff;
   
    }
  }

  &:hover,
  &:active,
  &:focus {
    background-color: darken($blue, 5%);
  }

  &:active {
    box-shadow: inset 0 3px 12px rgba(#000, 0.4);
  }
}

.pre-masthead-guarantee {
    font-weight: normal;
    margin-left: 40px;
    text-decoration:underline;
  }

//= Full-on masthead

.masthead,
.masthead-body,
.masthead-menu {
  @include clearfix;
}

.masthead {
  padding: $padding-masthead-vertical $padding-masthead-horizontal;
  position: relative;

  @media (min-width: $screen-lg-min) {
    padding-left: 0;
    padding-right: 0;
  }
}

.masthead-logo,
.masthead-menu {
  .is-search-open & {
    visibility: hidden;

    @media (min-width: $masthead-search-full-min) {
      visibility: visible;
    }
  }
}

.masthead-logo {
  left: $padding-masthead-horizontal;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 148px;

  @media (min-width: $screen-lg-min) {
    margin-top: (68px / -2);
    width: 350px;
  }
}

.masthead-body {
  float: right;
}

.masthead-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  &,
  > li {
    float: left;
  }

  > li {
    margin-left: $padding-masthead-horizontal;
  }
}

.masthead-search-toggle {
  @media (min-width: $masthead-search-full-min) {
    display: none;
  }
}

.masthead-search {
  display: none;
  position: absolute;
  top: $padding-masthead-vertical;
  right: $padding-masthead-horizontal;
  left: $padding-masthead-horizontal;

  .is-search-open & {
    display: block;
  }

  @media (min-width: $masthead-search-full-min) {
    display: block;
    float: left;
    margin-left: $padding-masthead-horizontal;
    position: static;
    width: 350px;
  }
}

.masthead-messaging {
  clear: both;
}
