// [BS Override] Shell div to position the modal with bottom padding
.modal-dialog {
  margin: $modal-dialog-margin;
  width: $modal-dialog-width;
}

// [BS Override] Actual modal
.modal-content {
  border-width: $modal-content-border-width;
  box-shadow: $modal-content-box-shadow-sm;
}

// [BS Override] Close icon
.modal-header .close {
  margin-top: 0;
}

// [BS Override] Scale up the modal
@media (min-width: $screen-sm-min) {
  // [BS Override] Automatically set modal's width for larger viewports
  .modal-dialog {
    max-width: $modal-md;
  }

  // [BS Override] Switch to larger box-shadow
  .modal-content {
    box-shadow: $modal-content-box-shadow-lg;
  }
}

//== Color Modifiers

.modal-teal {
  .modal-content {
    border-color: darken($teal-light, 20%);
    background: linear-gradient(to bottom, #fff, #fff 50%, $teal-light);
  }
}

.modal-tan {
  .modal-content {
    border-color: darken($tan-light, 20%);
    background: linear-gradient(to bottom, #fff, #fff 50%, $tan-light);
  }
}
