
// [BS Override] Shell div to position the modal with bottom padding
.modal-dialog {
  margin: $modal-dialog-margin;
  width: $modal-dialog-width;
}

// [BS Override] Actual modal
.modal-content {
  border-width: $modal-content-border-width;
  box-shadow: $modal-content-box-shadow-sm;
}

// [BS Override] Close icon
.modal-header .close {
  margin-top: 0;
}

// Give extra padding for touch hit area
.modal-content .close {
  line-height: 1;
  padding: ($modal-title-padding / 2);

  &.pull-right {
    margin-top: ($modal-title-padding / -4);
    margin-right: ($modal-title-padding / -2);
  }
}


// [BS Override] Scale up the modal
@media (min-width: $screen-sm-min) {
  // [BS Override] Automatically set modal's width for larger viewports
  .modal-dialog {
    max-width: $modal-md;
  }

  .modal-sm {
    width: auto;
    max-width: $modal-sm;
  }

  // [BS Override] Switch to larger box-shadow
  .modal-content {
    box-shadow: $modal-content-box-shadow-lg;
  }
}

// [BS Override] Scale up the modal more
@media (min-width: $screen-md-min) {
  .modal-lg {
    width: auto;
    max-width: $modal-lg;
  }
}

//== Color Modifiers

.modal-teal {
  border-color: darken($teal-light, 20%);
  background: linear-gradient(to bottom, #fff, #fff 50%, $teal-light);
}

.modal-tan {
  border-color: darken($tan-light, 20%);
  background: linear-gradient(to bottom, #fff, #fff 50%, $tan-light);
}
