.with-pagination {
  // background-color: lighten($pagination-border, 12%);
  // border: 1px solid $pagination-border;
  border: 1px solid transparent;
  // border-radius: $border-radius-base;
  display: inline-block;
  line-height: $line-height-base;
  margin: $line-height-computed 0;
  padding: $padding-base-vertical $padding-base-horizontal;
  vertical-align: top;

  + .with-pagination {
    padding-left: 0;
  }
}
