.home-promopod {
  padding: ($padding-base-vertical * 2);
  border-bottom: dotted 1px $tan-dark;
  @media (max-width: $screen-sm-max) {
    border-right: none;
  }
  @media (min-width: $screen-md-min) {
    border-bottom: none;
    border-top: dotted 1px $tan-dark;
    margin-left: 0;
    margin-top: ($padding-base-vertical * 2);
  }
  img {
    float: right;
    margin-left: ($padding-base-vertical * 2);
    margin-right: ($padding-base-vertical / 2);
    max-height: 7em;
    max-width: 6em;
  }
  a {
    @media (max-width: $screen-sm-max) {
      padding: 0 ($padding-base-vertical * 2);
    }
  }
}
