.home-promopod {
  color: #000;
  padding: 1em;
  border-bottom: dotted 1px $tan-dark;
  @media (max-width: $screen-sm-max) {
    border-right: none;
    padding: 0 1em;
  }
  @media (min-width: $screen-md-min) {
    border-bottom: none;
    border-top: dotted 1px $tan-dark;
    margin-left: 0;
  }
  img {
    float: right;
    margin-left: 1em;
    margin-right: .5em;
    max-height: 7em;
    max-width: 7em;
  }
}

.home-promopod-btn {

}
