.home-promopod {
    border-bottom: dotted 1px $tan-dark;
    margin-left: .6em;
    padding: 1em;
      @media (min-width: $screen-md-min) {
        border-bottom: none;
        border-top: dotted 1px $tan-dark;
        height: 180px;
        margin-left: 0;
        padding: 1.5em;
      }
    img {
      float: right;
      margin-left: 1em;
      max-height: 7em;
      max-width: 7em;
    }
    a {
      color: #000;
      text-decoration: none;
    }
}

.home-promopod-btn {
  bottom: 0;
  margin: 1em 0;
  position: relative;
   @media (min-width: $screen-md-min) {
    position: absolute;
        }
}

.home-promopod-border {
    @media (min-width: $screen-md-min) {
      border-right: dotted 1px $tan-dark;
    }
}