.return-lines {
  list-style: none;
  padding-left: 0;
}

.return-line {
  border-color: $gray-lighter;
  border-style: solid;
  border-width: 1px 0;
  margin-top: -1px;
  padding: ($line-height-computed / 2);
  position: relative;

  @media (min-width: $screen-md-min) {
    border-width: 1px;

    &:first-child {
      border-top-left-radius: $border-radius-large;
      border-top-right-radius: $border-radius-large;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius-large;
      border-bottom-right-radius: $border-radius-large;
    }
  }
}

.return-line-info {
  display: table;
  width: 100%;
}

.return-line-photo,
.return-line-details,
.return-line-place,
.return-line-actions {
  padding: ($line-height-computed / 2);
}

.return-line-photo,
.return-line-details,
.return-line-place {
  display: table-cell;
  vertical-align: middle;
}

.return-line-photo {
  width: em(72px - ($line-height-computed / 2));

  img {
    width: 100%;
  }
}

.return-line-place {
  width: 1%;
}

.return-line-actions {
  display: table;
  width: 100%;

  > li {
    display: table-cell;
    width: 5%;

    &:first-child {
      padding-right: 10px;
      width: auto;
    }
  }
}

// change layout substantially from this breakpoint, grouping these together
// because they're _just_ shy of understandable in context
@media (min-width: $screen-lg-min) {
  .return-line {
    border-width: 1px;
    display: table;
    width: 100%;
  }

  .return-line-info,
  .return-line-actions {
    display: table-cell;
    vertical-align: middle;
  }

  .return-line-actions {
    width: 1%;
  }
}

.return-call-settings-box {
  @media (max-width: $screen-sm-max) {
    border-bottom: solid 1px $gray-lighter;
    border-radius: 0;
    padding-bottom: 1em;
  }
}
