.return-call-line {
  border-bottom: solid 1px #bbb;
  a.close {
    margin-top: .5em;
      @media (max-width: $screen-md-max) {
        margin-left: .5em;
      }
  }
}

.return-call-settings-box {
  @media (max-width: $screen-sm-max) {
    border-bottom: solid 1px #ccc;
    border-radius: 0;
    padding-bottom: 1em;
  }
}


