$review-padding: ($line-height-computed * (2/3)) !default;

.review {
  position: relative;
  padding: ($line-height-computed/2) $review-padding;
  border-bottom: 1px solid $gray-lighter;
  @media (max-width: $screen-md-min) {
    margin-left: (-$review-padding);
    margin-right: (-$review-padding);
  }
}
.reviewer, 
.review-date {
  font-weight: 800;
}
.review-date, 
.review-helpful {
  color: $gray;
}
.review-type {
  display:block;
}
.review-stars {
  position: absolute; 
  top: ($line-height-computed/2);
  right: $review-padding;
}
.reviews-summary {
  background: lighten($gray-lighter,10%);
  padding: $review-padding;
  border-color:  $gray-lighter;
  border-style: solid;
  border-width: 0 0 1px;

  @media (max-width: $screen-md-min) {
    margin-left: (-$review-padding);
    margin-right: (-$review-padding);
  }
  @media (min-width: $screen-md-min) {
    border-radius: $border-radius-large;
    border-width: 1px;
  }
}
.reviews-count {
  margin: 0 5em 0 0;
  @media (min-width: $screen-xs-min) {
    font-size: 1.2em;
  }
}
.review-stars-average {
  margin: -0.3em 0 0;  
  float: right;
  .stars {
    display: block;
  }
  .ratings-total {
    float: right;
    display: block;
    clear: right;
    font-size: 0.8em;
  }
}
.bio-review-helpful {
  margin-bottom: 0;
}
.bio-review-helpful, .review-content {
  a {
    color: $blue;
    text-decoration: underline;
    white-space: nowrap;
    &:hover,
    &:focus {
      color: $blue-bright;
    }
  }
}