$review-padding: ($line-height-computed * (2/3)) !default;

.review {
  position: relative;
  padding: ($line-height-computed/2) $review-padding;
  border-bottom: 1px solid $gray-lighter;
  @media (max-width: $screen-md-min) {
    margin-left: ($review-padding * -1);
    margin-right: ($review-padding * -1);
  }
}
.tabpanel-pane .review {
  @media (max-width: $screen-md-min) {
    margin-left: ($line-height-computed * -1);
    margin-right: ($line-height-computed * -1);
  }
}
.review-meta {
  // provides space for stars on small screens
  padding-right: 80px;
}
.reviewer, 
.review-date,
.reviewed {
  font-weight: bold;
  white-space: nowrap;
}
.review-date, 
.review-helpful {
  color: $gray;
}
.review-type {
  display:block;
}
.review-stars {
  position: absolute; 
  top: ($line-height-computed/2);
  right: $review-padding;
}
.reviews-summary {
  background: lighten($gray-lighter,10%);
  padding: $review-padding;
  border-color:  $gray-lighter;
  border-style: solid;
  border-width: 0 0 1px;
  // removes col padding
  @media (max-width: $screen-md-min) {
    margin-left: ($grid-gutter-width * -0.5);
    margin-right: ($grid-gutter-width * -0.5);
  }
  @media (min-width: $screen-md-min) {
    border-radius: $border-radius-large;
    border-width: 1px;
  }
}

.tabpanel-pane .reviews-summary {
  @media (max-width: $screen-md-min) {
    margin: ($line-height-computed * -0.5) ($line-height-computed * -1) 0;
  }
}

.reviews-count {
  // space for stars  
  margin: 0 80px 0 0;
  @media (min-width: $screen-xs-min) {
    font-size: 1.2em;
  }
}
.review-stars-average {
  margin: -0.3em 0 0;  
  float: right;
  .stars {
    display: block;
  }
  .ratings-total {
    float: right;
    display: block;
    clear: right;
    font-size: 0.8em;
  }
}
.bio-review-helpful {
  margin-bottom: 0;
}
.bio-review-helpful, .review-content {
  a {
    color: $blue;
    text-decoration: underline;
    white-space: nowrap;
    &:hover,
    &:focus {
      color: $blue-bright;
    }
  }
}
