.with-stamp {
  display: inline-block;
  position: relative;
}

%stamp-base {
  position: absolute;
  @include text-hide();
}

@mixin make-stamp-condensed-showcase() {
  bottom: -4px;
  left: -7px;
  transform-origin: bottom left;
  transform: scale(0.5);
}

@mixin make-stamp-condensed-staffpick() {
  left: -10px;
  transform-origin: top left;
  transform: scale(0.64);
}

.stamp-showcase {
  @extend %stamp-base;

  bottom: -6px;
  left: -20px;

  @include svg-sprite('showcase');

  // &.stamp-condensed-sm,
  .stamps-condensed-sm & {
    @media (max-width: $screen-sm-max) {
      @include make-stamp-condensed-showcase();
    }
  }

  // &.stamp-condensed-md,
  .stamps-condensed-md & {
    @media (max-width: $screen-md-max) {
      @include make-stamp-condensed-showcase();
    }
  }
}

.stamp-staffpick {
  @extend %stamp-base;

  left: -20px;
  top: -10px;

  @include svg-sprite('staffpick');

  // &.stamp-condensed-sm,
  .stamps-condensed-sm & {
    @media (max-width: $screen-sm-max) {
      @include make-stamp-condensed-staffpick();
    }
  }

  // &.stamp-condensed-md,
  .stamps-condensed-md & {
    @media (max-width: $screen-md-max) {
      @include make-stamp-condensed-staffpick();
    }
  }
}
