---
status: inprogress
---

<nav class="overflow-nav">
  <ul class="overflow-nav-primary">
    <li>
        <a href="" class="visible-lg"><span class="nav-customer-offer">New Customer Offers</span> <span class="arrow-down visible-lg-inline-block text-muted"></span></a></span>
        <a href="" class="hidden-lg">New Customers <span class="arrow-down visible-lg-inline-block text-muted"></a>

    </li>
    <li>
      <a href="">Our Psychics <span class="arrow-down visible-lg-inline-block text-muted"></span></a>
    </li>
    <li class="hidden-xs">
      <a href="">Horoscopes <span class="arrow-down visible-lg-inline-block text-muted"></span></a>
    </li>
    <li class="hidden-xs hidden-sm">
      <a href="">About Psychic Readings <span class="arrow-down visible-lg-inline-block text-muted"></span></a>
    </li>
    <li class="hidden-xs hidden-sm hidden-md">
      <a href="">Articles &amp; Resources <span class="arrow-down visible-lg-inline-block text-muted"></span></a>
    </li>
    <li class="hidden-lg">
      <a data-toggle="collapse" href="#nav-overflow">More <span class="arrow-down text-muted"></span></a>
    </li>
  </ul>
  <ul class="overflow-nav-secondary collapse hidden-lg" id="nav-overflow">
    <li class="hidden-sm hidden-md">
      <a href="">Horoscopes</a>
    </li>
    <li class="hidden-md">
      <a href="">About Psychic Readings</a>
    </li>
    <li>
      <a href="">Articles &amp; Resources</a>
    </li>
    <li>
      <a href="">Customer Care</a>
    </li>
  </ul>
</nav>
