---
status: inprogress
---

<nav class="overflow-nav">
  <ul class="overflow-nav-primary panel-group" id="overflow-nav" role="tablist" aria-multiselectable="true">
    <li class="panel panel-default">
        <a href="#" data-target="#new-customer-offers" class="visible-lg collapsed" role="tab" data-toggle="collapse" data-responsive="nav">
          <span class="nav-customer-offer">New Customer Offers</span>
          <span class="arrow-down visible-lg-inline-block text-muted"></span>
        </a>
        <a href="" class="hidden-lg">New Customers <span class="arrow-down visible-lg-inline-block text-muted"></a>
    <aside class="collapse panel-collapse overflow-nav-dropdown" id="new-customer-offers" role="tabpanel" data-parent="#overflow-nav">
      <div class="special-offer">
        <h1 class="text-cursive">Special Offer</h1>
        <p>As low as
        <span>$1.00</span>per minute</p>
        <a href="#" class="btn btn-default">Get the offer Now! <span class="arrow-right visible-lg-inline-block text-muted"></span></a>
      </div>
      <div class="special-offer-add">
        <a href="#">
        <img src="/images/minutes-icon.png" />
        <h4>3 free minutes with your first paid reading!</h4>
        </a>
      </div>
      <div class="special-offer-add">
        <a href="+">
        <img src="/images/satisfaction-seal.png" />
        <h4>100% Satisfaction Gurantee</h4>
        <p>If you're not happy with your last paid reading, it's free!</p>
        </a>
      </div>
    </aside>
    </li>
    <li class="panel">
      <a href="#" data-target="#nav-psychics" class="collapsed" role="tab" data-toggle="collapse" data-parent="#overflow-nav" data-responsive="nav">Our Psychics
        <span class="arrow-down visible-lg-inline-block text-muted"></span>
      </a>
      <aside class="collapse panel-collapse overflow-nav-dropdown" id="nav-psychics" role="tabpanel" data-parent="#overflow-nav">Our psychics</aside>
    </li>
    <li class="hidden-xs panel">
      <a href="#" data-target="#nav-horoscopes" class="collapsed" role="tab" data-toggle="collapse" data-parent="#overflow-nav" data-responsive="nav">Horoscopes
        <span class="arrow-down visible-lg-inline-block text-muted"></span>
      </a>
      <aside class="collapse panel-collapse overflow-nav-dropdown" id="nav-horoscopes" role="tabpanel">Horoscopes</aside>
    </li>
    <li class="hidden-xs hidden-sm panel">
      <a href="#" data-target="#nav-readings" class="collapsed" role="tab" data-toggle="collapse" data-parent="#overflow-nav" data-responsive="nav">About Psychic Readings <span class="arrow-down visible-lg-inline-block text-muted"></span></a>
      <aside class="collapse panel-collapse overflow-nav-dropdown" id="nav-readings" role="tabpanel">Readings</aside>
    </li>
    <li class="hidden-xs hidden-sm hidden-md panel">
      <a href="#" data-target="#nav-articles" class="collapsed" role="tab" data-toggle="collapse" data-parent="#overflow-nav" data-responsive="nav">Articles &amp; Resources
        <span class="arrow-down visible-lg-inline-block text-muted"></span>
      </a>
      <aside class="collapse panel-collapse overflow-nav-dropdown" id="nav-articles" role="tabpanel">Articles</aside>
    </li>
    <li class="hidden-lg dropdown">
      <a data-toggle="collapse" href="#nav-overflow" id="nav-more">More <span class="arrow-down text-muted"></span></a>
    </li>
  </ul>

  <ul class="overflow-nav-secondary collapse hidden-lg" id="nav-overflow">
    <li class="hidden-sm hidden-md">
      <a href="">Horoscopes</a>
    </li>
    <li class="hidden-md">
      <a href="">About Psychic Readings</a>
    </li>
    <li>
      <a href="">Articles &amp; Resources</a>
    </li>
    <li>
      <a href="">Customer Care</a>
    </li>
  </ul>
</nav>

<script>
  $(function() {
    $('[data-toggle="collapse"][data-responsive="nav"]').each(function() {
      $(this).responsiveCollapse({
        isToggle: function($elem) {
          // These should be toggles if the MORE element is NOT visible
          return !$('#nav-more:visible').length;
        },
        disableToggle: function($elem) {
          // Allow a.hrefs to be followed (as opposed to default)
          return true;
        }
      });
    });
  });
</script>
