---
fullWidth: true
status: inprogress
---

<footer role="contentinfo" class="container-page text-center">
  <p class="col-xs-12 visible-xs-block u-margin-top">
    <a class="btn btn-block btn-default" href="">Customer Care</a>
  </p>
  <ul class="col-xs-12 col-lg-8 list-inline text-tall text-taller small-xs text-left-lg u-margin-ends">
    <li class="hidden-xs hidden-lg"><a href="">Customer Care</a></li>
    <li><a href="">Privacy<span class="hidden-xs"> Policy</span></a></li>
    <li><a href=""><span class="hidden-xs">Disclaimer &amp; </span>Terms</a></li>
    <li><a href="">Site Map</a></li>
    <li><a href="">Affiliate Program</a></li>
    <li><a href="">News</a></li>
    <li><a href="">Psychic? Apply Now</a></li>
  </ul>
  <ul class="col-xs-12 col-lg-4 list-inline text-right-lg u-margin-ends">
    <li><a class="social-btn" href="http://www.facebook.com/PsychicSource1989">Facebook</a></li>
    <li><a class="social-btn" href="http://twitter.com/PsychicSource">Twitter</a></li>
    <li><a class="social-btn" href="http://www.youtube.com/user/psychicsource?feature=watch">YouTube</a></li>
    <li><a class="social-btn" href="http://pinterest.com/psychicsource/">Pinterest</a></li>
    <li><a class="social-btn" href="https://plus.google.com/u/0/b/101385836272062376146/">Google+</a></li>
    <li><a class="social-btn" href="http://instagram.com/psychicsource">Instagram</a></li>
  </ul>
  <p class="col-xs-12 small text-muted u-margin-top">*New member offer valid for first time customers who have never made a Psychic Source purchase. Limit $30, some exclusions apply.  &copy; 2014 Psychic Source, LLC. All rights reserved. For guidance only. 18+</p>
</footer>
