---
fullWidth: true
status: inprogress
---

<footer role="contentinfo" class="container-page text-center">

  <nav class="u-margin">
    <p class="hidden-md hidden-lg">
      <a class="btn btn-block btn-default btn-shaded" href="">Customer Care</a>
    </p>
    <ul class="list-inline">
      <li class="hidden-xs hidden-sm"><a href="">Customer Care</a></li>
      <li><a href="">Privacy<span class="hidden-xs"> Policy</span></a></li>
      <li><a href=""><span class="hidden-xs">Disclaimer &amp; </span>Terms</a></li>
      <li><a href="">Site Map</a></li>
      <li><a href="">Affiliate Program</a></li>
      <li><a href="">News</a></li>
      <li><a href="">Psychic? Apply Now</a></li>
    </ul>
  </nav>

  <p class="u-margin small text-muted">*New member offer valid for first time customers who have never made a Psychic Source purchase. Limit $30, some exclusions apply.  &copy; 2014 Psychic Source, LLC. All rights reserved. For guidance only. 18+</p>

</footer>
