---
description: >
  A VSE-specific pattern that allows you to add offset markers to a `.progress`
  and/or `.progress-bar` element.
status: inprogress
---
<div class="progress with-progress-marker">
  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="30" style="width: 3.333%">
    <div class="progress-marker progress-marker-offset progress-marker-right">
      <span class="text-nowrap">Reward Dollars: <b>$1.00</b></span>
    </div>
  </div>
  <div class="progress-marker progress-marker-left progress-marker-down progress-marker-jazzy">
    <b>$30 Bonus Dollars</b>
  </div>
</div>
