---
description: >
  A pattern for a linked heading that expands an associated box of content
---

<div class="toggle-box">
  <h3 class="toggle-box-heading">
    <a href="#toggle-box-body" data-toggle="collapse" class="toggle-box-parent collapsed ">
      Heading text
    </a>
  </h3>
  <div class="collapse" id="toggle-box-body">
    <div class="toggle-box-body"> 
      Content, content, content!
    </div>
  </div>
</div>
