---
fullWidth: true
status: inprogress
---

<aside class="quicklist">
  <div class="quicklist-inner">
    <div class="quicklist-header text-center">
      <h5 class="u-no-margin">Who&rsquo;s logged on?</h5>
    </div>
    <div class="quicklist-body">
      <ul class="list-unstyled u-no-margin">
        {{#times 20}}
          <li>
            <a class="quicklist-item {{#lt @index 10}}text-success{{/lt}}" href="">
              <h6 class="u-no-margin">Firstname x5555</h6>
              <small class="quicklist-item-status">
                {{#lt @index 10}}
                  Available now
                {{else}}
                  Currently busy
                {{/lt}}
              </small>
              <svg class="icon quicklist-item-phone">
                <use xlink:href="/images/symbol/svg/sprite.symbol.svg#phone" />
              </svg>
              {{#randomIf}}
                <svg class="icon quicklist-item-chat">
                  <use xlink:href="/images/symbol/svg/sprite.symbol.svg#chat" />
                </svg>
              {{/randomIf}}
            </a>
          </li>
        {{/times}}
      </ul>
    </div>
  </div>
</aside>
