---
description: >
  Example of password field using hide-show-password functionality via
  [hideShowPassword](https://github.com/cloudfour/hideShowPassword) (jQuery plugin).
---

<div class="form-group form-group-required">
  <label class="control-label" for="exampleInputPassword1">Password</label>
  <input class="form-control" data-password id="signupPassword" type="password" placeholder="Password" />
</div>

<script>
$(function() {
  $('[data-password]').showPassword('focus');
});
</script>
