---
description: >
  This special container has a set `max-width` and padding introduced at a
  specific breakpoint. Is intended for page-level containers specific to
  this project and is not a built-in Bootstrap component.
---

<div class="container-page">
  <div class="row demo-show-grid">
    <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  </div>
</div>
