---
description: >
  The default Bootstrap grid does not have a mechanism for removing gutters from
  a row or an individual column. Adding `.no-gutters` to a `.container`, `.row`
  or individual `.col-` classes will remove the gutters from those associated
  columns. You can also append a breakpoint suffix (`.no-gutters-xs`) to only
  apply for those layout widths.
---

<div class="row no-gutters">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <img class="img-responsive" src="http://placeimg.com/512/512/animals" alt=" ">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <img class="img-responsive" src="http://placeimg.com/512/512/animals" alt=" ">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <img class="img-responsive" src="http://placeimg.com/512/512/animals" alt=" ">
  </div>
</div>
