---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
  <div>
    {{> home/_home-alert }}
  <div class="box box-light box-md box-teal">
    {{> home/_home-balance }}
  </div>

<div class="row">
  <div class="col-lg-8">
    <div class="box box-lighter">
      {{> home/_home-simple-advisors }}
    </div>
  </div>
  <div class="col-lg-4">
  <div>
      {{> home/_home-rotating-promo }}
  </div>
</div>
      {{> home/_home-top-stories }} 


{{> pages/_footer }}