---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
{{> home/_home-alert }}

<div class="row">
  <div class="col-md-6 col-lg-4 col-md-push-6 col-lg-push-8">
      {{> home/_home-rotating-promo }}
  </div>
  <div class="col-md-6 col-lg-8 col-md-pull-6 col-lg-pull-4">
    <div class="box box-lighter home-advisors">
      {{> home/_home-simple-advisors }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-6-push-6 col-lg-4 col-lg-push-8">
  {{> home/_home-video }}    
  </div>
  <div class="col-md-6 col-md-6-pull-6 col-lg-8 col-lg-pull-4">
    <div class="box box-top-stories">
      {{> home/_home-top-stories }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
  {{> home/_home-promo-pod }}
  </div>
</div>
</div>
{{> pages/_footer }}