---
status: inprogress
---

<div class="container-fluid no-gutters u-padding-bottom">
  <div class="arrange arrange-middle home-available-advisors text-nowrap">
    <div class="arrange-fill">
      48 of 287 Psychics are available
    </div>
    <div class="arrange-fit">
      <a href="#" class="btn btn-default btn-sm">View all</a>
    </div>
  </div>
  <div class="container-fluid no-gutters">
    <div class="home-advisor-horizontal col-md-12">
      <div class="container-fluid">
        {{#withFirst advisor.list 4}}
          <div class="home-advisor-tile-simple">
            {{> advisors/_advisor-tile-home }}
          </div>
        {{/withFirst}}
        {{#withFirst advisor.list 4}}
          <div class="home-advisor-tile-simple hidden-md hidden-lg">
            {{> advisors/_advisor-tile-home }}
          </div>
        {{/withFirst}}
      </div>
      <div class="container-fluid hidden-xs hidden-sm">
        {{#withFirst advisor.list 4}}
          <div class="home-advisor-tile-simple">
            {{> advisors/_advisor-tile-home }}
          </div>
        {{/withFirst}}
      </div>
    </div>
  </div>
</div>

