---
status: inprogress
---

<div class="container-fluid no-gutters u-padding-bottom">
  <p class="home-available-advisors pull-left">48 of 287 Psychics <span class="text-nowrap">are available</span></p>
  <p class="u-padding-right u-padding-left text-left-xs text-right text-right-lg u-no-margin"><a class="btn btn-default btn-sm u-margin-top u-margin-left u-margin-right" href="#">View all</a></p>
  <div class="container-fluid no-gutters">
    <div class="home-advisor-horizontal col-md-12">
      <div class="container-fluid">
        {{#withFirst advisor.list 4}}
          <div class="home-advisor-tile-simple">
            {{> advisors/_advisor-tile-home }}
          </div>
        {{/withFirst}}
        {{#withFirst advisor.list 4}}
          <div class="home-advisor-tile-simple hidden-md hidden-lg">
            {{> advisors/_advisor-tile-home }}
          </div>
        {{/withFirst}}
      </div>
      <div class="container-fluid hidden-xs hidden-sm">
        {{#withFirst advisor.list 4}}
          <div class="home-advisor-tile-simple">
            {{> advisors/_advisor-tile-home }}
          </div>
        {{/withFirst}}
      </div>
    </div>
  </div>
</div>

