<div class="u-margin">
	<p><strong>Cloud Four,</strong> as a Rewards Member, you could be earning Free Bonus Dollars towards readings. <a href="#"><strong>Learn More!</strong></a></p>
	
  <p class="hidden-xs hidden-sm">You have $160.00 on your account and you are active in <strong>3</strong> advisor lines.</p>
</div>


<div class="subnav hidden-md hidden-lg">
  <h3 class="subnav-heading">
    <a href="" class="subnav-item subnav-item-next">
      Account
    </a>
  </h3>
  <div class="subnav-body">
    $160.00
  </div>
  <div class="subnav-body">
    You are active in <strong>3</strong> lines.
  </div>
</div>