<div class="u-margin">
  <div class="stat pull-right">
    <span class="stat-value">$160.00</span>
    <span class="stat-label">balance</span>
  </div>
	<p><strong>Cloud Four,</strong> as a Rewards Member, you could be earning Free Bonus Dollars towards readings. <a href="#"><strong>Learn More!</strong></a></p>
  <p>You have <strong>$160.00</strong> in your account.</p>
  <p>You are active in <strong>3</strong> advisor lines.</p>
</div>


