<div class="col-md-7">
  <h3 class="text-primary u-no-margin-bottom">The best psychic readings from <span class="text-nowrap">authentic live psychics</span></h3>
  <p class="u-no-margin"><strong>No gimmicks. No nonsense. The best psychics <span class="text-nowrap">you’ll find anywhere.</strong></p>
  We have been offering the best psychic readings for over 20 years. Our careful screening process ensures that all of our live psychics are genuinely gifted and experienced professionals. Don't just take our word for it, check out our Testimonials page for reviews from real customers.</p>
</div>