<div class="text-center">
<p class="advisors-available">48 of 287 Psychics are available <a class="btn btn-default btn-sm u-margin" href="#">View all</a></p>
	<div class="advisor-horizontal"> 
  <div class="advisor-tile-simple">
	   <img
		  class="img-rounded img-shadow"
		  src="/images/fpo/jesse.jpg"
		  alt=" ">
	   <h4>Uncle Jesse x7777</h4>  
     <div class="advisor-tile-meta">
        <p class="advisor-tile-meta-group stars stars-4-5 home-advisor-stars">
            4&#189; stars
          </p>
        <p class="advisor-tile-meta-group">
        <b>$7.45/min</b>
        </p>
    </div>

  </div>
  <div class="advisor-tile-simple">
     <img
      class="img-rounded img-shadow"
      src="/images/fpo/liz.jpg"
      alt=" ">
     <h4>Liz Lemon x3030</h4>
     <div class="advisor-tile-meta">
        <p class="advisor-tile-meta-group stars stars-4-5 home-advisor-stars">
            4&#189; stars
          </p>
        <p class="advisor-tile-meta-group">
        <b>$7.45/min</b>
        </p>
    </div>
  </div>
  <div class="advisor-tile-simple">
     <img
      class="img-rounded img-shadow"
      src="/images/fpo/liz.jpg"
      alt=" ">
     <h4>Liz Lemon x3030</h4>
     <div class="advisor-tile-meta">
        <p class="advisor-tile-meta-group stars stars-4-5 home-advisor-stars">
            4&#189; stars
          </p>
        <p class="advisor-tile-meta-group">
        <b>$7.45/min</b>
        </p>
    </div>
  </div>
    <div class="advisor-tile-simple">
     <img
      class="img-rounded img-shadow"
      src="/images/fpo/jesse.jpg"
      alt=" ">
     <h4>Uncle Jesse x7777</h4>  
     <div class="advisor-tile-meta">
        <p class="advisor-tile-meta-group stars stars-4-5 home-advisor-stars">
            4&#189; stars
          </p>
        <p class="advisor-tile-meta-group">
        <b>$7.45/min</b>
        </p>
  </div>
  </div>
  <div class="advisor-tile-simple">
     <img
      class="img-rounded img-shadow"
      src="/images/fpo/liz.jpg"
      alt=" ">
     <h4>Liz Lemon x3030</h4>
     <div class="advisor-tile-meta">
        <p class="advisor-tile-meta-group stars stars-4-5 home-advisor-stars home-advisor-stars">
            4&#189; stars
          </p>
        <p class="advisor-tile-meta-group">
        <b>$7.45/min</b>
        </p>
    </div>
  </div>
  <div class="advisor-tile-simple">
     <img
      class="img-rounded img-shadow"
      src="/images/fpo/liz.jpg"
      alt=" ">
     <h4>Liz Lemon x3030</h4>
     <div class="advisor-tile-meta">
        <p class="advisor-tile-meta-group stars stars-4-5 home-advisor-stars">
            4&#189; stars
          </p>
        <p class="advisor-tile-meta-group">
        <b>$7.45/min</b>
        </p>
    </div>
  </div>
    <div class="advisor-tile-simple">
    <img
      class="img-rounded img-shadow"
      src="/images/fpo/liz.jpg"
      alt=" ">
     <h4>Liz Lemon x3030</h4>
     <div class="advisor-tile-meta">
        <p class="advisor-tile-meta-group stars stars-4-5 home-advisor-stars">
            4&#189; stars
          </p>
        <p class="advisor-tile-meta-group">
        <b>$7.45/min</b>
        </p>
    </div>
  </div>
  <div class="advisor-tile-simple">
    <img
      class="img-rounded img-shadow"
      src="/images/fpo/liz.jpg"
      alt=" ">
     <h4>Liz Lemon x3030</h4>
     <div class="advisor-tile-meta">
        <p class="advisor-tile-meta-group stars stars-4-5 home-advisor-stars">
            4&#189; stars
          </p>
        <p class="advisor-tile-meta-group">
        <b>$7.45/min</b>
        </p>
    </div>
  </div>
</div>
</div>

