<div class="top-stories">
<h4>Today's Top Stories</h4>
	<div class="story">
		<img src="http://placeimg.com/140/140/arch" alt="..." class="img-thumbnail">
		<p>Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <a href="#">Continue Reading</a></p>
		
	</div>
	<div class="story border-top">
		<img src="http://placeimg.com/140/140/arch" alt="..." class="img-thumbnail">
		<p>Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <a href="#">Continue Reading</a></p>
	</div>
	<div class="story border-top">
		<img src="http://placeimg.com/140/140/arch" alt="..." class="img-thumbnail">
		<p>Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <a href="#">Continue Reading</a></p>
	</div>
</div>