<div class="balance-block">
  <p><span class="text-success">$160.00</span> Balance 
	<a class="btn" href="#">View Account</a>
</p>
</div>

<div class="advisor-line">
  <p>You are active in 2 advisor lines. <a class="btn" href="#">Manage</a></p>
</div>