<div class="box box-md box-light home-video">
  <span class="fleuron-star-wide top" aria-hidden="true"></span>
  <span class="fleuron-star bottom left" aria-hidden="true"></span>
  <span class="fleuron-star-alt bottom right" aria-hidden="true"></span>

  <div class="embed-responsive embed-responsive-16by9 u-margin-ends">
    <iframe src="//fast.wistia.net/embed/iframe/fhbsjssg89" allowtransparency="true" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen></iframe>
   </div>
  <p>Looking? Letting go? Holding on? Let a gifted love Advisor guide your way this Valentine's Day.</p>
</div>

<div class="box box-scroll home-scroll">
  <h3 class="text-cursive">The best psychics are here for you</h3>
  <h4 class="text-cursive">Try a live psychic reading today.</h4>
  <p>A call or chat with one of our gifted psychic readers is your chance to ask questions, get answers, find solutions, and overcome obstacles. And the best live psychics are here, 24/7, with the insights and guidance you need.</p>
</div>