<div class="row">
	<div class="col-md-6 col-lg-8">
		<div class="box home-subcontent">
			<h3>Why get a live psychic reading?</h3>
			<strong>To know yourself better and face your future empowered.</strong>
			<p>Knowledge is power, and live psychic readings from our gifted psychic advisors give you the insights, self-knowledge, and forecasts you need to plan for success and achieve happiness.</p>
			<h3>Phone or Chat? It's YOUR choice.</h3>
			<strong>Getting a psychic reading is easy and convenient.</strong>
			<p>Our Advisors are but a phone call or a few keystrokes away. Talk or discreetly chat from the privacy of your home or office. Whether you choose a psychic reading by phone or online chat, our talented psychic readers are available at a time most convenient for you.</p>
		</div>
	</div>

<div class="col-md-6 col-lg-4">
<div class="box box-scroll text-center">
  <h3 class="text-cursive">The best psychics are here for you</h3>
  <h4 class="text-cursive">Try a live psychic reading today.</h4>
  <p>A call or chat with one of our gifted psychic readers is your chance to ask questions, get answers, find solutions, and overcome obstacles. And the best live psychics are here, 24/7, with the insights and guidance you need.</p>
</div>
</div>

</div>
