<<<<<<< HEAD
<div class="box home-seocontent">
  <p><h3>The best psychic readings from authentic live psychics</h3></p>
  <p><strong>No gimmicks. No nonsense. The best psychics you’ll find anywhere.</strong></p>
=======
<div class="box home-subcontent">
  <h3>The best psychic readings from authentic live psychics</h3>
  <strong>No gimmicks. No nonsense. The best psychics you’ll find anywhere.</strong>
>>>>>>> master
  <p>We have been offering the best psychic readings for over 20 years. Our careful screening process ensures that all of our live psychics are genuinely gifted and experienced professionals. Don't just take our word for it, check out our Testimonials page for reviews from real customers.</p>
</div>