<div class="promo-pod">
  <a href="#">
	 <img src="/images/satisfaction-seal.png">
   <h4>Satisfaction Guaranteed <span class="arrow-right"></span></h4>
   <p>If you're not happy with your last live reading, it's <strong>FREE!</strong></p>
  </a>

  <a href="#">
   <img src="/images/open-sign.png">
   <h4 class="text-cursive">Our Customer Care Center</h4>
   <p>is open 24/7 (and it's not outsourced!)</p>
   <span class="btn">Read more <span class="arrow-right"></span></span>
  </a>

  <a class="promo-questions" href="#">
   <img src="/images/question-promo-fleuron.png">
   <h4>Questions about our website?</h4>
   <span class="btn">See our FAQs <span class="arrow-right"></span></span>
  </a>
