<div class="box box-leaf-tr home-top-stories">
  <h3>Today's Top Stories</h3>
	 <div class="home-story">
      <a href="#">
		    <img src="http://placeimg.com/140/140/arch" alt="..." class="img-thumbnail">
		    <p>Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <span class="text-nowrap">Continue Reading</span></p>
      </a>
	</div>
	<div class="home-story">
    <a href="#">
		  <img src="http://placeimg.com/140/140/arch" alt="..." class="img-thumbnail">
		  <p>Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <span class="text-nowrap">Continue Reading</span></p>
    </a>
	</div>
	<div class="home-story">
    <a href="#">
		  <img src="http://placeimg.com/140/140/arch" alt="..." class="img-thumbnail">
		  <p>Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <span class="text-nowrap">Continue Reading</span></p>
    </a>
	</div>
  <div class="home-story">
    <a href="#">
      <img src="http://placeimg.com/140/140/arch" alt="..." class="img-thumbnail">
      <p>Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <span class="text-nowrap">Continue Reading</span></p>
    </a>
  </div>
</div>
