<div class="balance-block">
	<p>Current balance: <span class="home-balance balance-low">$10.00</span><a class="btn btn-default" href="#">Account</a>
 	</p>
    <p>You are active in 0 advisor lines.</p>
</div>