<div class="home-rotator">
	<img class="img-rounded img-shadow" src="/images/rotator/1214-winter-newsletter.png">
	<img class="img-rounded img-shadow" src="/images/rotator/021414-vday.jpg">
	<img class="img-rounded img-shadow" src="/images/rotator/053114-25th-anniv-new-mbr.jpg">
</div>
