<div class="u-margin">
	<h3 class="text-primary u-no-margin-bottom">Why get a live psychic reading?</h3>
	<p><span class="u-block"><strong>To know yourself better and face your future empowered.</strong></span>Knowledge is power, and live psychic readings from our gifted psychic advisors give you the insights, self-knowledge, and forecasts you need to plan for success and achieve happiness.</p>
	<h3 class="text-primary u-no-margin-bottom">Phone or Chat? It's YOUR choice.</h3>
	<span class="u-block"><strong>Getting a psychic reading is easy and convenient.</strong></span>
	<p>Our Advisors are but a phone call or a few keystrokes away. Talk or discreetly chat from the privacy of your home or office. Whether you choose a psychic reading by phone or online chat, our talented psychic readers are available at a time most convenient for you.</p>
</div>