<div class="col-sm-12 col-lg-7">
  <div class="box-leaf-tr">
    <h3>Today's Top Stories</h3>
    <div class="container-fluid no-gutters">
      <div class="col-xs-12 col-lg-6 no-gutters u-margin-bottom">
        <div class="col-sx-4 no-gutters">
          <a class="pull-left u-margin-right" href="#">
            <img alt=" " src="http://placeimg.com/64/64/animals" class="img-thumbnail">
          </a>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-7 no-gutters">
          Is a Soul Mate Really What You Think It Is? by Karin Marie
          <a class="u-block">Continue Reading</a>
        </div>
      </div> 
      <div class="col-xs-12 col-lg-6 no-gutters u-margin-bottom">
        <div class="col-sx-4 no-gutters">
          <a class="pull-left u-margin-right" href="#">
            <img alt=" " src="http://placeimg.com/64/64/animals" class="img-thumbnail">
          </a>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-7 no-gutters">
          Is a Soul Mate Really What You Think It Is? by Karin Marie
          <a class="u-block">Continue Reading</a>
        </div>
      </div> 
    </div>
    <div class="container-fluid no-gutters hidden-xs hidden-sm">
      <div class="col-xs-12 col-lg-6 no-gutters u-margin-bottom">
        <div class="col-sx-4 no-gutters">
          <a class="pull-left u-margin-right" href="#">
            <img alt=" " src="http://placeimg.com/64/64/animals" class="img-thumbnail">
          </a>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-7 no-gutters">
          Is a Soul Mate Really What You Think It Is? by Karin Marie
          <a class="u-block">Continue Reading</a>
        </div>
      </div> 
      <div class="col-xs-12 col-lg-6 no-gutters">
        <div class="col-sx-4 no-gutters">
          <a class="pull-left u-margin-right" href="#">
            <img alt=" " src="http://placeimg.com/64/64/animals" class="img-thumbnail">
          </a>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-7 no-gutters">
          Is a Soul Mate Really What You Think It Is? by Karin Marie
          <a class="u-block">Continue Reading</a>
        </div>
      </div> 
    </div>
  </div>
</div>


