<div class="box box-leaf-tr">
  <h3>Today's Top Stories</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="media">
        <a class="media-left" href="#">
        <img src="http://placeimg.com/140/140/arch" alt=" " class="img-thumbnail">
        </a>
        <div class="media-body">
    		Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <span class="text-nowrap"><a href="#">Continue Reading</a></span>
        </div>
      </div>
      <div class="media">
        <a class="media-left" href="#">
        <img src="http://placeimg.com/140/140/arch" alt=" " class="img-thumbnail">
        </a>
        <div class="media-body">
        Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <span class="text-nowrap"><a href="#">Continue Reading</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-6 hidden-xs">
      <div class="media">
        <a class="media-left" href="#">
        <img src="http://placeimg.com/140/140/arch" alt=" " class="img-thumbnail">
        </a>
        <div class="media-body">
        Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <span class="text-nowrap"><a href="#">Continue Reading</a></span>
        </div>
      </div>
      <div class="media">
        <a class="media-left" href="#">
        <img src="http://placeimg.com/140/140/arch" alt=" " class="img-thumbnail">
        </a>
        <div class="media-body">
        Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <span class="text-nowrap"><a href="#">Continue Reading</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
