<div class="col-md-7">
  <div class="box box-leaf-tr">
    <h3>Today's Top Stories</h3>
    <div class="container-fluid no-gutters">
      <div class="col-md-6 u-margin-top">
        <div class="media">
          <a class="col-md-4 no-gutters media-left" href="#">
            <img alt=" " src="http://placeimg.com/64/64/animals" class="img-thumbnail">
          </a>
          <div class="col-md-8 media-body">
            Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <a class="u-block" href="#">Continue Reading</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 u-margin-top">
        <div class="media">
          <a class="col-md-4 no-gutters media-left" href="#">
            <img alt=" " src="http://placeimg.com/64/64/animals" class="img-thumbnail">
          </a>
          <div class="col-md-8 media-body">
            Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <a class="u-block" href="#">Continue Reading</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid no-gutters hidden-xs hidden-sm">
      <div class="col-md-6 u-margin-top">
        <div class="media">
          <a class="col-md-4 no-gutters media-left" href="#">
            <img alt=" " src="http://placeimg.com/64/64/animals" class="img-thumbnail">
          </a>
          <div class="col-md-8 media-body">
            Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <a class="u-block" href="#">Continue Reading</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 u-margin-top">
        <div class="media">
          <a class="col-md-4 no-gutters media-left" href="#">
            <img alt=" " src="http://placeimg.com/64/64/animals" class="img-thumbnail">
          </a>
          <div class="col-md-8 media-body">
            Is a Soul Mate Really What You Think It Is? by Psychic Karin Marie <a class="u-block" href="#">Continue Reading</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


