<div class="col-md-5 col-lg-5 home-video">
  <div class="box-full box-default-md box-light u-margin">
    <span class="fleuron-star-wide top" aria-hidden="true"></span>
    <span class="fleuron-star bottom left" aria-hidden="true"></span>
    <span class="fleuron-star-alt bottom right" aria-hidden="true"></span>
    <div class="embed-responsive embed-responsive-16by9 u-margin-ends">
      <iframe src="//www.youtube.com/embed/hhIlx7DlbKw?wmode=transparent&amp;rel=0" allowfullscreen></iframe>
    </div>
    <p class="text-center">Looking? Letting go? Holding on? Let a gifted love Advisor guide your way this Valentine's Day.</p>
  </div>
</div>