<div class="c4-page-tile">
  <iframe src="<%= file.meta.link %>" allowfullscreen="true" allowtransparency="true"></iframe>
  <a href="<%= file.meta.link %>"><span><%= file.meta.name %></span></a>
</div>
