---
description: >
  Show some form of data as a statistic. Inherits base text color and sizing
  from its parent element.
---
<div class="stat">
  <span class="stat-value">3rd</span>
  <span class="stat-label">in line</span>
</div>
