---
description: Step one of the signup form for new customers.
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full box-default-lg box-lighter box-sheer u-shift-up">
    <div class="container-fluid no-gutters-xs no-gutters-sm">
      <div class="col-md-7">
        <div class="col-xs-12">
          {{> signup/_signup-guarantee }}
          <h3 class="u-no-margin-top">Account Information</h3>
          {{> forms/signup-account }}
        </div>
      </div>
      <div class="col-md-5">
        <div class="col-xs-12">
          {{> signup/_signup-ourpsychics }}
          {{> signup/_signup-howitworks }}
          {{> signup/_signup-questions }}
        </div>
      </div>
    </div>
    <div class="container-fluid no-gutters-xs no-gutters-sm">
      <div class="col-md-7">
        <div class="col-xs-12">
          {{> signup/_signup-footer }}
        </div>
      </div>
    </div>
  </div>
</div>

{{> pages/_footer }}
