---
description: Confirmation step in signup.
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full box-default-lg box-lighter u-shift-up">
      <h1 class="text-primary">Confirm Your Order</h1>
      <p>Please review and confirm your information. To make changes, click edit to go back. If correct, click submit. Please do not use the back button or refresh the page until your order goes through. Thanks!</p>
      <table class="table table-collapse-xs">
        <tr>
          <td><strong class="text-nowrap">Introductory offer:</strong></td>
          <td>$15.00 for 23 minutes using promo code 123456</td>
        </tr>
        <tr>
          <td><strong class="text-nowrap">Your name:</strong></td>
          <td>Aileen Jeffries</td>
        </tr>
        <tr>
          <td><strong class="text-nowrap">Email address:</strong></td>
          <td>aileen@cloudfour.com</td>
        </tr>
        <tr>
          <td><strong class="text-nowrap">Rewards:</strong></td>
          <td>Yes! Sign me up for News and Promotions, so I can start earning Membership rewards towards my readings.</td>
        </tr>
        <tr>
          <td><strong class="text-nowrap">Gender:</strong></td>
          <td>Female</td>
        </tr>
        <tr>
          <td><strong class="text-nowrap">Date of birth:</strong></td>
          <td>05/25/1978</td>
        </tr>
        <tr>
          <td><strong class="text-nowrap">Credit card number:</strong></td>
          <td>XXXXXXXXXXXX2326</td>
        </tr>
        <tr>
          <td><strong class="text-nowrap">Credit card type:</strong></td>
          <td>Visa</td>
        </tr>
        <tr>
          <td><strong class="text-nowrap">Expiration date:</strong></td>
          <td>05/2023</td>
        </tr>
        <tr>
          <td><strong class="text-nowrap">Billing address:</strong></td>
          <td>208 SW 1st Ave<br />Suite 240<br />Portland, Oregon 97204<br />United States</td>
        </tr>
        <tr>
          <td><strong class="text-nowrap">Phone number:</strong></td>
          <td>(503) 290-1090</td>
        </tr>
        <tr>
        <td class="text-primary"><strong class="text-nowrap">Total charges to card:</strong></td>
          <td>$15.00</td>
        </tr>
      </table>
      <div class="arrange arrange-gutter">
        <div class="arrange-fit">
          <button class="btn btn-default btn-shaded"><span class="arrow-left"></span> Edit</button>
        </div>
        <div class="arrange-fill">
          <button class="btn btn-primary">Submit order</button>
        </div>
      </div>
      <div class="box box-scroll">
        <h2 class="text-cursive text-primary">Customer Satisfaction is Our Top Priority</h2>
        <quote>"As something of a 'Psychic Junkie' I've tried lots of Psychic Services as well as local psychics, but always return to Psychic Source like a dear, trusted friend. I like that it's always there, whenever I need it, and that I can try someone new without worrying what if I get a bad reading or don't connect with the reader. I've had the most incredibly accurate readings, and I've also called to request my money back. They're not afraid to stand behind their customers with a guarantee, which is rare in this business."</quote>
        <cite>- a loyal customer from California</cite>
      </div>
      {{> signup/_signup-footer }}
  </div>
</div>

{{> pages/_footer }}
