<div class="container-fluid no-gutters u-padding-top">
  <div class="col-xs-8">
    <h1 class="text-primary u-no-margin-top">Satisfaction Guarantee</h1>
    <p>If you're unhappy with your last live purchased psychic reading, we will refund your money from that reading or give you the time back to try us again.</p>
  </div>
  <div class="col-xs-4 u-padding-top u-padding-left">
    <img src="/images/satisfaction-seal.png" alt=" " />
  </div>
</div>
