<p>
  <button type="button" class="btn btn-primary btn-shaded">Shaded button</button>
  <button type="button" class="btn btn-default btn-shaded">Shaded button</button>
</p>
<p>
  <button type="button" class="btn btn-primary btn-rounded">Rounded button</button>
  <button type="button" class="btn btn-default btn-rounded">Rounded button</button>
</p>
