<h1 class="text-primary">I am a Heading Level 1 (H1)</h1>
<h2>I am a Heading Level 2 (H2)</h2>
<h3 class="text-warning">I am a Heading Level 3 (H3)</h3>
<h4>I am a Heading Level 4 (H4)</h4>
<h5 class="text-muted">I am a Heading Level 5 (H5)</h5>
