---
description: Add a divider to separate series of links in a dropdown menu.
bootstrap: http://getbootstrap.com/components/#dropdowns-divider
---

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-expanded="false">
    Dropdown
    <span class="arrow-down text-muted"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
