---
status: inprogress
---

<div class="masthead">

  <a class="masthead-logo" href="">
    <picture class="picture-responsive">
      <source srcset="/images/logo/ps-logo-tagline.png" media="(min-width: 994px)">
      <img srcset="/images/logo/ps-logo.png" src="/images/logo/ps-logo.png" alt="Psychic Source - Life's possibilites. Revealed.">
    </picture>
  </a>

  <div class="masthead-body">

    <div class="masthead-controls">
      <ul class="masthead-menu">
        <li>
          <a href="" class="btn btn-sunrise btn-shaded">
            Login
          </a>
        </li>
        <li class="hidden-xs hidden-sm hidden-md">
          <a href="" class="btn btn-sunrise btn-shaded">
            Customer Care
            <span class="arrow-down text-muted"></span>
          </a>
        </li>
        <li class="masthead-search-toggle">
          <a href="" class="btn btn-sunrise btn-shaded">
            <svg class="icon icon-md">
              <use xlink:href="/images/symbol/svg/sprite.symbol.svg#search" />
            </svg>
          </a>
        </li>
      </ul>
      <form class="masthead-search">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-sunrise btn-shaded">
              <svg class="icon icon-md">
                <use xlink:href="/images/symbol/svg/sprite.symbol.svg#search" />
              </svg>
              Psychics
              <span class="arrow-down text-muted"></span>
            </button>
          </div>
          <input id="q" type="text" class="form-control">
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary btn-shaded">Go</button>
          </div>
        </div>
      </form>
    </div>

    <div class="masthead-messaging text-right u-padding-top visible-lg-block">
      <p><a class="text-default text-underline" href="">Our Satisfaction Guarantee</a></p>
      <p class="h2 u-no-margin-top">
        <a class="text-danger" href="tel:18009653049">
          <svg class="icon icon-md">
            <use xlink:href="/images/symbol/svg/sprite.symbol.svg#phone" />
          </svg>
          1.800.965.3049
        </a>
      </p>
      <p class="u-no-margin-bottom">Since 1989, the Most Respected Psychic Service</p>
    </div>

  </div>

</div>

<script>

$(function(){

  var $masthead = $('.masthead');
  var $toggle   = $('.masthead-search-toggle');
  var $field    = $('#q');

  $toggle.click(function (event) {
    event.preventDefault();
    $masthead.addClass('is-search-open');
    $field.click().focus();
  });

});

</script>
