---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
  {{! TODO: Remove inline style when this page has more elements. }}
  <div class="box-full box-default-sm box-lighter box-sheer" style="margin-top: 2em; margin-bottom: 2em;">
    {{> filters/filter-menu }}
    {{> advisors/advisor-grid }}
    {{> pagination/states }}
  </div>
</div>

{{> pages/_footer }}
