---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full box-default-lg box-lighter box-sheer">
    {{> our-psychics/_top-promo }}
    <div class="hidden-md hidden-lg">
      {{> toolbar/toolbar }}
    </div>
    <div class="container-fluid prairie-dog-xs prairie-dog-sm no-gutters-xs no-gutters-sm" id="our-psychics-container">
      <div class="col-md-3">
        <div class="prairie-dog-dialog box box-lighter box-sheer box-shadow u-margin-ends" id="our-psychics-search" data-parent="#our-psychics-container">
          {{> our-psychics/_sidebar-search }}
        </div>
        <div class="prairie-dog-dialog box box-lighter box-sheer box-shadow u-margin-ends u-overflow-hidden" id="our-psychics-sort" data-parent="#our-psychics-container">
          {{> our-psychics/_sidebar-sort }}
        </div>
        <div class="prairie-dog-dialog box box-lighter box-sheer box-shadow u-margin-ends" id="our-psychics-filters" data-parent="#our-psychics-container">
          {{> our-psychics/_sidebar-filters }}
        </div>
        <div class="prairie-dog-dialog box box-lighter box-sheer box-shadow u-margin-ends" id="our-psychics-picks" data-parent="#our-psychics-container">
          {{> our-psychics/_sidebar-picks }}
        </div>
      </div>
    	<div class="prairie-dog-overlay"></div>
      <div class="col-md-9 prairie-dog-bg">
        <div class="hidden-xs hidden-sm u-margin-top">
          {{> tabs/tabs }}
        </div>
        {{> advisors/advisor-grid }}
      </div>
      <div class="col-xs-12">
        {{> pagination/with-options }}
      </div>
    </div>
  </div>
</div>
{{> pages/_footer }}
