<div class="arrange">
  <div class="arrange-fill hidden-md hidden-lg">
    <button class="btn btn-default btn-shaded" type="button" data-popview="#advisor-main"><span class="arrow-left"></span> Back</button>
  </div>
  <div class="arrange-fit text-center text-nowrap">
    <button class="btn btn-link" type="button" data-popview="#advisor-main"><span class="text-danger">Clear All</span></button>
    <button class="btn btn-success btn-shaded js-apply-button" type="button" data-popview="#advisor-main">Filter</button>
  </div>
</div>
