<div class="form-group form-group-required u-padding">
  <label class="control-label" for="advisor-search">Search advisors by name or extension</label>
  <div class="input-group">
    <input type="text" class="form-control input-sm" id="advisor-search">
    <span class="input-group-btn">
      <button class="btn btn-sm btn-default btn-shaded" type="button">Go</button>
    </span>
  </div>
</div>