<div class="u-padding">
  <div class="form-group form-group-required">
    <label class="control-label" for="advisor-search">Advisor Search by name or extension</label>
    <div class="input-group">
      <input type="text" class="form-control input-sm" placeholder="Name or extension..." id="advisor-search">
      <span class="input-group-btn">
        <button class="btn btn-sm btn-primary btn-shaded" type="button">Go</button>
      </span>
    </div>
  </div>
</div>