<div class="box box-tan">
  <h3 class="text-primary">Not sure which of our advisors to connect with?</h3> 
  <p>See our <a href="#"><strong>staff picks</strong></a> or <a href="#"><strong>psychics you might like</strong></a> based on your history.</p>
</div>
