<h4 class="u-no-margin u-padding hidden-xs hidden-sm">Filter by</h4>
{{> filters/filter-menu }}
<div class="text-center u-padding text-nowrap">
  <button class="btn btn-link" type="button" data-dismiss="prairie-dog"><span class="text-danger">Clear All</span></button>
  <button class="btn btn-success btn-shaded js-apply-button" type="button" data-dismiss="prairie-dog">Filter</button>
</div>
