<h4 class="u-no-margin u-padding hidden-xs hidden-sm">Filter by</h4>
{{> filters/filter-menu }}
<div class="u-padding">
  <div class="arrange arrange-equal arrange-gutter">
    <div class="arrange-fill">
      <button class="btn btn-block btn-link u-no-padding-sides" type="button" data-dismiss="prairie-dog">Clear All</button>
    </div>
    <div class="arrange-fill">
      <button class="btn btn-block btn-default btn-shaded u-no-padding-sides js-apply-button" type="button" data-dismiss="prairie-dog">Filter</button>
    </div>
  </div>
</div>
