<div class="u-padding">
  <div class="input-group">
    <input type="text" class="form-control input-sm" placeholder="Name or extension...">
    <span class="input-group-btn">
      <button class="btn btn-sm btn-primary btn-shaded" type="button">Go</button>
    </span>
  </div>
</div>
