<div class="filter">
	<h4 class="filter-heading hidden-xs hidden-sm">
		<a data-toggle="collapse" class="filter-item filter-parent filter-primary filter-rounded collapsed" href="#sort-show">
		Sort	<small class="filter-summary">Highest Price</small>
		<span class="badge filter-badge"></span>
		</a>
	</h4>
	<div class="filter-collapse collapse in" id="sort-show" aria-expanded="false">
		<div class="filter ">
	        <label class="filter-item">
	          <span class="filter-radio">
	            <input type="radio" name="sort-option" value="available" checked>
	            <span class="filter-radio-value" aria-hidden="true"></span>
	          </span>
	         	Available
	        </label>
	    </div>
	    <div class="filter ">
	        <label class="filter-item">
	          <span class="filter-radio">
	            <input type="radio" name="sort-option" value="busy">
	            <span class="filter-radio-value" aria-hidden="true"></span>
	          </span>
	         	Busy
	        </label>
	    </div>
	    <div class="filter ">
	        <label class="filter-item">
	          <span class="filter-radio">
	            <input type="radio" name="sort-option" value="rating">
	            <span class="filter-radio-value" aria-hidden="true"></span>
	          </span>
	          Star Rating
	        </label>
	    </div>
	    <div class="filter ">
	        <label class="filter-item">
	          <span class="filter-radio">
	            <input type="radio" name="sort-option" value="alpha">
	            <span class="filter-radio-value" aria-hidden="true"></span>
	          </span>
	          Alphabetical
	        </label>
	    </div>
	    <div class="filter ">
	        <label class="filter-item">
	          <span class="filter-radio">
	            <input type="radio" name="sort-option" value="new">
	            <span class="filter-radio-value" aria-hidden="true"></span>
	          </span>
	          New
	        </label>
	    </div>
	    <div class="filter ">
	        <label class="filter-item">
	          <span class="filter-radio">
	            <input type="radio" name="sort-option" value="highest-price">
	            <span class="filter-radio-value" aria-hidden="true"></span>
	          </span>
	           Highest Price
	        </label>
	    </div>
	    <div class="filter ">
	        <label class="filter-item">
	          <span class="filter-radio">
	            <input type="radio"  name="sort-option"   value="lowest-price">
	            <span class="filter-radio-value" aria-hidden="true"></span>
	          </span>
	          Lowest Price
	        </label>
	    </div>
	</div>
</div>

