---
description: Step one of the signup form for new customers.
---

<form role="form">
  <label>Select an offer </label>
  <div class="arrange arrange-equal arrange-gutter">
    <div class="arrange-fit">
      <label for="30min" class="enrollment-plan-option selected">
        <b>30 Minutes</b> for $<span class="price-amount">30.00</span>
        <input type="radio" name="signupOffer" value="30" id="30min" checked />
      </label>
    </div>
    <div class="arrange-fit">
      <label for="20min" class="enrollment-plan-option">
        <b>20 Minutes</b> for $<span class="price-amount">20.00</span>
        <input type="radio" name="signupOffer" value="20" id="20min" />
      </label>
    </div>
    <div class="arrange-fit">
      <label for="10min" class="enrollment-plan-option">
        <b>10 Minutes</b> for $<span class="price-amount">10.00</span>
        <input type="radio" name="signupOffer" value="10" id="10min" />
      </label>
    </div>
  </div>
  <h3 class="text-primary text-center u-no-margin">...plus 3 minutes free!</h3>
  <p class="help-block"><a class="promo-link" href="#">Have a promo code?</a></p>
  <p class="help-block promo-code hidden">Promo code <strong class="code-slot">654123</strong> applied. <a class="change-promo" href="#">Change code</a>.</p>
  <div class="form-group promo-group hidden arrange arrange-gutter">
    <div class="arrange-fill">
      <input type="text" class="form-control" id="signupPromo" placeholder="Promo code" />
      <p class="help-block has-error hidden">Invalid code.</p>
    </div>
    <div class="arrange-fill">
      <button class="btn btn-primary apply-btn">Apply</button>
    </div>
  </div>
  <div class="form-group form-group-required">
    <label class="control-label" for="signupName">Your name</label>
    <input type="text" class="form-control" id="signupName" />
  </div>
  <div class="form-group form-group-required">
    <label class="control-label" for="signupEmail">Email address</label>
    <input type="email" class="form-control" id="signupEmail" />
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label for="signupOptIn">
        <input type="checkbox" checked="checked" id="signupOptIn" /> Yes! Sign me up for News and Promotions, so I can start earning <a href="#">Membership Rewards</a> towards my readings
      </label>
    </div>
  </div>
  <div class="form-group form-group-required">
    <label class="control-label" for="signupPassword">Choose a password</label>
    <input class="form-control" id="signupPassword" type="password" placeholder="Password" />
    <p class="help-block">Password must be at least one letter and one digit, minimum 6 characters.</p>
  </div>
   <div class="form-group form-group-required">
    <label>Gender</label>
    <div class="form-group arrange arrange-gutter">
      <div class="radio arrange-fit">
        <label>
         <input type="radio" value="female" checked="checked" /> Female
        </label>
      </div>
      <div class="radio arrange-fill">
        <label>
          <input type="radio" value="male" /> Male
        </label>
      </div>
    </div>

  </div>
   <div class="form-group form-group-required">
    <label class="control-label" for="signupDOB">Date of birth</label>
    <input type="date" class="form-control" id="signupDOB" />
  </div>
   <div class="form-group">
    <button class="btn btn-primary">Next step <span class="arrow-right"></span></button>
  </div>
</form>




<script>

$(function() {
  $('#signupPassword').showPassword('focus');


  $('.promo-link').each(function () {
    var $link = $(this);
    var $form = $link.closest('form');
    var $group = $form.find('.promo-group');
    var $code = $form.find('.promo-code');
    var $error = $group.find('.has-error');
    var $promoinput = $group.find('#signupPromo');

    $link.click(function (e) {
      e.preventDefault();
      $group.removeClass('hidden');
    });

    $group.find('.apply-btn').click(function (e) {
      e.preventDefault();
      var code = $group.find('#signupPromo').val();
      if (code.match(/^\d{6}$/)) {
        $group.addClass('hidden');
        $link.addClass('hidden');
        $error.addClass('hidden');

        $code.find('.code-slot').text(code);

        $code.removeClass('hidden');

        // Update prices
        $form.find('.price-amount:not(.discounted)').each(function () {
          var $price = $(this);
          var newPrice = $price.text() * 0.75 + "";
          var place = newPrice.indexOf('.');
          $price.text(newPrice + ".00".slice(newPrice.length - (place > 0 ? place : newPrice.length)));
        }).addClass('discounted');
      }
      else {
        $error.removeClass('hidden');
        $promoinput.addClass('has-error');
      }
    });

    $form.find('.change-promo').click(function (e) {
      e.preventDefault();

      $group.removeClass('hidden');
    });
  });
});

</script>
