---
description: Step one of the signup form for new customers.
---

<form role="form">
  <label>Select an offer </label>
  <div class="arrange arrange-equal arrange-gutter btn-group" data-toggle="buttons">
    <div class="arrange-fit">
      <label for="30min" class="btn btn-primary enrollment-plan-option active" data-discount-for="form-group-promo">
        <b>30 Minutes</b> for <span class="js-price-amount" data-amount="30.00">$30.00</span> <span class="js-price-discounted" data-amount="22.50"></span>
        <input type="radio" name="signupOffer" value="30" id="30min" checked />
      </label>
    </div>
    <div class="arrange-fit">
      <label for="20min" class="btn btn-primary enrollment-plan-option" data-discount-for="form-group-promo">
        <b>20 Minutes</b> for <span class="js-price-amount" data-amount="20.00">$20.00</span> <span class="js-price-discounted" data-amount="15.00"></span>
        <input type="radio" name="signupOffer" value="20" id="20min" />
      </label>
    </div>
    <div class="arrange-fit">
      <label for="10min" class="btn btn-primary enrollment-plan-option" data-discount-for="form-group-promo">
        <b>10 Minutes</b> for <span class="js-price-amount" data-amount="10.00">$10.00</span> <span class="js-price-discounted" data-amount="7.50"></span>
        <input type="radio" name="signupOffer" value="10" id="10min" />
      </label>
    </div>
  </div>
  <h3 class="text-primary text-center u-no-margin">...plus 3 minutes free!</h3>

  <div class="help-block" data-promo-success-for="form-group-promo">
    <p class="is-success-msg">Promo code <strong class="js-code-slot">654123</strong> applied.</p>
  </div>

  <p class="help-block"><a class="promo-link collapsed" data-toggle="collapse" href="#form-group-promo">Have a promo code?</a></p>
  <div class="collapse promo-group" id="form-group-promo">
    <div class="form-group arrange arrange-gutter">
      <div class="arrange-fill">
        <input type="text" class="form-control" id="signupPromo" placeholder="Promo code" />
        <p class="help-block is-error-msg">Invalid code.</p>
      </div>
      <div class="arrange-fill">
        <button class="btn btn-primary apply-btn">Apply</button>
      </div>
    </div>
  </div>
  
  <div class="form-group form-group-required">
    <label class="control-label" for="signupName">Your name</label>
    <input type="text" class="form-control" id="signupName" />
  </div>
  <div class="form-group form-group-required">
    <label class="control-label" for="signupEmail">Email address</label>
    <input type="email" class="form-control" id="signupEmail" />
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label for="signupOptIn">
        <input type="checkbox" checked="checked" id="signupOptIn" /> Yes! Sign me up for News and Promotions, so I can start earning <a href="#">Membership Rewards</a> towards my readings
      </label>
    </div>
  </div>
  <div class="form-group form-group-required">
    <label class="control-label" for="signupPassword">Choose a password</label>
    <input class="form-control" id="signupPassword" type="password" placeholder="Password" />
    <p class="help-block">Password must be at least one letter and one digit, minimum 6 characters.</p>
  </div>
   <div class="form-group form-group-required">
    <label>Gender</label>
    <div class="form-group arrange arrange-gutter">
      <div class="radio arrange-fit">
        <label>
         <input type="radio" value="female" checked="checked" /> Female
        </label>
      </div>
      <div class="radio arrange-fill">
        <label>
          <input type="radio" value="male" /> Male
        </label>
      </div>
    </div>

  </div>
   <div class="form-group form-group-required">
    <label class="control-label" for="signupDOB">Date of birth</label>
    <input type="date" class="form-control" id="signupDOB" />
  </div>
   <div class="form-group">
    <button class="btn btn-primary">Next step <span class="arrow-right"></span></button>
  </div>
</form>




<script>

$(function() {
  $('#signupPassword').showPassword('focus');

  $('.promo-group').each(function() {
    var $promoGroup = $(this);
    var $applyBtn   = $promoGroup.find('.apply-btn');
    var $input      = $promoGroup.find('input');

    $applyBtn.click(function(e) {
      var code          = $input.val();
      var codeIsValid   = !!code.match(/^\d{6}/);
      var $els          = {
        discounts     : $('[data-discount-for="' + $promoGroup.attr('id') + '"]'),
        promoGroup    : $promoGroup,
        success       : $('[data-promo-success-for="' + $promoGroup.attr('id') + '"]'),
        toggleControl : $('[href="#' + $promoGroup.attr('id') + '"]'),
        input         : $input
      };
      var eventName  = (codeIsValid) ? 'c4.codeIsValid' : 'c4.codeIsInvalid';
      $promoGroup.trigger('c4.codeValidation', [code, codeIsValid, $els]);
      $promoGroup.trigger(eventName, [code, $els]);
      e.preventDefault();
    });

    $('.promo-group').on('c4.codeValidation', function(e, code, codeIsValid, $els) {
      $els.promoGroup.toggleClass('has-error', !codeIsValid);
      $els.promoGroup.toggleClass('has-success', codeIsValid);
      $els.success.toggleClass('has-success', codeIsValid);
    });

    $('.promo-group').on('c4.codeIsValid', function(e, code, $els) {
      $els.success.find('.js-code-slot').text(code);
      $promoGroup.collapse('hide');
      $els.toggleControl.show().html('Change code');
      $els.discounts.find('.js-price-amount').each(function() {
        $(this).html('<del>$' + $(this).data('amount') + '</del>');
      });
      $els.discounts.find('.js-price-discounted').each(function() {
        $(this).html('$' + $(this).data('amount'));
      });
    });

    $('.promo-group').on('c4.codeIsInvalid', function(e, code, $els) {
      $els.toggleControl.html('Cancel');
      $promoGroup.one('hidden.bs.collapse', function() {
        $els.toggleControl.html('Have a promo code?');
      });
      $els.discounts.find('.js-price-amount').each(function() {
        $(this).html('$' + $(this).data('amount'));
      });
      $els.discounts.find('.js-price-discounted').each(function() {
        $(this).html('');
      });
    });
  });
});

</script>
