---
description: The signup form for new customers.
---

<form role="form">
 <div class="box box-lighter box-shadow">   
  <div class="media">
    <a class="media-left" href="#">
      <img src="/images/satisfaction-seal.png" width="120" alt="Satisfaction Guarantee" />
    </a>
    <div class="media-body">
      <h2 class="media-heading text-cursive text-primary">Truly Risk Free!</h2>
      If you're unhappy with your last live purchased psychic reading, we will refund your money from that reading or give you the time back to try us again.
    </div>
  </div>
 </div> 
  <div class="form-group">
    <label>How many minutes would you like to start with?</label>
    <div class="radio">
      <label>
        <input type="radio" value="30" checked="checked" /> 30 minutes <strong>plus 3 minutes free</strong> for $30.00
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" value="20" /> 20 minutes <strong>plus 3 minutes free</strong> for $20.00
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" value="10" /> 20 minutes <strong>plus 3 minutes free</strong> for $10.00
      </label>
    </div>
     <p class="help-block"><a href="#">Have a promo code?</a></p>
   
  </div> 
  <div class="form-group">
    <label for="signupName">Your name</label>
    <input type="text" class="form-control" id="signupName" />
  </div>
  <div class="form-group">
    <label for="signupEmail">Email address</label>
    <input type="email" class="form-control" id="signupEmail" />
    <div class="help-block"">
      <div class="checkbox">
      <label>
        <input type="checkbox" checked="checked" /> Yes! Sign me up for News and Promotions, so I can start earning <a href="#">Membership Rewards</a> towards my readings
      </label>
      </div>
    </div>
  <div class="form-group">
    <label for="signupPassword">Choose a password</label>
    <input type="password" class="form-control" id="signupPassword" />
    <p class="help-block">Password must be at least one letter and one digit, minimum 6 characters.</p>
  </div>
  
  <div class="box box-lighter box-shadow">   
  <div class="media">
    <a class="media-left" href="https://www.youtube.com/watch?v=vzNICdAV-XE" target="_new">
      <img src="/images/how-it-works-thumbnail.png" width="120" alt="How it Works" />
    </a>
    <div class="media-body">
      <h2 class="media-heading text-cursive text-primary">No Hidden Fees</h2>
      At Psychic Source you control how much you spend, and you're only charged for the time you talk with an advisor. No hidden fees. No surprise charges.
    </div>
  </div>
 </div> 
 <h3>Billing Information</h3>
 <div class="form-group">
    <label for="signupCCName">Name as it appears on card</label>
    <input type="text" class="form-control" id="signupCCName" />
  </div>
  <div class="form-group">
    <label for="signupCCNumber">Credit card number</label>
    <input type="text" class="form-control" id="signupCCNumber" />
  </div>
  <div class="form-group">
    <div class="form-group">
      <label for="signupCCExp">Expiration date</label>
      <input type="text" class="form-control" id="signupCCExp" />
    </div> 
    <div class="form-group">
      <label for="signupCCCode">CVV<a href="#">?</a></label>
      <input type="text" class="form-control" id="signupCCCode" />
    </div>  
  </div>
  <div class="form-group">
    <label for="signupCCZip">Billing zip or postal code</label>
    <input type="text" class="form-control" id="signupCCZip" />
  </div>
  <div class="form-group">
   <div class="checkbox">
      <label>
        <input type="checkbox" /> I am 18 years of age or order and I agree to Psychic Source <a href="#">terms and conditions</a>.
      </label>
      </div>
    </div>  
</form>