---
description: Step three of the sign up process, thanks and account info.
---

<h1 class="text-primary">Thank you, Aileen Jeffries</h1>
<p>Your order has been processed. An email confirmation has been sent to aileen@cloudfour.com.</p>

<p><strong>Your login for your Phone Reading</strong><br />
<strong>Phone Number:</strong> 502-290-1090<br />
<strong>PIN:</strong> 5540</p>

<p><strong>Your login for your Chat Reading</strong><br />
There are two ways to log in to your Psychic Source web account. You can use your Phone Number and PIN or use your Email Address and Password. Your
password may be changed on your <a href="#">My Account</a> page.</p>

<h2>Questions?</h2>
<p><strong>Call 1.800.965.3049 to reach our Customer Care Representatives.</strong> 
Our Customer Care Center is not outsourced or overseas, and is there to help you 24 hours a day,
 7 days a week.</p>
<p><strong>Calling from outside the US?</strong> Just dial this toll-free number 1.800.965.3049 to be connected.</p>
<p>You can also get <strong><a href="javascript:void(0);" onclick="javascript:window.open('https://server.iad.liveperson.net/hc/86092024/?cmd=file&amp;file=visitorWantsToChat&amp;site=86092024&amp;byhref=1','','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=no,resizable=yes,width=475,height=400,left=0,top=0');">Live Help</a> for a direct, online connection to our Customer Care Center.</strong> 
One of our friendly Customer Care representatives can ensure your questions are answered!</p>


