---
description: Modal
---

<div class="box box-modal">
  <a href="#" class="modal-close">X</a>
  <div class="modal-content">Are you sure you don't want to sign up for News and Promotions? If you join now, you'll also be a Membership Rewards member and earn rewards toward your psychic readings.</div>
  <div class="arrange">
    <div class="arrange-fit">
      <button class="btn btn-primary">Sign up now!</button>
    </div>  
    <div class="arrange-fit text-right">
      <button class="btn btn-primary">No thanks...</button>
    </div>  
  </div>  
</div>
