---
description: Footer for the signup form.
---

<h3>Safety and security at Psychic Source</h3>
<p>Psychic Source is committed to protecting your privacy and uses some of the most sophisticated security software commercially available. We respect your privacy and are committed to no spam. Your information is safe with us.</p>
<div class="arrange arrange-equal arrange-gutter">
  <div class="arrange-fill"><img id="trustwaveSealImage" src="https://sealserver.trustkeeper.net/seal_image.php?customerId=w6oj3BZ9ZNOha6R5amMpi3XmyrcVM8&amp;size=105x54&amp;style=normal" border="0" style="cursor:pointer;" onclick="javascript:window.open('https://sealserver.trustkeeper.net/cert.php?customerId=w6oj3BZ9ZNOha6R5amMpi3XmyrcVM8&amp;size=105x54&amp;style=normal', 'c_TW', 'location=no, toolbar=no, resizable=yes, scrollbars=yes, directories=no, status=no, width=615, height=720'); return false;" oncontextmenu="javascript:alert('Copying Prohibited by Law - Trusted Commerce is a Service Mark of TrustWave Holdings, Inc.'); return false;" alt="This site is protected by Trustwave's Trusted Commerce program" title="This site is protected by Trustwave's Trusted Commerce program"><noscript>&lt;a href="https://sealserver.trustkeeper.net/compliance/cert.php?code=w6oj3BZ9ZNOha6R5amMpi3XmyrcVM8&amp;style=normal&amp;size=105x54&amp;language=en" target="hATW"&gt;&lt;img src="https://sealserver.trustkeeper.net/compliance/seal.php?code=w6oj3BZ9ZNOha6R5amMpi3XmyrcVM8&amp;style=normal&amp;size=105x54&amp;language=en" border="0" alt="Trusted Commerce"/&gt;&lt;/a&gt;</noscript></div>
  <div class="arrange-fill" style="padding-top:8px;"><img style="cursor:pointer;cursor:hand" src="https://seal.godaddy.com/images/3/en/siteseal_gd_3_h_d_m.gif" onclick="verifySeal();"><br><a style="font-family: arial; font-size: 9px; color:#ffffff;" href="https://www.godaddy.com/ssl/ssl-certificates.aspx" target="_blank">Secure Servers</a></div>
</div>  