---
bootstrap: http://getbootstrap.com/css/#forms
---

<form role="form">
  <div class="form-group">
    <label class="control-label" for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="control-label" for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    <p class="help-block is-error-msg">Must have at least six characters.</p>
  </div>
  <div class="form-group">
    <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
  </div>
  <div class="form-group has-error">
    <label class="control-label" for="inputError1">Input with error</label>
    <input type="text" class="form-control" id="inputError1">
    <p class="help-block is-error-msg">Not a valid code.</p>
  </div>
  <div class="form-group">
    <label class="control-label"  for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio"> I am radio button
    </label>
  </div>
  <button type="submit" class="btn btn-primary btn-rounded btn-shaded">Submit</button>
</form>
