---
name: Phone (tel) Field
description: Input type of `tel` with phone number masking via intl-tel-input jQuery plugin
---
<form role="form">
  <div class="form-group form-group-required">
    <label class="control-label" for="signupPhone">Phone number</label>
    <input type="tel" class="form-control" id="signupPhone" data-mask-type="tel"/>
  </div>
</form>

<script>
$(function() {
  $('[data-mask-type="tel"]').intlTelInput();
});
</script>
