---
name: Sample Composition
description: This pattern contains several examples of usage to include other patterns and use data.
---
<h1>{{foo}} is passed by task</h1>
<h2>{{baz}} is local </h2>
<h3>{{test.ding}} is global</h3>
<h4>{{> atoms/no-number }} is a partial</h4>
<h5>And this is just static</h5>
