<!doctype html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Foobar</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico" />

</head>

<body>
<h1>{{foo}} is passed by task</h1>
<h2>{{baz}} is local </h2>
<h3>{{test.ding}} is global</h3>
<h4>{{> atoms/no-number }} is a partial</h4>


</body>
</html>
