---
description: Sass Variables 
description: >
---

<span class="swatch" style="background-color:#333"></span> $gray-dark: #333; <br />
<span class="swatch" style="background-color:#84796d"></span> $gray: #84796d; <br />
<span class="swatch" style="background-color:#bbb"></span> $gray-light: #bbb; <br />
<span class="swatch" style="background-color:#d4ddde"></span> $gray-lighter: #d4ddde; <br />

<span class="swatch" style="background-color:#bf4646"></span> $red: #bf4646; <br />
<span class="swatch" style="background-color:#e33c3c"></span> $red-bright: #e33c3c; <br />
<span class="swatch" style="background-color:#8b1d3a"></span> $red-dark: #8b1d3a; <br />
<span class="swatch" style="background-color:#531917"></span> $red-darker: #531917; <br />

<span class="swatch" style="background-color:#d8c3a7"></span> $tan: #d8c3a7; <br />
<span class="swatch" style="background-color:#feeed7"></span> $tan-light: #feeed7; <br />
<span class="swatch" style="background-color:#333"></span> $tan-dark: darken($tan, 7%); <br />

<span class="swatch" style="background-color:#f87f25"></span> $orange: #f87f25; <br />
<span class="swatch" style="background-color:#F4BC84"></span> $orange-light: #F4BC84; <br />
<span class="swatch" style="background-color:#fdf6e4"></span> $orange-lighter: #fdf6e4; <br />

<span class="swatch" style="background-color:#315F7A"></span> $blue: #315F7A; <br />
<span class="swatch" style="background-color:#6C9DBA"></span> $blue-light: #6C9DBA; <br />
<span class="swatch" style="background-color:#223540"></span> $blue-dark: #223540; <br />
<span class="swatch" style="background-color:#89a5a8"></span> $blue-gray: #89a5a8; <br />
<span class="swatch" style="background-color:#1668AC"></span> $blue-bright: #1668AC; <br />

<span class="swatch" style="background-color:#44a6d4"></span> $teal: #44a6d4; <br />
<span class="swatch" style="background-color:#e9f2ef"></span> $teal-light: #e9f2ef; <br />

<span class="swatch" style="background-color:#75a938"></span> $green: #75a938; <br />
<span class="swatch" style="background-color:#B8EF70"></span> $green-light: #B8EF70; <br />
<span class="swatch" style="background-color:#8CEB10"></span> $green-bright: #8CEB10; <br />
<span class="swatch" style="background-color:#006600"></span> $dark-green: #006600; <br />
<span class="swatch" style="background-color:#dd5c8b"></span> $pink: #dd5c8b; <br />