---
description: Nifty arrows generated using CSS borders. Size and color are based on the parent `currentColor` and `font-size` by default. Custom arrows can be generated using the `triangle` mixin.
---
<p>Up: <span class="arrow-up"></span></p>
<p>Right: <span class="arrow-right"></span></p>
<p>Down: <span class="arrow-down"></span></p>
<p>Left: <span class="arrow-left"></span></p>
