---
description: Variation of arrows that are equilateral (rather than isosceles). These can appear more balanced in certain contexts.
---

<button class="btn btn-info btn-rounded">
  <span class="arrow-left-equilateral" aria-hidden="true"></span>
  Previous
</button>

<button class="btn btn-info btn-rounded">
  Next
  <span class="arrow-right-equilateral" aria-hidden="true"></span>
</button>
