---
name: Before & After
description: >
  You can also include arrows as an element's `:before` or `:after`
  pseudo-elements by appending `-before` or `-after` to the arrow class name,
  applied to the desired parent element.
---

<button class="btn btn-info btn-rounded arrow-left-equilateral-before">
  Previous
</button>

<button class="btn btn-info btn-rounded arrow-right-equilateral-after">
  Next
</button>
