---
description: >
  Including the class `arrow-toggle` on any of these elements will allow the
  arrow to flip `180deg` when the class `active` is applied.
---

<button class="btn btn-default arrow-down-after arrow-toggle">
  You spin me right round
</button>

<button class="btn btn-default arrow-down-after arrow-toggle active">
  Like a record, baby
</button>
