<div class="container-page">
<div class="carousel peek">
		<div>
			<a href="#">
				<img src="/images/rotator/1214-winter-newsletter.png">
			</a>
		</div>
		<div>
			<a href="#">
				<img src="/images/rotator/021414-vday.jpg">
			</a>
		</div>
		<div>
			<a href="#">
				<img src="/images/rotator/053114-25th-anniv-new-mbr.jpg">
			</a>
		</div>	
	</div>
</div>

