<div class="carousel-small carousel arrows" data-transition="slide">
	<div>
		<img src="/images/rotator/1214-winter-newsletter.png">
	</div>
	<div>
		<img src="/images/rotator/021414-vday.jpg">
	</div>
	<div>
		<img src="/images/rotator/053114-25th-anniv-new-mbr.jpg">
	</div>	
</div>

