<h1 class="border-bottom">
  I am an H1 with a dotted bottom border
</h1>

<p class="border-bottom">
  Every psychic reader at Psychic Source uses a variety of gifts and tools to give you the most insightful, revealing, and helpful reading possible. Many of our gifted psychic readers were born with their psychic gifts, discovering that they possessed these special abilities at an early age. Often the psychic gifts run in the family and are passed down from generation to generation.
</p>
