---
description: >
  Horizontal full-width buttons somewhat visually reminiscent of an
  [iOS Tab Bar](https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/Bars.html#//apple_ref/doc/uid/TP40006556-CH12-SW52).
fullWidth: true
---

<ul class="toolbar js-toolbar" role="tablist">
  <li role="presentation">
    <a role="tab" href="#our-psychics-search" aria-selected="false" data-toggle="prairie-dog">
      <svg class="icon toolbar-icon">
        <use xlink:href="/images/symbol/svg/sprite.symbol.svg#search" />
      </svg>
      Search
    </a>
  </li>
  <li role="presentation">
    <a role="tab" href="#our-psychics-sort" aria-selected="false" data-toggle="prairie-dog">
      <svg class="icon toolbar-icon">
        <use xlink:href="/images/symbol/svg/sprite.symbol.svg#sort" />
      </svg>
      Sort
    </a>
  </li>
  <li role="presentation">
    <a role="tab" href="#our-psychics-picks" aria-selected="false" data-toggle="prairie-dog">
      <svg class="icon toolbar-icon">
        <use xlink:href="/images/symbol/svg/sprite.symbol.svg#picks" />
      </svg>
      Picks
    </a>
  </li>
  <li role="presentation">
    <a role="tab" href="#our-psychics-filters" aria-selected="false" data-toggle="prairie-dog">
      <svg class="icon toolbar-icon">
        <use xlink:href="/images/symbol/svg/sprite.symbol.svg#filter" />
      </svg>
      Filter
    </a>
  </li>
</ul>

<script>

$(function(){

  var $window = $(window),      // most consistent GETTER for scrollTop
      $html = $('html,body'),   // most consistent SETTER for scrollTop
      minimumAffordance = 200,  // minimum pixels below toolbar allowed
      duration = 300;           // duration of animation in milliseconds

  $('.js-toolbar').each(function(){

    var $toolbar = $(this),
        $links = $toolbar.find('a');

    $links.on('click.vse.toolbar', function(){
      // don't bother if we're dismissing this link is already active
      if ($(this).hasClass('active')) return;

      var windowHeight = $window.height(),
          scrollY = $window.scrollTop(),
          toolbarY = $toolbar.offset().top,
          toolbarHeight = $toolbar.height();

      if (windowHeight - (toolbarY + toolbarHeight - scrollY) < minimumAffordance) {
        $html.stop().animate({ scrollTop: toolbarY }, 300);
      }
    });

  });

});

</script>
