---
fullWidth: true
status: inprogress
---

<ul class="toolbar" role="tablist">
  <li role="presentation">
    <a role="tab" href="#signup-guarantee" aria-selected="false" data-toggle="prairie-dog">
      <div>&clubs;</div>
      Satisfaction Guarantee
    </a>
  </li>
  <li role="presentation">
    <a role="tab" href="#signup-our-psychics" aria-selected="false" data-toggle="prairie-dog">
      <div>&diams;</div>
      Our Psychics
    </a>
  </li>
  <li role="presentation">
    <a role="tab" href="#signup-how-works" aria-selected="false" data-toggle="prairie-dog">
      <div>&hearts;</div>
      How it Works
    </a>
  </li>
</ul>
