
<p>Add new svg file to '/source/sprites/svg/css (for background images)</p>

<p>Add new svg file to '/source/sprites/svg/inline' (for inline icons)</p>

Run 'gulp'
Grab '/source/build/out/sprite.scss' -> replaces existing scss file
Grab '/source/build/out/images/svg-sprite.css-(something).svg' -> replaces existing svg file