---
description: This pattern (based on [the SUIT CSS `Arrange` component](https://github.com/suitcss/components-arrange/)) allows for horizontally and vertically arranging a single row of cells. Includes modifier classes for equal-width cells and gutter-separated cells. Makes use of CSS table layout.
---

<div class="arrange arrange-middle arrange-gutter demo-show-grid">
  <div class="arrange-fit">
    .arrange-fit
  </div>
  <div class="arrange-fill">
    .arrange-fill
  </div>
</div>
