---
name: Equally Spaced Arrange
description: Variation that is useful if you want an equally spaced row of buttons, icons, etc.
---

<ul class="arrange arrange-equal arrange-gutter">
  <li class="arrange-fill">
    <button class="btn btn-block btn-default">Like</button>
  </li>
  <li class="arrange-fill">
    <button class="btn btn-block btn-success">Save</button>
  </li>
  <li class="arrange-fill">
    <button class="btn btn-block btn-danger">Remove</button>
  </li>
</ul>
