---
status: inprogress
---

<div class="form-line">
  <label for="input-text" class="form-label">Label</label>
  <input name="input-text" type="text" maxlength="50"  id="input-text" class="form-input" />
</div>