---
status: inprogress
---

<div class="form-line">
  <input id="checkBox1" type="checkbox" name="" checked="checked" />
  <label for="checkBox1" class="form-label form-label-checkbox">Yes! Sign me up for News and Promotions, so I can start earning <a title="Earn rewards on every purchase and Bonus Dollars for getting readings. It’s quick, easy and free!">Membership Rewards </a> towards my readings</label>
</div>