{{#with review}}
<div class="reviews-summary">
  <p class="review-stars-average"><span class="stars stars-4-5"><span class="sr-only">{{ average list "rating" }} stars</span></span><span class="ratings-total"> (Avg. Rating)</span></p>
  <p class="reviews-count">You've posted <strong>{{ count list }}</strong> reviews in the last 3 months</p>
</div>
{{/with}}
