{{#with review}}
<div class="reviews-summary">
  <p class="review-stars-average"><span class="stars stars-4-5"><span class="sr-only">{{ average list "rating" }} stars</span></span><span class="ratings-total"> ({{ count list }} Ratings)</span></p>
  <p class="reviews-count"><strong>{{ count list }}</strong> <span class="hidden-xs hidden-sm bio-hidden-lg">Psychic Source member</span> reviews since <strong class="text-nowrap">Mar 2012</strong></p>
</div>
{{/with}}
