<header role="banner" class="container-page">

  <a href="">
    <img alt="Psychic Source - Life's possibilites. Revealed." src="/images/logo/ps-logo.png">
  </a>

  <nav>
    <ul>
      <li>
        <a href="" class="btn btn-default">
          Login
        </a>
      </li>
      <li>
        <a href="" class="btn">
          Customer Care
          <span class="arrow-down"></span>
        </a>
      </li>
      <li>
        <a href="#header-search" class="btn btn-default">
          <svg class="icon">
            <use xlink:href="/images/symbol/svg/sprite.symbol.svg#search" />
          </svg>
        </a>
      </li>
    </ul>
    <form id="header-search">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default">
            <svg class="icon">
              <use xlink:href="/images/symbol/svg/sprite.symbol.svg#search" />
            </svg>
            Psychics
            <span class="arrow-down"></span>
          </button>
        </div>
        <input type="text" class="form-control">
        <div class="input-group-btn">
          <button type="button" class="btn btn-primary btn-shaded">Go</button>
        </div>
      </div>
    </form>
  </nav>

  <div>
    <p><a href="">Our Satisfaction Guarantee</a></p>
    <p><a href="tel:18009653049">1.800.965.3049</a></p>
    <p>Since 1989, the Most Respected Psychic Service</p>
  </div>

  <nav>
    <ul>
      <li>
        <a href="">New Customers</a>
      </li>
      <li>
        <a href="">Our Psychics</a>
      </li>
      <li>
        <a href="">Horoscopes</a>
      </li>
      <li>
        <a href="">About Psychic Readings</a>
      </li>
      <li>
        <a href="">Articles &amp; Resources</a>
      </li>
    </ul>
  </nav>

</header>
