---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full box-default-lg box-lighter box-bio">
    <div class="row">
      <div class="col-md-8">
        {{> advisor-bio/_bio-about }}
        {{> advisor-bio/_bio-reviews }}
        
      </div>
      <div class="col-md-4">
        {{> advisor-bio/_bio-summary }}  
        {{> advisor-bio/_bio-schedule }}
        {{> advisor-bio/_bio-similar }}
      </div>
    </div>
  </div>
</div>

{{> pages/_footer }}
