---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full box-default-lg box-lighter box-bio u-shift-up">
    <div class="container-fluid no-gutters-xs no-gutters-sm">
      <div class="row">
        <div class="col-md-7 col-lg-8">
          {{> advisor-bio/_bio-summary }}
          {{> advisor-bio/_bio-about }}
          {{> advisor-bio/_bio-similar }}
        </div>
        <div class="col-md-5 col-lg-4 bio-reviews-col-md">
          {{> advisor-bio/_bio-schedule }}
          {{> advisor-bio/_bio-reviews }}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(function() {
  $('[data-toggle="collapse"][data-responsive="bio"]').responsiveCollapse();
});
</script>
{{> pages/_footer }}
