---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full box-default-lg box-lighter box-bio">
    <div class="row"> 
      <div class="col-lg-8">
        {{> advisor-bio/_bio-summary }}  
      </div>
      <div class="col-lg-4">
        {{> advisor-bio/_bio-schedule }}
      </div>
    </div>
    <div class="row"> 
      <div class="col-lg-8">
        {{> advisor-bio/_bio-about }}
        {{> advisor-bio/_bio-similar }}
      </div>
      <div class="col-lg-4 reviews-col-lg">
        {{> advisor-bio/_bio-reviews }}
      </div>
    </div>
  </div>
</div>

{{> pages/_footer }}
