---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full box-default-lg box-lighter">
    <h1 class="bio-name text-primary">Psychic Mazie x 7124</h1>
    <h4 class="bio-headline">Insightful and Compassionate</h4>
    <div class="bio-photo available">
      <p class="bio-fave fave-off"><a href="#">Favorite</a></p>
      <p class="bio-video"><a href="#">Watch</a></p>
      <p class="bio-audio"><a href="#">Listen</a></p>  
      <img src="/images/fpo/7124.jpg" />
      <p class="stars stars-lg stars-4-5">4½ stars</p>
    </div>
  <ul class="arrange bio-actions arrange-gutter">
    <li class="arrange-fill">
      <a class="btn btn-block btn-sm btn-success btn-shaded" href="#">Chat Now</a>
      <span class="bio-price"><del>$8.75</del> $1.00/min</span>
    </li>
    <li class="arrange-fill">
      <a class="btn btn-block btn-sm btn-success btn-shaded" href="#">Call Now</a>
      <span class="bio-price"><del>$8.75</del> $1.00/min</span>
    </li>
  </ul>
  <p class="bio-price-details">Pricing valid for first purchase only.</p>
  <p class="bio-summary">
   <strong>Mazie's Specialties:</strong> Clairvoyant, Intuitive/Empath, Psychic Medium<br />
   <strong>Tools:</strong> Spirit Guides, Tarot, Astrology<br />
   <strong>Reading Style:</strong> Compassionate
  </p>
    {{> advisor-bio/_bio-tabs }}
    {{> advisor-bio/_bio-schedule }}
  </div>
</div>
{{> pages/_footer }}
