---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full box-default-lg box-lighter box-bio">
    <div class="row">
      <div class="col-md-5">
        {{> advisor-bio/_bio-summary }}
        {{> advisor-bio/_bio-about }}
      </div>
      <div class="col-md-7">
        {{> advisor-bio/_bio-schedule }}
        {{> advisor-bio/_bio-reviews }}
      </div>
    </div>
    {{> advisor-bio/_bio-similar }}
  </div>
</div>

{{> pages/_footer }}
