<h3 class="bio-header"><a href="#more-about"  data-toggle="collapse" class="filter-item filter-parent filter-primary collapsed">About Mazie </a></h3>
<p class="bio-header">
  <strong>Mazie's Specialties:</strong> Clairvoyant, Intuitive/Empath, Psychic Medium<br /> 
  <strong>Tools:</strong> Spirit Guides, Tarot, Astrology<br />
  <strong>Reading Style:</strong> Compassionate
</p>

<div id="more-about" class="collapse show-md">
<h4 class="text-primary border-bottom">Subject & Expertise</h4>
<div class="row">
  <div class="col-md-4">
    <p><strong>Love, Relationships & Family</strong>
    <ul>
      <li>Finding love/Soulmates</li>
      <li>Breakups/Divorce</li>
      <li>Sex/Intimacy</li>
    </ul>
  </div>
  <div class="col-md-4">
    <p><strong>Career & Finances</strong>
    <ul>
      <li>Career Changes</li>
      <li>Work/Life Balance</li>
      <li>Financial Stress</li>
    </ul>
  </div>
  <div class="col-md-4">
   <p><strong>Life, Destiny & Meaning</strong>
    <ul>
      <li>Law of Attraction</li>
      <li>Reiki/Healing</li>
    </ul>
  </div>
</div>

<h4 class="text-primary border-bottom">More About Mazie</h4>
<p>Let Mazie guide you towards help with relationships, stress management, interpreting dreams, voices from beyond, career counseling, financial insights, and spiritualty. Feeling lost? Mazie exceeds in helping locate lost objects or connecting with lost people.</p>
<p>Mazie's Philosophy on Life is: "Be true to thyself, love is always first. Celebrate your life. Love fun. God didn't make us perfect because we’re just learning free will. Have no regrets." See why Mazie is always a favorite reader among our customer’s by dialing extension 7124!</p>

<h4 class="text-primary border-bottom">Words of Wisdom</h4>
<p>"Today is the first day of the rest of your life"- Abbie Hoffman</p>
</div>