<ul class="tabs bio-tabs" role="tablist">
  <li role="presentation" class="active"><a role="tab" href="#" aria-selected="true" data-toggle="tab">About</a></li>
  <li role="presentation"><a role="tab" href="#" aria-selected="false" data-toggle="tab">Reviews</a></li>
  <li role="presentation"><a role="tab" href="#" aria-selected="false" data-toggle="tab">Similar <span class="hidden-xs">Psychics</span></a></li>
</ul>