<div class="bio-advisor-summary">  
  <div class="bio-photo">
    <p class="bio-fave">
      <a href="#" title="Add to favorites">
        <svg class="icon icon-md">
          <use xlink:href="/images/symbol/svg/sprite.symbol.svg#heart" />
        </svg>
      </a>
    </p>
    <img src="/images/fpo/7124.jpg" />
    <div class="advisor-tile-staff-pick">
      Psychic Source is pleased to highlight this gifted Advisor
    </div>
  </div>
  <h1 class="bio-name text-primary">Psychic Mazie x 7124</h1>
  <h4 class="bio-headline">Insightful and Compassionate</h4>
  <p><span class="stars stars-4-5">4½ stars</span> <span class="review-count">(<a href="#reviews">1204 Ratings</a>)</span></p>
  <div class="arrange bio-audio-video">
    <p class="arrange-fill text-right"><a href="#" class="btn btn-sm"><svg class="icon icon-md"><use xlink:href="/images/symbol/svg/sprite.symbol.svg#video" /></svg> Watch video</a></p>
    <p class="arrange-fill text-left"><a href="#" class="btn btn-sm"><svg class="icon icon-md"><use xlink:href="/images/symbol/svg/sprite.symbol.svg#audio" /></svg> Hear message</a></p>  
  </div>
</div>
<h4 class="text-available text-center">Available until 8:27pm</h4>  
<ul class="arrange bio-actions arrange-gutter">
  <li class="arrange-fill">
      <a class="btn btn-block  btn-success btn-shaded" href="#">Chat Now</a>
      <span class="bio-price"><del>$8.75</del> $1.00/min</span>
    </li>
    <li class="arrange-fill">
      <a class="btn btn-block  btn-success btn-shaded" href="#">Call Now</a>
      <span class="bio-price"><del>$8.75</del> $1.00/min</span>
    </li>
  </ul>
  <p class="bio-price-details">Pricing valid for first purchase only.</p>
