<h3 class="bio-header"><a href="#more-schedule"  data-toggle="collapse" class="section-parent collapsed">Schedule </a></h3>
<div id="more-schedule" class="collapse show-md bio-schedule">
  <form class="form u-margin-top">
    <div class="form-group"> 
      <select class="form-control">
        <option value="Dateline Standard Time">Dateline Daylight Time</option>
        <option value="UTC-11">UTC-11</option>
        <option value="Hawaiian Standard Time">Hawaiian Daylight Time</option>
        <option value="Alaskan Standard Time">Alaskan Daylight Time</option>
        <option value="Pacific Standard Time">Pacific Daylight Time</option>
        <option selected="selected" value="Eastern Standard Time">Eastern Daylight Time</option>
      </select>
    </div>
  </form>
  <table class="table table-condensed table-bordered table-striped  u-margin-top">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Phone</th>
        <th>Chat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mon<span class="hidden-xs">day</span></td>
        <td>6am - 10am</td>
        <td>No schedule</td>
      </tr>
      <tr>
        <td>Tue<span class="hidden-xs">sday</span></td>
        <td>6am - 10am</td>
        <td>No schedule</td>
      </tr>
      <tr>
        <td>Wed<span class="hidden-xs">nesday</span></td>
        <td>6am - 10am</td>
        <td>10am - 12pm</td>
      </tr>
      <tr>
        <td>Thu<span class="hidden-xs">rsday</span></td>
        <td>6am - 10am</td>
        <td>No schedule</td>
      </tr>
      <tr>
        <td>Fri<span class="hidden-xs">day</span></td>
        <td>6am - 10am</td>
        <td>10am - 12pm</td>
      </tr>
      <tr>
        <td>Sat<span class="hidden-xs">urday</span></td>
        <td>No schedule</td>
        <td>No schedule</td>
      </tr>
      <tr>
        <td>Sun<span class="hidden-xs">day</span></td>
        <td>No schedule</td>
        <td>No schedule</td>
      </tr>
    </tbody>
  </table>
</div>