<div class="bio-summary text-center-xs text-center-sm">
  <div class="bio-summary-object">
    <div class="with-stamp">
      <img class="img-rounded img-shadow" src="/images/fpo/137.jpg" alt=" ">
      <div class="stamp-staffpick">
        Psychic Source is pleased to highlight this gifted Advisor
      </div>
    </div>
  </div>
  <div class="bio-summary-body">
    <div class="bio-summary-info">
      <h1 class="bio-summary-heading h2 text-primary">Psychic Mazie x1337</h1>
      <p class="text-neutral">Insightful and compassionate</p>
      <p>
        <span class="stars stars-4-5">
          <span class="sr-only">{{{formatFraction 4.5}}} stars</span>
        </span>
        <span class="text-muted">(<a href="">1204 Ratings</a>)</span>
      </p>
    </div>
    <button
      type="button"
      class="bio-summary-fave-btn btn btn-fave btn-rounded btn-shaded"
      data-toggle="button"
      data-favorite-text="Favorited"
      aria-pressed="false">
      Favorite
    </button>
    <ul class="bio-summary-av list-inline">
      <li>
        <a class="btn u-no-padding-sides text-normal text-tertiary" href="#">
          <svg class="icon icon-md">
            <use xlink:href="/images/symbol/svg/sprite.symbol.svg#video" />
          </svg>
          Watch my video
        </a>
      </li>
      <li>
        <a class="btn u-no-padding-sides text-normal text-tertiary" href="#">
          <svg class="icon icon-md">
            <use xlink:href="/images/symbol/svg/sprite.symbol.svg#audio" />
          </svg>
          Listen to <span class="hidden-xs hidden-lg">my </span>message
        </a>
      </li>
    </ul>
    {{#with availability}}
      {{> advisors/_advisor-summary}}
    {{/with}}
  </div>
</div>
