<div class="bio-advisor-summary">
  <div class="row">
    <div class="col-md-4 col-lg-6">
      <div class="bio-photo">
        <img src="/images/fpo/137.jpg" alt="Psychic Mazie x 7124">
        <div class="advisor-tile-staff-pick">
          Psychic Source is pleased to highlight this gifted Advisor
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-6">
    {{#with availability}}
        {{> advisors/_advisor-summary}}
    {{/with}}
    </div>
  </div>
</div>
<!--

<h4 class="text-muted">I'm in a reading (4 in line)</h4>
<a class="btn btn-block btn-default btn-shaded" href="#">Get a Return Call</a>
<span class="bio-price"><del>$8.75</del> $1.00/min</span>

<p class="text-muted text-center">Pricing valid for first purchase only.</p>

<h4 class="text-muted">I'm in a reading<br /><span style="color:black">(Your position in line: <strong class="text-available">4</strong>)</span></h4>

<h4 class="text-muted">I'm away</h4>
<a class="btn btn-block btn-default btn-shaded" href="#">Get a Return Call</a>
<span class="bio-price"><del>$8.75</del> $1.00/min</span>


-->
