<h3 class="bio-section-header" id="reviews"><a data-target="#more-reviews" data-toggle="collapse" data-responsive="bio" class="section-parent collapsed">Mazie's Ratings &amp; Reviews </a></h3>
{{> reviews/_review-summary }}
<div id="more-reviews" class="collapse bio-show-md">
  {{#withFirst review.list 5}}
    {{> reviews/_review-truncated }}
  {{/withFirst}}
  <p class="u-margin-top"><a href="02-advisor-reviews.html" class="btn btn-default btn-shaded btn-block">See more of Mazie's reviews</a></p>
</div>
