<div class="bio-advisor-summary">  
  <div class="bio-photo">
    <p class="bio-photo-fave">
      <a href="#" title="Add to favorites">
        <svg class="icon icon-md">
          <use xlink:href="/images/symbol/svg/sprite.symbol.svg#heart" />
        </svg>
      </a>
    </p>
    <img src="/images/fpo/7124.jpg" alt="Psychic Mazie x 7124">
    <div class="advisor-tile-staff-pick">
      Psychic Source is pleased to highlight this gifted Advisor
    </div>
  </div>
  <h1 class="bio-name text-primary">Psychic Mazie x 7124</h1>
  <p class="bio-headline">Insightful and Compassionate</p>
  <p><span class="stars stars-4-5">{{{formatFraction 4.5}}} stars</span> <span class="review-count">(<a href="#reviews">1204 Ratings</a>)</span></p>
  <div class="arrange bio-audio-video">
    <p class="arrange-fill text-right"><a href="#" class="bio-av-btn"><svg class="icon icon-md"><use xlink:href="/images/symbol/svg/sprite.symbol.svg#video" /></svg> Watch video</a></p>
    <p class="arrange-fill text-left"><a href="#" class="bio-av-btn"><svg class="icon icon-md"><use xlink:href="/images/symbol/svg/sprite.symbol.svg#audio" /></svg> Listen to <span class="hidden-xs">my </span>message</a></p>  
  </div>
</div>
<h4 class="text-available text-center">Available until 8:27pm</h4>  
<ul class="arrange bio-actions arrange-gutter">
  <li class="arrange-fill">
    <a class="btn btn-block  btn-success btn-shaded" href="#">Chat Now</a>
    <span class="bio-price"><del>$8.75</del> $1.00/min</span>
  </li>
  <li class="arrange-fill">
    <a class="btn btn-block  btn-success btn-shaded" href="#">Call Now</a>
    <span class="bio-price"><del>$8.75</del> $1.00/min</span>
  </li>
</ul>
<p class="text-muted text-center">Pricing valid for first purchase only.</p>
<!--

<h4 class="text-unavailable text-center">I'm in a reading (4 in line)</h4>  
<a class="btn btn-block btn-default btn-shaded" href="#">Get a Return Call</a>
<span class="bio-price"><del>$8.75</del> $1.00/min</span>
 
<p class="text-muted text-center">Pricing valid for first purchase only.</p>

<h4 class="text-unavailable text-center">I'm in a reading<br /><span style="color:black">(Your position in line: <strong class="text-available">4</strong>)</span></h4>

<h4 class="text-unavailable text-center">I'm away</h4>  
<a class="btn btn-block btn-default btn-shaded" href="#">Get a Return Call</a>
<span class="bio-price"><del>$8.75</del> $1.00/min</span>

<p class="text-muted text-center">Pricing valid for first purchase only.</p>
 
-->