---
description: Single tile, repeated in an advisor grid.
fullWidth: true
status: inprogress
---
<div class="bio-header">
  <h3>If you liked Mazie you may also like...</h3>
</div>
<div class="similar-advisors">
  <div class="row">
    {{#each advisor.similarList }} 
      <div class="col-md-3">
        {{> advisors/_advisor-tile-simple }}
      </div>
    {{/each}}
  </div>
</div>