<div class="bio-advisor-summary">
  <div class="row">
    <div class="col-md-4 col-lg-6">
      <div class="bio-photo">
        <img src="/images/fpo/137.jpg" alt="Psychic Mazie x 7124">
        <div class="advisor-tile-staff-pick">
          Psychic Source is pleased to highlight this gifted Advisor
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-6">
    {{#with availability}}
        {{> advisors/_advisor-summary}}
    {{/with}}
    </div>
  </div>
</div>

