---
status: inprogress
---

<p>Video is hosted on both Wistia and YouTube. They are included on psychicsource.com using an iframe.</p>

<h3>Examples</h3>

<p><iframe src="//fast.wistia.net/embed/iframe/fhbsjssg89" allowtransparency="true" style="margin-top:10px;" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" width="335" height="216"></iframe></p>

<p><iframe src="https://www.youtube.com/embed/hhIlx7DlbKw?wmode=transparent&amp;rel=0" allowfullscreen="" frameborder="0" height="200" width="335"></iframe></p>