<div class="nav-section-prose link-only-dropdown-intro">
  <h4>About Psychic Readings</h4>
  <p>Our web site offers many ways to make choosing from among our authentic, gifted Advisors easy, and fun. Review Types of Psychic Readings and Types of Psychics for valuable information on the most important psychic specialties and types of readings. You may also find it helpful to read about ways to get a psychic reading, so you can pick the communication channel (eg telephone, online) that's most comfortable for you.</p>
</div>
<div class="nav-section-prose link-only-border">
  <ul>
    <li><a href="#"><h4>Types of Psychics</h4></a></li>
    <li><a href="#">Love Psychics</a></li>
    <li><a href="#">Psychic Mediums</a></li>
    <li><a href="#">Clairvoyants</a></li>
    <li><a href="#">Clairaudients</a></li>
    <li><a href="#">More...</a></li>
  </ul>
</div>
<div class="nav-section-prose link-only-border">
  <ul>
    <li><a href="#"><h4>Types of Psychic Readings</h4></a></li>
    <li><a href="#">Cartomancy</a></li>
    <li><a href="#">Tarot Readings</a></li>
    <li><a href="#">Angel Card Readings</a></li>
    <li><a href="#">Numerology Readings</a></li>
    <li><a href="#">More...</a></li>
  </ul>
</div>
<div class="nav-section-prose link-only-border">
  <ul>
    <li><a href="#"><h4>Ways to Get A...</h4></a></li>
    <li><a href="#">Psychic Phone Readings</a></li>
    <li><a href="#">Psychic Chat</a></li>
    <li class="link-only-divider"></li>
    <li><a href="#">Testimonials</a></li>
    <li><a href="#">Glossary of Terms</a></li>
    <li><a href="#">Psychic? Apply Now</a></li>
  </ul>
</div>
