<div class="nav-section-prose link-only-dropdown-intro">
  <h4>Articles and Resources</h4>
  <p>Like a Blog, Only Better!</p>
  <p>Psychic wisdom can be applied to all areas of your life, from love and relationships, to work and money, to destiny and spirit. Daily articles written by our Advisors and staff cover important issues from an empowering, psychic perspective. Read, comment, learn, share – Psychic Source is your Psychic reSource for insight, inspiration and wisdom!</p>
</div>
<div class="nav-section-prose link-only-border">
  <ul>
    <li><a href="#">Career &amp; Finance</a></li>
    <li><a href="#">Health &amp; Wellness</a></li>
    <li><a href="#">Life, Destiny &amp; Meaning</a></li>
    <li><a href="#">Love, Relationships &amp; Family</a></li>
    <li><a href="#">Other Psychic Topics</a></li>
    <li><a href="#">Newsletter</a></li>
  </ul>
</div>
