<div class="col-md-4 no-gutters nav-section-offer text-center u-padding-bottom">
  <h1 class="text-cursive">Special Offer</h1>
  <p class="u-padding">As low as <span class="u-block">$1.00</span>per minute</p>
  <a href="#" class="btn btn-default">Get the offer Now! <span class="arrow-right visible-lg-inline-block text-muted"></span></a>
</div>
<div class="col-md-8 u-margin-top" alt=" " />
  <div class="col-md-1 no-gutters nav-section-offer-add text-center">
    +
  </div>
  <div class="col-md-5 no-gutters text-center u-margin-top">
    <a class="nav-section-offer-heading" href="#">
      <img src="/images/minutes-icon.png" alt=" "/>
      <h2 class="h4">3 free minutes with your first paid reading!</h2>
    </a>
  </div>
  <div class="col-md-1 no-gutters nav-section-offer-add text-center">
    +
  </div>
  <div class="col-md-5 no-gutters text-center u-margin-top">
    <a class="nav-section-offer-heading" href="#">
      <img src="/images/satisfaction-seal.png" alt=" "/>
      <h2 class="h4">100% Satisfaction Gurantee</h2>
      <p>If you're not happy with your last paid reading, it's free!</p>
    </a>
  </div>
</div>
