<div class="col-md-4 nav-section-prose u-padding-right">
  <h3 class="nav-section-heading">Weekly Love Horoscope</h3>
  <p>What's in the stars for you this week? How will your love life fare? Should you get closer to someone special or give them more space? Will your communication be at its best, or will you struggle to understand or to be understood? Our in-house astrologer Moira, x7776 takes an in depth astrological look at the week ahead.</p>
  <a href="#" class="btn btn-default pull-right">Read More <span class="arrow-right visible-lg-inline-block text-muted"></a>
</div>
<div class="col-md-1 no-gutters nav-section-links border-left">
  <ul>
    <li><a href="#">Aries</a></li>
    <li><a href="#">Taurus</a></li>
    <li><a href="#">Gemini</a></li>
    <li><a href="#">Cancer</a></li>
    <li><a href="#">Leo</a></li>
    <li><a href="#">Virgo</a></li>
  </ul>
</div>
<div class="col-md-2 no-gutters nav-section-links border-left">
  <ul>
    <li><a href="#">Libra</a></li>
    <li><a href="#">Scorpio</a></li>
    <li><a href="#">Sagittarius</a></li>
    <li><a href="#">Capricorn</a></li>
    <li><a href="#">Aquarius</a></li>
    <li><a href="#">Pisces</a></li>
  </ul>
</div>
