<div class="col-md-4 nav-section-prose">
  <h2 class="h4">About Psychic Readings</h2>
  <p>Our web site offers many ways to make choosing from among our authentic, gifted Advisors easy, and fun. Review Types of Psychic Readings and Types of Psychics for valuable information on the most important psychic specialties and types of readings. You may also find it helpful to read about ways to get a psychic reading, so you can pick the communication channel (eg telephone, online) that's most comfortable for you.</p>
</div>
<div class="col-md-2 no-gutters nav-section-links border-left u-padding-bottom">
  <ul>
    <li><a href="#"><h3 class="h4">Types of Psychics</h3></a></li>
    <li><a href="#">Love Psychics</a></li>
    <li><a href="#">Psychic Mediums</a></li>
    <li><a href="#">Clairvoyants</a></li>
    <li><a href="#">Clairaudients</a></li>
    <li><a href="#">More...</a></li>
  </ul>
</div>
<div class="col-md-3 no-gutters nav-section-links border-left u-padding-bottom">
  <ul>
    <li><a href="#"><h3 class="h4">Types of Psychic Readings</h3></a></li>
    <li><a href="#">Cartomancy</a></li>
    <li><a href="#">Tarot Readings</a></li>
    <li><a href="#">Angel Card Readings</a></li>
    <li><a href="#">Numerology Readings</a></li>
    <li><a href="#">More...</a></li>
  </ul>
</div>
<div class="col-md-3 no-gutters nav-section-links border-left">
  <ul>
    <li><a href="#"><h3 class="h4">Ways to Get A...</h3></a></li>
    <li><a href="#">Psychic Phone Readings</a></li>
    <li class="u-margin-bottom"><a href="#">Psychic Chat</a></li>
    <li class="border-top"><a href="#">Testimonials</a></li>
    <li><a href="#">Glossary of Terms</a></li>
    <li><a href="#">Psychic? Apply Now</a></li>
  </ul>
</div>
