<div class="nav-section-psychics text-center">
  <div class="col-md-4 no-gutters u-padding-top u-padding-bottom border-right">
    <a href="#">
      <h2 class="h4 nav-section-heading">Phone Readings</h2>
      <p>Get live psychic readings by phone</p>
      <img src="/images/dropdown-phone.png" alt=" "/>
      <p><span class="text-cursive">View Phone Psychics</span></p>
    </a>
  </div>
  <div class="col-md-4 no-gutters u-padding-top u-padding-bottom border-right">
    <a href="#">
      <h2 class="h4 nav-section-heading">Chat Readings</h2>
      <p>Get live psychic readings by chat</p>
      <img src="/images/dropdown-chat.png" alt=" "/>
      <p><span class="text-cursive">View Chat Psychics</span></p>
    </a>
  </div>
  <div class="col-md-4 no-gutters u-padding-top u-padding-bottom">
    <a href="#">
      <h2 class="h4 nav-section-heading">All Reading Types</h2>
      <p>View all our psychic readers</p>
      <img src="/images/dropdown-both.png" alt=" "/>
      <p><span class="text-cursive">View All Psychics</span></p>
    </a>
  </div>
</div>
