<div class="our-psychics-readings arrange arrange-equal">
  <a href="#">
    <h4>Phone Readings</h4>
      <p>Get live psychic readings by phone</p>
      <img src="/images/dropdown-phone.png" />
      <p><span class="text-cursive">View Phone Psychics</span></p>
  </a>
  <a class="link-only-border" href="#">
    <h4>Chat Readings</h4>
    <p>Get live psychic readings by chat</p>
    <img src="/images/dropdown-chat.png" />
    <p><span class="text-cursive">View Chat Psychics</span></p>
  </a>
  <a class="link-only-border" href="#">
    <h4>All Reading Types</h4>
    <p>View all our psychic readers</p>
    <img src="/images/dropdown-both.png" />
    <p><span class="text-cursive">View All Psychics</span></p>
  </a>
</div>
