---
description: >
  This inventively-named pattern is a type of modal dialog box that pops out
  from the edge of a containing element, with an overlay obscuring the rest of
  that containing element's contents. It's useful for displaying modal utilities
  related to a specific region of a page.

  Its API and plugin conventions mimic those of
  [Bootstrap's JavaScript components](http://getbootstrap.com/javascript/).
fullWidth: true
---

<div class="u-margin">
  <button class="btn btn-primary js-blargh" data-toggle="prairie-dog" data-target="#prairie-dog-demo" type="button">Toggle dialog</button>
</div>

<div class="prairie-dog box-full box-lighter" id="prairie-dog-demo">
  <div class="prairie-dog-dialog">
    <div class="u-margin clearfix text-center">
      Dialog!
      <button class="btn btn-default" data-dismiss="prairie-dog" aria-label="Close">&times;</button>
    </div>
  </div>
  <div class="prairie-dog-overlay" data-dismiss="prairie-dog" aria-hidden="true"></div>
  <p>Take root and flourish great turbulent clouds. Apollonius of Perga rich in heavy atoms star stuff harvesting star light Cambrian explosion. Extraordinary claims require extraordinary evidence made in the interiors of collapsing stars? Another world galaxies Apollonius of Perga, birth how far away the carbon in our apple pies at the edge of forever citizens of distant epochs. Permanence of the stars! Decipherment hearts of the stars preserve and cherish that pale blue dot, rogue billions upon billions star stuff harvesting star light rich in heavy atoms take root and flourish. At the edge of forever Tunguska event a billion trillion, Euclid!</p>
</div>
