---
fullWidth: true
---

<div class="u-margin">
  <button class="btn btn-primary" data-toggle="prairie-dog" data-target="#prairie-dog-demo-multi-1" type="button">Dialog 1</button>
  <button class="btn btn-primary" data-toggle="prairie-dog" data-target="#prairie-dog-demo-multi-2" type="button">Dialog 2</button>
  <button class="btn btn-primary" data-toggle="prairie-dog" data-target="#prairie-dog-demo-multi-3" type="button">Dialog 3</button>
</div>

<div class="prairie-dog box-full box-sheer box-lighter" id="prairie-dog-demo-multi">
  <div class="prairie-dog-dialog" id="prairie-dog-demo-multi-1">
    <div class="u-margin clearfix text-center">
      This is the first dialog.
      <button class="btn btn-default" data-dismiss="prairie-dog" aria-label="Close">&times;</button>
    </div>
  </div>
  <div class="prairie-dog-dialog" id="prairie-dog-demo-multi-2">
    <div class="u-margin clearfix text-center">
      Her Most Esteemed Majesty Dialog the Second
      <button class="btn btn-default" data-dismiss="prairie-dog" aria-label="Close">&times;</button>
    </div>
  </div>
  <div class="prairie-dog-dialog" id="prairie-dog-demo-multi-3">
    <div class="u-margin clearfix text-center">
      Third time's the charm, they say!
      <button class="btn btn-default" data-dismiss="prairie-dog" aria-label="Close">&times;</button>
      <div class="u-margin"><img src="/images/fpo/prairie-dog.jpg" alt=" " width="200"></div>
    </div>
  </div>
  <div class="prairie-dog-overlay"></div>
  <div class="box-inner prairie-dog-bg">
    <p>Take root and flourish great turbulent clouds. Apollonius of Perga rich in heavy atoms star stuff harvesting star light Cambrian explosion. Extraordinary claims require extraordinary evidence made in the interiors of collapsing stars? Another world galaxies Apollonius of Perga, birth how far away the carbon in our apple pies at the edge of forever citizens of distant epochs. Permanence of the stars! Decipherment hearts of the stars preserve and cherish that pale blue dot, rogue billions upon billions star stuff harvesting star light rich in heavy atoms take root and flourish. At the edge of forever Tunguska event a billion trillion, Euclid!</p>
  </div>
</div>
