---
description: >
  Because prairie dog modals are particularly useful when space is at a premium,
  they support being applied for specific breakpoints only.
fullWidth: true
---

<div class="u-margin hidden-md hidden-lg">
  <button class="btn btn-primary" data-toggle="prairie-dog" data-target="#prairie-dog-demo-responsive" type="button">Toggle dialog</button>
</div>

<div class="prairie-dog-xs prairie-dog-sm container-fluid box-full box-sheer box-lighter" id="prairie-dog-demo-responsive-wrapper">
  <div class="prairie-dog-dialog col-md-3" id="prairie-dog-demo-responsive" data-parent="#prairie-dog-demo-responsive-wrapper">
    <div class="u-margin clearfix text-center">
      <div class="visible-xs-block visible-sm-block">
        Dialog at small sizes
        <button class="btn btn-default hidden-md hidden-lg" data-dismiss="prairie-dog" aria-label="Close">&times;</button>
      </div>
      <div class="hidden-xs hidden-sm">
        Sidebar at large sizes
      </div>
    </div>
  </div>
  <div class="prairie-dog-overlay"></div>
  <div class="col-md-9 prairie-dog-bg">
    <div class="box-inner">
      <p>Take root and flourish great turbulent clouds. Apollonius of Perga rich in heavy atoms star stuff harvesting star light Cambrian explosion. Extraordinary claims require extraordinary evidence made in the interiors of collapsing stars? Another world galaxies Apollonius of Perga, birth how far away the carbon in our apple pies at the edge of forever citizens of distant epochs. Permanence of the stars! Decipherment hearts of the stars preserve and cherish that pale blue dot, rogue billions upon billions star stuff harvesting star light rich in heavy atoms take root and flourish. At the edge of forever Tunguska event a billion trillion, Euclid!</p>
    </div>
  </div>
</div>
