<p>
  The following paragraph demonstrates a variety of common text treatments, including linked text, and bolded and emphasized text.
</p>

<p>
  Every <a href="#">psychic reader at Psychic Source</a> uses a <em>variety of gifts</em> and <i>tools</i> to give you the most <bold>insightful</bold>, <strong>revealing</strong>, and <b>helpful</b> reading possible. Many of our gifted psychic readers were born with their psychic gifts, discovering that they possessed these special abilities at an early age. Often the psychic gifts run in the family and are passed down from generation to generation.
</p>

<p class="small">
  This is a paragraph of small text. Many of our gifted psychic readers were born with their psychic gifts, discovering that they possessed these special abilities at an early age. Often the psychic gifts run in the family and are passed down from generation to generation.
</p>
