<p>This is a paragraph above the quote and citation to gauge indentation.</p>

<blockquote class="no-border text-center">
  <p class="h4 text-primary"><i>&ldquo;Numerology is an easy way to see what’s happening in the future. You can see where you are now and know where you’re headed. Your birth day and birth month are all you need.&rdquo;</i></p>
  <footer>
    <a href="#">Psychic Karin Marie x8991</a>
  </footer>
</blockquote>

<p>This is a paragraph below the quote and citation  to gauge indentation.</p>
