---
description: >
  We've extended
  [Bootstrap's alignment helpers](http://getbootstrap.com/css/#type-alignment)
  to allow for responsive shifts in text alignment, which can help a lot when
  changing compositions between breakpoints. Patterns and class names are
  consistent with the behavior of
  [Bootstrap's responsive utilities](http://getbootstrap.com/css/#responsive-utilities).
---

<p class="text-center text-left-xs text-right-lg">
  <span class="hidden-xs hidden-lg">centered</span>
  <span class="visible-xs-inline-block">left-aligned</span>
  <span class="visible-lg-inline-block">right-aligned</span>
</p>
