---
description: Truncate text that extends beyond a single line.
---

<p class="text-truncate">
  Go with the feeling of the nature. Take it easy. Know why you're here. And
  remember to balance your internal energy with the environment.
</p>
