---
description: >
  Adds an offset "showcase" stamp to an image.
---
<div class="with-stamp">
  <img class="img-rounded img-shadow" src="{{advisor.photo}}" alt=" ">
  <div class="stamp-showcase">
    Recommendations from the Psychic Source team
  </div>
</div>
