---
description: >
  Adds an offset "staff pick" stamp to an image.
---
<div class="with-stamp">
  <img class="img-rounded img-shadow" src="{{advisor.photo}}" alt=" ">
  <div class="stamp-staffpick">
    Psychic Source is pleased to highlight this gifted Advisor
  </div>
</div>
