---
status: inprogress
---

{{> pages/_header }}

<div class="container-page account-home-page">
  <div class="box-full  box-default-lg box-lighter">
    <h1 class="u-no-margin-top">Welcome, Sally!</h1>
    <div class="row">
      <div class="col-md-8">
        {{> account/_balance }}
        {{> account/_no-returns }}
      </div>
      <div class="col-md-4">
        {{> account/_account-nav }}
      </div>
    </div>
  </div>
</div>

{{> pages/_footer }}
