---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full box-default-lg box-lighter">
    <h1 class="text-primary">Welcome Sally!</h1>
    {{> account/_balance }}
    {{> account/_special-offers }}
    {{> account/_favorites }}
    {{> account/_horoscope }}
    {{> account/_articles }}
  </div>
</div>

{{> pages/_footer }}
