---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full account-box box-default-lg box-lighter">
    <div class="row">
      <div class="col-md-8">
        {{> account/_welcome }}
        {{> account/_special-offers }}
      </div>
      <div class="col-md-4">
        {{> account/_account-nav }}
      </div>
    </div>
  </div>
</div>

{{> pages/_footer }}
