---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full box-default-lg box-lighter">
    {{> account/_account-back }} 
    <h1 class="u-no-margin-top">Add Dollars</h1>    
    <div class="row">
      <div class="col-md-8">
        {{> account/_account-add-dollars-form }}
      </div>
      <div class="col-md-4 hidden-xs hidden-sm">
        {{> account/_account-nav }}
      </div>
    </div>
  </div>
</div>

<script>
$(function () {
  var $paymentOptions = $('.js-payment-options');

  $paymentOptions.on('change', '.js-payment-option', function (event) {
    var $trigger = $(event.currentTarget);
    var triggerData = $trigger.data();
    var hasCollapseTarget = triggerData.target !== undefined;

    if (hasCollapseTarget) {
      $(triggerData.target)
        .collapse('show')
        .addClass('js-expanded')
    } else {
      $paymentOptions.find('.js-expanded')
        .collapse('hide')
        .removeClass('js-expanded');
    }
  });
});
</script>

{{> pages/_footer }}
