---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full account-box box-default-lg box-lighter">
    {{> account/_reviews-howto }}
    {{> account/_reviews-eligible }}
  </div>
</div>

{{> pages/_footer }}
