---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full box-default-lg box-lighter box-sheer-sides">
    <div class="container-fluid no-gutters-xs no-gutters-sm">
      <div class="col-md-4 col-lg-3">
        {{> account/_account-nav-sub }}
      </div>
      <div class="col-md-8 col-lg-9">
        <div class="tabpanel tabpanel-light tabpanel-teal tabpanel-full-xs tabpanel-full-sm" role="tabpanel">
        <!-- Nav tabs -->
          <ul class="tabpanel-tabs" role="tablist">
            <li class="active" role="presentation">
              <a role="tab" data-toggle="tab" href="#post-review">
                Post Review
              </a>
            </li>
            <li role="presentation">
              <a role="tab" data-toggle="tab" href="#review-history">
                Review History
              </a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tabpanel-content">
            <div class="tabpanel-pane active" role="tabpanel" id="post-review">
              {{> account/_reviews-howto }}
              {{> account/_reviews-tips }}
              {{> reviews/eligible-reading-list }}
            </div>
            <div class="tabpanel-pane" role="tabpanel" id="review-history">
              {{> reviews/review-history-list }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> pages/_footer }}
