---
status: inprogress
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full account-box box-default-lg box-lighter">
    <div class="row">
      <div class="col-md-8">
        {{> account/_reviews-tips }}
        {{> account/_reviews-eligible }}</div> 
      <div class="col-md-4">{{> account/_reviews-howto }}</div> 
    </div>    
  </div>
</div>

{{> pages/_footer }}
