<ul class="subnav subnav-group">
  <li><a class="subnav-item subnav-item-next" href="#">Messages</a></li>
  <li><a class="subnav-item subnav-item-next" href="/pages/account/05-rewards.html">Rewards</a></li>
  <li><a class="subnav-item subnav-item-next" href="#">Favorite advisors</a></li>
  <li><a class="subnav-item subnav-item-next" href="/pages/account/06-reviews.html">Review readings</a></li>
  <li><a class="subnav-item subnav-item-next" href="#">Personal info</a></li>
  <li><a class="subnav-item subnav-item-next" href="#">Communication preferences</a></li>
  <li><a class="subnav-item subnav-item-next" href="#">Account history</a></li>
</ul>
