<ul class="account-menu" role="menu">
  <li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/account/01-home.html">Account Home</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Manage Return Calls</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/account/02-add.html" class="open">Add Dollars</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Messages</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Rewards</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Favorite advisors</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Review readings</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Personal Info</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Comm<span class="hidden-xs">unication</span> Preferences</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Account history</a></li>
</ul>