<ul class="account-menu account-box" role="menu">
  <li role="presentation" class="hidden-home"><a role="menuitem" tabindex="-1" href="/pages/account/01-home.html">Sally's Account</a></li>
  <li role="presentation" class="hidden-home"><a role="menuitem" tabindex="-1" href="/pages/account/02-add.html" class="on">Add Dollars</a></li>
  <li role="presentation" class="hidden-home"><a role="menuitem" tabindex="-1" href="/pages/account/04-return-calls.html">Manage Return Calls</a></li>
  <li role="presentation" class="hidden-home"><a role="menuitem" tabindex="-1" href="/pages/account/03-offers.html">Special Offers</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Messages</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Rewards</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Favorite advisors</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Review readings</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Personal info</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Communication preferences</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="">Account history</a></li>
</ul>