<div class="account-home-section account-home-section-articles">
  <h3  class="account-home-section-heading"><a href="#top-articles"  data-toggle="collapse" data-responsive="bio" class="account-section-parent collapsed">Recent Articles</a></h3>
  <div id="top-articles" class="collapse account-show-sm">
    <div class="article">
      <h4 class="u-no-margin-bottom">Dealing With Office Politics</h4>
      <p><a href="#">Psychic Mazie</a></p>
      <p>Dealing with office politics means gaining perspective, building relationships, and understanding the informal power structure within your organizations. [<a href="#" class="u-nowrap">Continue Reading</a>]</p>
    </div>
    <div class="article">
      <h4 class="u-no-margin-bottom">Myths and Truths About Soul Mates</h4>
      <p><a href="#">Psychic Miriam</a></p>
      <p>We hear a lot about soul mates. When will you find yours? How do you know if you're with your soul mate? Does everyone in this world have a soul mate? But there's one important truth we're overlooking. [<a href="#" class="u-nowrap">Continue Reading</a>]</p>
    </div>
  </div>
</div>