<div class="box box-lighter account-box">
  <h3 class="account-home-heading"><a href="/pages/account/02-add.html">Add Dollars</a></h3>
  <div class="box box-lighter box-teal">
    <p class="account-current-balance"><span class="text-primary account-balance"><sup>$</sup>360.65</span>Current Balance</p>
  </div>
  <ul class="list-unstyled balance-summary">
    <li class="border-bottom">New Member Offer Dollars: <strong class="pull-right">$10.00<span class="has-balance-footnote">*</span></strong></li>
    <li class="border-bottom">Dollars you put on Account: <strong class="pull-right">$250.65</strong></li>
    <li class="border-bottom">Bonus Dollars we gave you: <strong class="pull-right">$100.00</strong></li>
  </ul>
  <p class="balance-footnote text-muted">* at $1.00 per minute.</p>
</div>