<div class="account-home-section account-home-section-balance">
  <div class="box box-lighter box-teal">
    <p class="account-current-balance"><span class="text-primary account-balance"><sup>$</sup>360.65</span>Current Balance</p>
  </div>
  <ul class="list-unstyled balance-summary">
    <li class="border-bottom">New Member Offer Dollars: <strong>$10.00<span class="has-balance-footnote">*</span></strong></li>
    <li class="border-bottom">Dollars you put on Account: <strong>$70.00</strong></li>
    <li class="border-bottom">Bonus Dollars we gave you: <strong>$150.00</strong></li>
  </ul>
  <p class="balance-footnote text-muted">* at $1.00 per minute.</p>
  <p><a href="/pages/account/02-add.html" class="btn btn-primary btn-block">Add Dollars</a></p>  
</div>