<div class="account-box">
  <h3 class="account-home-heading"><a href="/pages/account/02-add.html" >Add Dollars</a></h3>
  <div class="account-box-inner">  
    <ul>
      <li class="current-balance">Current balance: <strong class="pull-right"><sup>$</sup>360.65</strong></li>
      <li>New Member Offer Dollars: <strong class="pull-right">$10.00<span class="has-footnote">*</span></strong></li>
      <li>Dollars you added: <strong class="pull-right">$250.65</strong></li>
      <li>Bonus Dollars: <strong class="pull-right">$100.00</strong></li>
    </ul>
    <p class="account-footnote text-right">* at $1.00 per minute.</p>
  </div>
</div>