<div class="subnav">
  <h3 class="subnav-heading">
    <a class="subnav-item subnav-item-next" href="/pages/account/02-add.html" >Add Dollars</a>
  </h3>
  <div class="subnav-body text-neutral">
    <ul class="list-ruled">
      <li class="current-balance">Current balance: <span class="amount"><sup>$</sup>360.65</span></li>
      <li>New Member Offer Dollars: <span class="amount">$10.00<span class="has-footnote">*</span></span></li>
      <li>Dollars you added: <span class="amount">$250.65</span></li>
      <li>Bonus Dollars: <span class="amount">$100.00</span></li>
    </ul>
    <p class="account-footnote text-right">* at $1.00 per minute.</p>
  </div>
</div>
