<div class="subnav">
  <h3 class="subnav-heading">
    <a class="subnav-item subnav-item-next" href="/pages/account/02-add.html" >Add Dollars</a>
  </h3>
  <div class="subnav-body text-neutral">
    <ul class="list-ruled">
      <li class="arrange arrange-bottom">
        <span class="arrange-fill">
          Current balance:
        </span>
        <span class="arrange-fit big">
          <sup>$</sup>360.65
        </span>
      </li>
      <li class="arrange arrange-bottom">
        <span class="arrange-fill">
          New Member Offer Dollars:
        </span>
        <span class="arrange-fit text-right">
          $10.00<span class="u-hang-right">*</span>
        </span>
      </li>
      <li class="arrange arrange-bottom">
        <span class="arrange-fill">
          Dollars you added
        </span>
        <span class="arrange-fit text-right">
          $250.65
        </span>
      </li>
      <li class="arrange arrange-bottom">
        <span class="arrange-fill">
          Bonus Dollars
        </span>
        <span class="arrange-fit text-right">
          $100.00
        </span>
      </li>
    </ul>
    <p class="text-right small">* at $1.00 per minute.</p>
  </div>
</div>
