<div class="account-home-section account-home-section-favorites">
  <h3  class="u-no-margin-top">Your Favorite Advisors</h3>
  <div class="account-favorites">
    <div class="row">
      {{#withFirst advisor.list 6}}
        <div class="col-md-2">
          {{> advisors/_advisor-tile-fave }}
        </div>
      {{/withFirst}}
    </div>
  </div>
  <div class="arrange arrange-gutter arrange-equal">
    <div class="arrange-fill"><a href="/pages/our-psychics/01-our-psychics.html" class="btn btn-default btn-shaded btn-block"><span class="hidden-xs">Meet </span>More Psychics</a></div>
    <div class="arrange-fill"><a href="/pages/account/03-offers.html" class="btn btn-primary btn-block">Manage<span class="hidden-xs"> Favorites</span></a></div>  
  </div>
</div>