<div class="account-home-section account-home-section-horoscope">
  <h3  class="account-home-section-heading u-no-margin-bottom"><a href="#horoscope-today"  data-toggle="collapse" data-responsive="bio" class="account-section-parent collapsed">Capricorn Horoscope for <span class="text-nowrap">February 09, 2015</span></a></h3>
  <div id="horoscope-today" class="collapse account-show-sm">
    <p class="border-bottom">Daily Horoscope provided by <a href="#">astroSOURCE.com</a></p>
    <p>You might believe you have accurate measure of a person or situation and might even feel comfortable about what you know and what you know is missing with regard to the whole picture. Perhaps, knowing a proportion of it is enough to satisfy your belief that whatever's missing is unimportant, irrelevant or unnecessary. The sky insists there is more to a situation or story than is immediately evident and it will be up to you to make effort to gain a more accurate snapshot of where things truly stand. Even if you believe this to be unnecessary now, expect to believe it to be necessary soon. <a href="#">Click here to find out what you need from your partner</a>.</p>
    <div class="arrange arrange-gutter arrange-equal">
      <div class="arrange-fill"><a href="#" class="btn btn-default btn-shaded btn-block arrow-left-equilateral-before"> Yesterday</a></div>
      <div class="arrange-fill"><a href="#" class="btn btn-default btn-shaded btn-block arrow-right-equilateral-after">Tomorrow </a></div>
    </div>  
  </div>
</div>