<div class="account-home-section account-home-section-horoscope">
  <ul class="tabs tabs-horoscope" role="tablist">
    <li role="presentation"><a role="tab" href="#" aria-selected="false" data-toggle="tab">Yesterday</a></li>
    <li role="presentation"  class="active"><a role="tab" href="#" aria-selected="true" data-toggle="tab">Today</a></li>
    <li role="presentation"><a role="tab" href="#" aria-selected="false" data-toggle="tab">Tomorrow</a></li>
  </ul>
  <h3 class="u-no-margin-bottom">Capricorn Horoscope for February 09, 2015</h3>
  <p class="border-bottom">Daily Horoscope provided by <a href="#">astroSOURCE.com</a></p>
  <p>You might believe you have accurate measure of a person or situation and might even feel comfortable about what you know and what you know is missing with regard to the whole picture. Perhaps, knowing a proportion of it is enough to satisfy your belief that whatever's missing is unimportant, irrelevant or unnecessary. The sky insists there is more to a situation or story than is immediately evident and it will be up to you to make effort to gain a more accurate snapshot of where things truly stand. Even if you believe this to be unnecessary now, expect to believe it to be necessary soon. <a href="#">Click here to find out what you need from your partner</a>.</p>

</div>