<div class="modal" id="leaving-so-soon">
  <div class="modal-dialog">
    <div class="modal-content modal-tan">
      <div class="modal-header clearfix">
        <button class="btn btn-blank close pull-right"
         data-dismiss="modal"
         aria-hidden="true"
         type="button">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/symbol/svg/sprite.symbol.svg#close"></use>
          </svg>
        </button>
        <h1 class="modal-title">Oh no! Leaving so soon?</h1>
      </div>
      <div class="modal-body">
        <p>We’ll give you free bonus dollars with today’s special offer:</p>
        <p>Which path has the most potential? Stop saying and start doing. Don’t let yourself down this year.</p>
        <ul>
          <li>Add $50 - Get $12.50 in free bonus dollars.</li>
          <li>Add $25 - Get $6.25 in free bonus dollars.</li>
          <li>Add $10 - Get $2.50 in free bonus dollars.</li>
          <li>Our limited time offer ends 2/28/2015 11:59:59 PM</li>
        </ul>
        <p><strong>Redeem promo code: 622148</strong></p>
        <p class="text-center"><a href="/pages/account/02-add.html" class="btn btn-primary" data-dismiss="modal">I'm Interested!</a></p>
        <p><em>Don't forget: Rewards Members earn 3% bonus dollars for every purchase.
We’d hate for you to miss out.</em></p>
      </div>
    </div>
  </div>
</div>