<div class="subnav">
  <h3 class="subnav-heading">
    <a class="subnav-item subnav-item-next" href="#">Manage Return Calls</a>
  </h3>
  <div class="subnav-body text-neutral">
    <ul class="list-ruled">
      <li>
        <a class="link-block" href="">
          <span class="text-neutral">Psychic Mazie x1233</span>
          <span class="stat pull-right">
            <span class="stat-value">3rd</span>
            <span class="stat-label">in line</span>
          </span>
          <span class="text-primary u-block">In a Reading</span>
        </a>
      </li>
      <li>
        <a class="link-block" href="">
          <span class="text-neutral">Psychic Billy x1033</span>
          <span class="stat pull-right">
            <span class="stat-value">14th</span>
            <span class="stat-label">in line</span>
          </span>
          <span class="text-muted u-block">Unavailable</span>
        </a>
      </li>
      <li>
        <a class="link-block" href="">
          <span class="text-neutral">Psychic Brynhildr x1922</span>
          <span class="stat pull-right">
            <span class="stat-value">1st</span>
            <span class="stat-label">in line</span>
          </span>
          <span class="text-muted u-block">Unavailable</span>
        </a>
      </li>
    </ul>
  </div>
</div>
