<div class="account-box">
  <h3 class="account-home-heading"><a href="#">Manage Return Calls</a></h3>
  <div class="account-box-inner">
    <ul>
      <li><a href="#">Pyschic Mazie x1233</a> <div class="line-position">3rd<span>in line</span></div><span class="text-primary u-block">In a Reading</span></li>  
      <li><a href="#">Pyschic Billy x1033</a> <div class="line-position">14th<span>in line</span></div><span class="text-muted u-block">Unavailable</span></li>  
      <li><a href="#">Pyschic Brynhildr x1922</a> <div class="line-position">1st<span>in line</span></div><span class="text-muted u-block">Unavailable</span></li>
    </ul>
  </div>
</div>