<div class="box box-lighter account-box">
  <h3 class="account-home-heading"><a href="#">Manage Return Calls</a></h3>
  <p>You are currently number <strong>3 in line</strong> for a return call from <a href="#">Psychic Mazie x3102</a>.</p>
  <p>You are also <a href="#">scheduled for a 
  return call</a> from <strong>4</strong> other advisors.</p>
</div>