<p>You have $8.67 in your account for your reading. <a href="/pages/account/02-add.html">Add dollars now</a>.</p>
<p><strong>To redeem a reading offer that requires a promo code, follow these simple steps:</strong>
<ol>
  <li>Call 1.800.732.0797 and enter your membership information.</li>
  <li>Press Option 6 from the Crossroads Menu.</li>
  <li>Enter your Promo Code and you'll hear a message about your special offer.</li>
  <li>Listen to a list of all Advisors associated with that particular special. Choose your Advisor.</li>
</ol>
<p>Remember: You can receive more offers and free bonus dollars through our <a href="/pages/account/05-rewards.html">Membership Rewards</a> program!</p>
<div class="box box-dark box-thick">
  <div class="row">
    <div class="col-lg-4 text-center">
      <p><strong>25% off with New advisor to the service</strong></p>
      <p>25% off with New advisor to the service</p>
    </div>
    <div class="col-lg-4 text-center border-sides-pseudo">
      <p><strong>Phone &amp; Chat Readings</strong></p>
      <p>25% off with New advisor to the service</p>
      <p><em>No limitation</em></p>
    </div>
    <div class="col-lg-4 text-center">
      <p><strong class="text-primary">Expires 12/30/9998 11:59:59 PM</strong><br />No Promo Code Needed</p>
      <p>Call <a href="tel:18007320797">1.800.732.0797</a> or <a href="/pages/our-psychics/01-our-psychics.html" class="btn btn-block btn-primary u-margin-top">Pick a Chat Advisor</a>
    </div>
  </div>
  <span class="fleuron-star-three bottom right" aria-hidden="true"></span>
</div>