<div class="container-fluid no-gutters u-margin-top">
  <div class="col-md-4 no-gutters">
    <div class="box return-call-settings-box">
      <h4>Current Balance</h4>
      <span class="big u-block">
        <sup>$</sup>160.00
      </span>
      <a class="btn btn-default btn-shaded btn-block u-margin-top js-return-call-settings-btn" href="#">Add Dollars</a>
    </div>
  </div>
  <div class="col-md-4 no-gutters border-right border-left no-border-xm no-border-sm">
    <div class="box return-call-settings-box">
      <h4>Settings <a class="btn btn-default btn-shaded btn-xs pull-right hidden-xs hidden-sm hidden-md" href="#">Edit</a></h4>
      <p class="small"><strong><span class="u-block">Return Call Number:</span></strong> 555-555-5555</p>
      <p class="small"><strong>Availability:</strong> 1 hour</p>
      <a class="btn btn-default btn-shaded btn-block hidden-lg js-return-call-settings-btn" href="#">Edit</a>
    </div>
  </div>
  <div class="col-md-4 no-gutters">
    <div class="box return-call-settings-box">
      <h4>Phone Alerts</h4>
      <p>Receive Return Call cell phone alerts.</p>
      <a class="btn btn-default btn-shaded btn-block u-margin-top js-return-call-settings-btn" href="#">Set up</a>
    </div>
  </div>
</div>

<script>
$(window).load(function(){
  var $pods = $('.return-call-settings-box');
  $pods.leveller({
    cssSelector: '.js-return-call-settings-btn',
    cssProperty: 'margin-top'
  });
  $(window).resize($.debounce(function(){
    $pods.leveller();
  }, 250));
});
</script>