<div class="advisor-tile-main">
  <div class="advisor-tile u-overflow-hidden">
    <div class="container-fluid no-gutters-xs no-gutters-sm ">
      <div class="col-md-1 hidden-xs hidden-sm">
        <img class="img-rounded u-margin-top u-margin-bottom" src="/images/fpo/7777-sml.jpg" alt=" ">
      </div>
      <div class="col-xs-6"> 
        <div class="advisor-tile-main-body u-padding-top">
          <h4>Bridgette x8133</h4>
          <p class="text-success small"><strong>Next Availabliity:</strong> <span class="text-nowrap">2/27/2015 7:00 PM<span></p>
        </div>
      </div>
      <div class="col-md-3 u-padding-top">
        <span class="stat u-margin-top pull-right">
          <span class="stat-value">3rd</span>
          <span class="stat-label">in line</span>
        </span>
      </div>
      <div class="col-md-2 u-margin-top hidden-xs hidden-sm">
        <a class="btn btn-default u-margin-top pull-right" href="#">Delete</a>
      </div>
    </div>
    <div class="container-fluid no-gutters-xs no-gutters-sm">
      <p class="small"><strong>Recommended Alternative:</strong> <span class="text-nowrap"><a href="#">Jonay x7502</a></span></p>
      <a class="btn btn-default btn-block u-margin-top hidden-md hidden-lg" href="#">Delete</a>
    </div>      
  </div>
</div>