<div class="container-fluid no-gutters-xs no-gutters-sm u-margin-top">
  <div class="col-md-4">
    <div class="text-center border-right">
      <h4>Current balance:</h4>
      <span class="big u-block">
        <sup>$</sup>160.00
      </span>
      <a class="btn btn-default btn-shaded u-margin-top" href="#">Add Dollars</a>
    </div>
  </div>
  <div class="col-md-4 border-right">
    <h4 class="u-inline-block">Settings</h4> 
    <a class="btn btn-default btn-shaded btn-xs pull-right hidden-xs hidden-sm" href="#">Edit</a>
    <p class="small"><strong><span class="u-block">Return Call Number:</span></strong> 555-555-5555</p>
    <p class="small"><strong>Availability:</strong> 1 hour</p>
    <a class="btn btn-default btn-shaded btn-block hidden-md hidden-lg" href="#">Edit</a>
       
  </div>
  <div class="col-md-3">
    <h4>Phone Alerts</h4>
    <p>Receive Return Call cell phone alerts.</p>
    <a class="btn btn-default btn-shaded btn-block" href="#">Set up <span class="arrow-right"></a>
  </div>
</div>