<div class="advisor-tile-main return-call-line">
  <div class="advisor-tile u-overflow-hidden">
    <div class="container-fluid no-gutters-xs no-gutters-sm u-margin-top u-margin-bottom">
      <div class="col-md-6 no-gutters">
        <div class="col-md-2 hidden-xs hidden-sm hidden-md">
          <img class="img-rounded" src="/images/fpo/7777-sml.jpg" alt=" ">
        </div>
        <div class="col-xs-9 col-md-6 no-gutters-xs no-gutters-sm"> 
          <div class="advisor-tile-main-body">
            <h4>Bridgette x8133</h4>
            <p class="text-success small"><strong>Next Availabliity:</strong> <span class="text-nowrap">2/27/2015 7:00 PM<span></p>
          </div>
        </div>
        <div class="col-md-4">
          <span class="stat pull-right">
            <span class="stat-value">3rd</span>
            <span class="stat-label">in line</span>
          </span>
        </div>
      </div><!--end of col-6-->
      <div class="col-md-6 no-gutters">
        <div class="col-xs-9 col-md-10 no-gutters-xs no-gutters-sm">
          <a class="btn btn-success">Get Answers Now</a>
        </div>
        <div class="col-xs-2 no-gutters">
          <a class="text-danger close" href="#">  
            <svg class="icon icon-md">
              <use xlink:href="/images/symbol/svg/sprite.symbol.svg#close" />
            </svg>
            </svg>
          </a>
        </div>
      </div><!--end of col-6-->
    </div><!--end of row-->    
  </div>
</div>