<ul class="return-lines">
  {{#times 3}}
    <li class="return-line">
      <div clas="return-line-info">
        <div class="return-line-photo">
          <img class="img-rounded" src="/images/fpo/7777-sml.jpg" alt=" ">
        </div>
        <div class="return-line-details">
          <h4 class="h5 u-no-margin">Firstname x5555</h4>
          <p class="text-muted small u-no-margin"><strong>Next Availabliity:</strong> <span class="text-nowrap">2/27/2015 7:00 PM</span></p>
        </div>
        <div class="return-line-place">
          <div class="stat">
            <span class="stat-value">3rd</span>
            <span class="stat-label">in line</span>
          </div>
        </div>
      </div>
      <ul class="return-line-actions">
        <li>
          <a class="btn btn-block btn-default" href="#">
            View Alternatives
          </a>
        </li>
        <li>
          <a class="text-danger close u-block close" href="#">  
            <svg class="icon icon-md">
              <use xlink:href="/images/symbol/svg/sprite.symbol.svg#close" />
            </svg>
          </a>
        </li>
      </ul>
    </li>
  {{/times}}
</ul>