<div class="box box-dark box-thick box-teal">
  <h2>Manage Your Return Call Lines</h2>
  <div class="col-md-1 text-center">
  </div>
  <div class="col-md-7 text-center">
    Your Return Call Number: <strong>+(1) 503-290-1090</strong>
    <span class="text-nowrap">Your Availability: <strong>59 mins</strong></span>
    <a class="btn btn-primary btn-rounded btn-sm u-block" href="#">Manage Return Call Options</a>
  </div>
  <div class="col-md-4 text-center">
    Your Account Balance:
    <span class="text-nowrap"><strong>$160.00</strong></span>
    <a class="btn btn-primary btn-rounded btn-sm u-block" href="#">Add Dollars</a>
  </div>
</div>