<div class="box box-lighter">
  <h3>How to Rate Your Readings</h3>

  <p>Give a star rating and add a short written review after each reading to post on our website. This enables members to help each other connect with new Advisors and enjoy the best possible psychic experience.</p>
  
  <dl class="reviews-guide">
    <dt><span class="stars stars-5"><span class="sr-only">5 stars</span></span> Excellent</dt>
    <dd>I will definitely choose this advisor in the future.</dd>
  </dl>
  <dl class="reviews-guide">
    <dt><span class="stars stars-4"><span class="sr-only">4 stars</span></span> Very Good</dt>
    <dd>I would be very likely to choose this advisor in the future.</dd>
  </dl>
  <dl class="reviews-guide">
    <dt><span class="stars stars-3"><span class="sr-only">3 stars</span></span> Good</dt>
    <dd>I would be likely to choose this advisor in the future.</dd>
   </dl>
  <dl class="reviews-guide">
    <dt><span class="stars stars-2"><span class="sr-only">2 stars</span></span> Adequate</dt>
    <dd>I would be somewhat likely to choose this advisor in the future.</dd>
   </dl>
  <dl class="reviews-guide">
    <dt><span class="stars stars-1"><span class="sr-only">1 star</span></span> Unsatisfactory</dt>
    <dd>I would be unlikely to choose this advisor in the future.</dd>
  </dl>
  
</div>
