<p>Only readings that lasted <strong>3 minutes or longer</strong> are eligible for review. You have up to <strong>3 months</strong> to rate your reading.</p>

{{#withFirst eligible-readings.list 6}}
  {{> account/_eligible }}
{{/withFirst}}
