<div class="toggle-box">
  <h3 class="toggle-box-heading">
    <a href="#tips-block" data-toggle="collapse" class="toggle-box-parent collapsed arrow-down-after arrow-toggle">
      Tips for Writing Great Reviews
    </a>
  </h3>
  <div class="toggle-box-body collapse" id="tips-block">
    <p>We do post negative reviews. However, we reserve the right to reject postings if they contain unsuitable material. Do not include any personal information in your review, including people's names, addresses, phone numbers, personal details, or mention of any other advisor.</p>
    <h4>Example of an Unacceptable Review:</h4>
    <blockquote>
      Last week I talked to Destiny and she told me my boyfriend Bob was cheating on me with my best friend Sally. But Star told me he was in New York from November 5 to 20, so he couldn’t have been with Sally. I hope Star is right.
    </blockquote>
    <h4>Example of an Acceptable Review:</h4>
    <blockquote>
      Star picked up on my situation right away. I hope she’s right about my boyfriend being faithful, because a different psychic told me he was cheating. Star knew things about him that no one could possibly know, so she was able to put my mind at ease.
    </blockquote>
  </div>
</div>