<div class="box-full box-light box-thick text-center">
  <h2 class="text-normal">You are <strong class="text-warning">143 minute(s) and 31 second(s) away</strong> from earning <strong class="text-warning">$25.00 Bonus Dollars*</strong></h2>
</div>

<p>Talk for 175 minutes in a calendar month and get $25 Bonus Dollars! <a href="#">Need Help?</a></p>

<div class="progress with-progress-marker">
  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="30" style="width: 15%">
    <div class="progress-marker progress-marker-offset progress-marker-right">
      <span class="text-nowrap">Talk Time: <b>31 min 29 sec</b></span>
    </div>
  </div>
  <div class="progress-marker progress-marker-left progress-marker-down progress-marker-jazzy">
    <b>$25 Bonus Dollars</b>
  </div>
</div>

<p class="text-center text-primary">Rewards period ends 2/28/2015 11:59pm ET.</p>

<div class="arrange arrange-middle arrange-gutter u-margin-bottom">
  <div class="arrange-fit select"><span class="hidden-xs">Show </span>
    <button class="btn btn-default js-select-delegate" type="button" aria-hidden="true">
      <span class="js-select-value"></span>
      <span class="arrow-down"></span>
    </button>
    <select>
      <option value="10">February</option>
      <option value="50">January</option>
      <option value="100">December</option>
    </select>
  </div>
  <div class="arrange-fit text-right"><strong>Bonus Dollars Redeemed: $100.00</strong></div>
</div>
	
<div class="box box-lighter">
  <table class="table table-sortable table-collapse-xs">
    <thead>
      <tr>
        <th><a href="#" class="table-sortable-control active arrow-down-after">Advisor&nbsp;</a></th>
        <th><a href="#" class="table-sortable-control">Reading On</a></th>
        <th><a href="#" class="table-sortable-control">Reading Length</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">Psychic Mazie x1243</a></td>
        <td>02/20/2015 04:20 PM</td>
	      <td>21 min 28 sec</td>
      </tr>
	    <tr>  
        <td><a href="#">Psychic Hilda x11233</a></td>
	      <td>02/18/2015 04:23 PM</td>
	      <td>21 min 28 sec</td>
      </tr>
	    <tr>
        <td><a href="#">Psychic Ethel x10013</a></td>
	      <td>02/16/2015 04:24 PM</td>
	      <td>21 min 28 sec</td>
      </tr>
	    <tr>
        <td><a href="#">Psychic Beatrice x00123</a></td>
	      <td>02/12/2015 04:25 PM</td>
	      <td>21 min 28 sec</td>
      </tr>
      <tr>
        <td><a href="#">Psychic Misty x87993</a></td>
	      <td>02/01/2015 04:20 PM</td>
	      <td>17 min 28 sec</td>
      </tr>
    </tbody>
  </table>
</div>

<p class="text-muted"><small>*Psychic readings Talk Time must equal 175 minutes to qualify. Your Talk Time is calculated on the last day of each calendar month. There is no rollover from month to month for Psychic readings Talk Time. Eligible for one Talk Time reward per month.</small></p>
	