<div class="box-full box-light box-thick text-center">
  <h2 class="text-normal">You have earned <strong class="text-warning">$1.68 in Reward Dollars.</strong></h2>
</div>

<p>Once you reach $30.00 in Reward Dollars, we will deposit the reward in your account as $30.00 Bonus Dollars, which you can use toward your readings. <a href="#">Need Help?</a></p>

<div class="progress with-progress-marker">
  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="30" style="width: 3.33%">
    <div class="progress-marker progress-marker-offset progress-marker-right">
      <span class="text-nowrap">Reward Dollars: <b>$1.68</b></span>
    </div>
  </div>
  <div class="progress-marker progress-marker-left progress-marker-down progress-marker-jazzy">
    <b>$30 Bonus Dollars</b>
  </div>
</div>

<div class="arrange arrange-middle arrange-gutter u-margin-bottom">
  <div class="arrange-fit">
    Show
  </div>
  <div class="arrange-fit select">
    <button class="btn btn-default js-select-delegate" type="button" aria-hidden="true">
      <span class="js-select-value"></span>
      <span class="arrow-down"></span>
    </button>
    <select>
      <option value="10">10 per page</option>
      <option value="50">50 per page</option>
      <option value="100">100 per page</option>
    </select>
  </div>
  <div class="arrange-fill text-nowrap">
    <b>1</b>-<b>10</b> of <b>23</b>
  </div>
</div>
  
<div class="box box-lighter table-responsive">
  <table class="table table-sortable">
    <thead>
      <tr>
        <th><a href="#" class="table-sortable-control active arrow-down-after">Purchased On&nbsp;</a></th>
        <th><a href="#" class="table-sortable-control">Purchased Amount</a></th>
        <th><a href="#" class="table-sortable-control">Reward Dollars</a></th>
        <th><a href="#" class="table-sortable-control">Applied Bonus</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>01/12/2015 04:20 PM</td>
        <td>$30.00</td>
        <td>$0.90</td>
        <td></td>
      </tr>
      <tr>
        <td>01/12/2015 04:23 PM</td>
        <td>$30.00</td>
        <td>$0.90</td>
        <td></td>
      </tr>
      <tr>
        <td>01/12/2015 04:24 PM</td>
        <td>$10.00</td>
        <td>$0.30</td>
        <td></td>
      </tr>
      <tr>
        <td>07/12/2014 04:25 PM</td>
        <td>$10.00</td>
        <td>$0.30</td>
        <td></td>
      </tr>
      <tr>
        <td>03/12/2014 04:20 PM</td>
        <td>$30.00</td>
        <td>$0.90</td>
        <td></td>
      </tr>
      <tr>
        <td>02/01/2014 04:01 PM</td>
        <td>$30.00</td>
        <td>$0.90</td>
        <td></td>
      </tr>
      <tr>
        <td>01/12/2014 04:24 PM</td>
        <td>$10.00</td>
        <td>$0.30</td>
        <td></td>
      </tr>
      <tr>
        <td>12/12/2013 05:25 PM</td>
        <td>$50.00</td>
        <td>$0.50</td>
        <td></td>
      </tr>
      <tr>
        <td>11/09/2013 03:55 PM</td>
        <td>$20.00</td>
        <td>$0.20</td>
        <td></td>
      </tr>
      <tr>
        <td>11/01/2013 03:25 PM</td>
        <td>$20.00</td>
        <td>$0.20</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<p class="text-muted"><small>*Eligible for one Purchase reward per month.</small></p>
  