<div class="box-full box-light box-thick text-center">
  <h2 class="text-normal">You are <strong class="text-warning">9 reading(s) away</strong> from earning <strong class="text-warning">$10.00 Bonus Dollars*</strong></h2>
</div>

<p>Once you reach $30.00 in Reward Dollars, we will deposit the reward in your account as $30.00 Bonus Dollars, which you can use toward your readings. <a href="#">Need Help?</a></p>
<p class="text-primary">Rewards period ends 2/28/2015 <span class="text-nowrap">11:59pm ET.</span></p>

<div class="progress with-progress-marker">
  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="30" style="width: 40%">
    <div class="progress-marker progress-marker-offset progress-marker-right">
      <span class="text-nowrap">You've had <b>4 reading(s)</b></span>
    </div>
  </div>
  <div class="progress-marker progress-marker-left progress-marker-down progress-marker-jazzy">
    <b>$10 Bonus Dollars</b>
  </div>
</div>
 
<div class="container-fluid no-gutters-sm account-unified-xs u-margin-bottom">
  <div class="row">
    <div class="col-xs-4">
      <div class="box box-light box-md box-teal">
        <p class="border-bottom text-center">10 Readings</p>
        <p class="text-primary text-uppercase text-center"><span class="h3 u-block u-no-margin">$10<span class="hidden-xs"> Free</span></span><span class="h4">Bonus<span class="hidden-xs"> Dollars</span></span></p>
        <span class="fleuron-star-two top left" aria-hidden="true"></span>
    </div>
    </div>
    <div class="col-xs-4">
      <div class="box box-light box-md box-tan">
        <p class="border-bottom text-center">20 Readings</p>
        <p class="text-primary text-uppercase text-center"><span class="h3 u-block u-no-margin">$25<span class="hidden-xs"> Free</span></span><span class="h4">Bonus<span class="hidden-xs"> Dollars</span></span></p>
        <span class="fleuron-star-one top left" aria-hidden="true"></span> 
    </div>
    </div>
    <div class="col-xs-4">
      <div class="box box-light box-md box-orange">
        <p class="border-bottom text-center">30 Readings</p>
        <p class="text-primary text-uppercase text-center"><span class="h3 u-block u-no-margin">$50<span class="hidden-xs"> Free</span></span><span class="h4">Bonus<span class="hidden-xs"> Dollars</span></span></p>
        <span class="fleuron-star-three bottom right" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</div>

<div class="arrange arrange-middle arrange-gutter u-margin-bottom">
  <div class="arrange-fit select"><span class="hidden-xs">Show </span>
    <button class="btn btn-default js-select-delegate" type="button" aria-hidden="true">
      <span class="js-select-value"></span>
      <span class="arrow-down"></span>
    </button>
    <select>
      <option value="2015-02">February</option>
      <option value="2015-01">January</option>
      <option value="2014-12">December</option>
    </select>
  </div>
  <div class="arrange-fit text-right"><strong>Bonus Dollars Redeemed: $0.00</strong></div>
</div>

	
<div class="box box-lighter">
  <table class="table table-sortable table-collapse-xs">
    <thead>
      <tr>
        <th><a href="#" class="table-sortable-control active arrow-down-after">Advisor&nbsp;</a></th>
        <th><a href="#" class="table-sortable-control">Reading On</a></th>
        <th><a href="#" class="table-sortable-control">Reading Length</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">Psychic Mazie x1243</a></td>
        <td>02/20/2015 04:20 PM</td>
	      <td>21 min 28 sec</td>
      </tr>
	    <tr>  
        <td><a href="#">Psychic Hilda x11233</a></td>
	      <td>02/18/2015 04:23 PM</td>
	      <td>21 min 28 sec</td>
      </tr>
	    <tr>
        <td><a href="#">Psychic Ethel x10013</a></td>
	      <td>02/16/2015 04:24 PM</td>
	      <td>21 min 28 sec</td>
      </tr>
	    <tr>
        <td><a href="#">Psychic Beatrice x00123</a></td>
	      <td>02/12/2015 04:25 PM</td>
	      <td>21 min 28 sec</td>
      </tr>
    </tbody>
  </table>
</div>


<p class="text-muted"><small>*Readings must be a minimum of 12 minutes in length to qualify for Membership Rewards. The number of readings you receive is calculated on the last day of each calendar month. There is no rollover from month to month for the number of readings. Eligible for one Readings reward per month.</small></p>
	