<h3 class="u-no-margin-bottom">Special Offer: the 6 Days of Love</h3>
<p><strong>Get answers to your questions – big or small.</strong></p>
<p class="border-bottom border-top">Add $100 - Get $15 free<br />
Add $50 - Get $5 free<br />
Add $200 - Get $40 free</p>
<p class="text-center"><span class="text-muted">Expires 02/11/2015 11:59PM ET</span><br />
<strong class="u-block">Use Promo Code <span class="text-primary">745864</span></strong></p>
<div class="arrange arrange-gutter arrange-equal">
  <div class="arrange-fill"><a href="/pages/account/03-offers.html" class="btn btn-default btn-shaded btn-block"><span class="hidden-xs">View </span>More Offers</a></div>
  <div class="arrange-fill"><a href="/pages/account/03-offers.html" class="btn btn-primary btn-block">Redeem<span class="hidden-xs"> this</span> Offer</a></div>
</div>  
