<div class="account-box">
  <h3 class="account-home-heading"><a href="#">Special Offers</a></h3>
  <div class="account-box-inner">
    <h3 class="u-no-margin">The 6 Days of Love</h3>
    <p>Get answers to your questions – big or small.</p>
    <ul>
      <li>Add $100 - Get $15 free</li>
      <li>Add $50 - Get $5 free</li>
      <li>Add $200 - Get $40 free</li>
    </ul>
    <strong class="u-block">Use Promo Code <span class="text-primary">745864</span></strong></p>
    <p class="account-footnote">Expires 02/11/2015 11:59PM ET</p>
  </div>
</div>