<div class="account-home-section account-home-section-welcome ">
  <h1 class="text-primary u-no-margin-top h2">Welcome{{#if account}}, {{account.firstName}}!{{/if}}<a href="/pages/account/05-edit.html" class="btn btn-sm btn-default btn-shaded pull-right">Edit Account</a></h1>
  <p>You are currently number <strong>3 in line</strong> for a return call from <a href="#">Psychic Mazie x3102</a>. You are also <a href="#">scheduled for a 
  return call</a> from <strong>4</strong> other advisors.</p>
   <p><a href="/pages/account/02-return-calls.html" class="btn btn-default btn-shaded btn-block">Manage your Return Calls</a></p>  
    <div class="box box-lighter box-teal">
    <p class="account-current-balance"><span class="text-primary account-balance"><sup>$</sup>360.65</span>Current Balance</p>
  </div>
  <ul class="list-unstyled balance-summary">
    <li class="border-bottom">New Member Offer Dollars: <strong class="pull-right">$10.00<span class="has-balance-footnote">*</span></strong></li>
    <li class="border-bottom">Dollars you put on Account: <strong class="pull-right">$250.65</strong></li>
    <li class="border-bottom">Bonus Dollars we gave you: <strong class="pull-right">$100.00</strong></li>
  </ul>
  <p class="balance-footnote text-muted">* at $1.00 per minute.</p>
  <p><a href="/pages/account/02-add.html" class="btn btn-primary btn-block">Add Dollars</a></p>
</div>