<div class="account-home-section account-home-section-articles">
  <h3  class="account-home-section-heading"><a href="#your-reviews"  data-toggle="collapse" data-responsive="bio" class="account-section-parent collapsed">Your Reviews</a></h3>
  <div id="your-reviews" class="collapse account-show-sm">
    <p>You have rated or reviewed <strong>17 of your 38</strong> readings.</p>
    <p><a href="/pages/account/06-reviews.html" class="btn btn-primary btn-block">Review your Readings</a></p>  
  </div>
</div>