---
description: >
  Modifier classes of `.tabpanel-teal` and `.tabpanel-tan` can be used to
  control the background color of the component pieces.
---

<div class="tabpanel tabpanel-light tabpanel-teal" role="tabpanel">
  <!-- Nav tabs -->
  <ul class="tabpanel-tabs" role="tablist">
    <li class="active" role="presentation">
      <a role="tab" data-toggle="tab" href="#foo-tab-example">
        Foo
      </a>
    </li>
    <li role="presentation">
      <a role="tab" data-toggle="tab" href="#bar-tab-example">
        Bar
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tabpanel-content">
    <div class="tabpanel-pane active" role="tabpanel" id="foo-tab-example">
      Foo
    </div>
    <div class="tabpanel-pane" role="tabpanel" id="bar-tab-example">
      Bar
    </div>
  </div>
</div>

<div class="tabpanel tabpanel-lighter tabpanel-tan u-margin-top" role="tabpanel">
  <!-- Nav tabs -->
  <ul class="tabpanel-tabs" role="tablist">
    <li role="presentation">
      <a class="text-truncate" role="tab" data-toggle="tab" href="#pizza-tab-example">
        Pizza
      </a>
    </li>
    <li class="active" role="presentation">
      <a class="text-truncate" role="tab" data-toggle="tab" href="#hotdog-tab-example">
        Hotdog
      </a>
    </li>
    <li role="presentation">
      <a class="text-truncate" role="tab" data-toggle="tab" href="#hamburger-tab-example">
        Hamburger
      </a>
    </li>
    <li role="presentation">
      <a class="text-truncate" role="tab" data-toggle="tab" href="#applesauce-tab-example">
        Applesauce
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tabpanel-content">
    <div class="tabpanel-pane" role="tabpanel" id="pizza-tab-example">
      Pizza
    </div>
    <div class="tabpanel-pane active" role="tabpanel" id="hotdog-tab-example">
      Hotdog
    </div>
    <div class="tabpanel-pane" role="tabpanel" id="hamburger-tab-example">
      Hamburger
    </div>
    <div class="tabpanel-pane" role="tabpanel" id="applesauce-tab-example">
      Applesauce
    </div>
  </div>
</div>
