---
description: >
  Modifier classes of `.tabpanel-teal` and `.tabpanel-tan` can be used to
  control the background color of the component pieces.
---

<div class="tabpanel tabpanel-light tabpanel-teal" role="tabpanel">
  <!-- Nav tabs -->
  <ul class="tabpanel-tabs" role="tablist">
    <li class="active" role="presentation">
      <a role="tab" data-toggle="tab" href="#tabpanel-content-1">
        Purchase Rewards
      </a>
    </li>
    <li role="presentation">
      <a role="tab" data-toggle="tab" href="#tabpanel-content-2">
        Reading Rewards
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tabpanel-content">
    <div class="tabpanel-pane active" role="tabpanel" id="tabpanel-content-1">
      Purchase Rewards
    </div>
    <div class="tabpanel-pane" role="tabpanel" id="tabpanel-content-2">
      Reading Rewards
    </div>
  </div>
</div>

<div class="tabpanel tabpanel-lighter tabpanel-tan u-margin-top" role="tabpanel">
  <!-- Nav tabs -->
  <ul class="tabpanel-tabs" role="tablist">
    <li role="presentation">
      <a role="tab" data-toggle="tab" href="#tabpanel-content-1">
        Purchase Rewards
      </a>
    </li>
    <li class="active" role="presentation">
      <a role="tab" data-toggle="tab" href="#tabpanel-content-2">
        Reading Rewards
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tabpanel-content">
    <div class="tabpanel-pane" role="tabpanel" id="tabpanel-content-1">
      Purchase Rewards
    </div>
    <div class="tabpanel-pane active" role="tabpanel" id="tabpanel-content-2">
      Reading Rewards
    </div>
  </div>
</div>
