---
description: Step one of the signup form for new customers.
---

{{> pages/_header }}

<div class="container-page">
  <div class="box-full box-default-lg box-lighter box-sheer">
    <div class="hidden-md hidden-lg ">
      {{> toolbar/toolbar-signup }}
    </div>
    <div class="container-fluid prairie-dog-xs prairie-dog-sm no-gutters-xs no-gutters-sm" id="our-psychics-container">
      <div class="col-md-5 ">
        {{> signup/_signup-sidebar }}
      </div>
    	<div class="prairie-dog-overlay"></div>
    	<div class="col-md-7 prairie-dog-bg">
        <h3>Account Information</h3>
        {{> forms/signup-account }}
        {{> signup/_signup-footer }}
      </div>
    </div>
  </div>
</div>

{{> pages/_footer }}
