---
description: Thanks for signup.
---

{{> pages/_header }}

<div class="container-page">
  <div class="box box-lighter">
    <h1 class="text-primary">Thank you, Aileen Jeffries</h1>
    <p>Your order has been processed. An email confirmation has been sent to aileen@cloudfour.com.</p>
    <h1 class="text-cursive text-secondary">Ready to get started? Get your reading!</h1>
    <div class="box box-light box-md box-teal">
      <h3 class="text-primary">Phone Reading</h3>
      <div class="media">
        <a class="media-left" href="#">
          <img src="/images/questions-phone.png" alt="Phone Reading" />
        </a>
        <div class="media-body">
          <p><strong>Your login for your Phone Reading</strong><br />
            <strong>Phone Number:</strong> 502-290-1090<br />
            <strong>PIN:</strong> 5540</p>
          <h4>Browse <a href="#">available phone psychics</a> or call <a href="tel:+18007320797">1.800.732.0797</a>.</h4>
        </div>
      </div>
    </div>
    <div class="box box-light box-md box-teal">
      <h3 class="text-primary">Chat Reading</h3>
      <div class="media">
        <a class="media-left" href="#">
          <img src="/images/questions-chat.png" alt="Chat Reading" />
        </a>
        <div class="media-body">
          <p><strong>Your login for your Chat Reading</strong><br />
            There are two ways to log in to your Psychic Source web account. You can use your Phone Number and PIN or use your Email Address and Password. Your
            password may be changed on your <a href="#">My Account</a> page.</p>
          <h4>Browse <a href="#">available chat psychics</a>.</h4>
        </div>
      </div>
    </div>
    <p><strong>Get the answers to your most pressing issues now!</strong></p>
   {{> signup/_signup-footer }}
   </div>
</div> 

{{> pages/_footer }}
