<div class="box box-lighter box-teal u-margin-top">
  <h3 class="text-gray">Our Psychics</h3>
  <p>We accept only psychics who are truly gifted and dedicated to helping others, and we put all applicants through a rigorous screening process. The result? Amazing!</p>
  <p><a href="#howitworksvideo" data-toggle="collapse" class="btn btn-default btn-shaded btn-sm toggle-trigger arrow-down-after arrow-toggle">Watch video </a></p>
  <div id="howitworksvideo" class="collapse">
    <div class="embed-responsive embed-responsive-16by9 u-margin-ends">
      <iframe src="//www.youtube.com/embed/hhIlx7DlbKw?wmode=transparent&amp;rel=0" allowfullscreen></iframe>
    </div>
  </div>
</div>  