<div class="prairie-dog-dialog box box-lighter box-teal u-margin-top" id="signup-guarantee" data-parent="#our-psychics-container">
  <h3>Satisfaction Guarantee</h3>
  <p class="text-center"><img src="http://www.psychicsource.com/images/satisfaction-seal.png" /></p>
  <p>If you're unhappy with your last live purchased psychic reading, we will refund your money from that reading or give you the time back to try us again.</p>
  <h1 class="text-center text-cursive text-primary">Truly risk free!</h1>
</div>
<div class="prairie-dog-dialog box box-lighter box-teal" id="signup-our-psychics" data-parent="#our-psychics-container">
  <h3>Our Psychics</h3>
  <div class="embed-responsive embed-responsive-16by9 u-margin-ends">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hhIlx7DlbKw?wmode=transparent&amp;rel=0" allowfullscreen="" width="100%" frameborder="0"></iframe>
  </div>
  <p>At Psychic Source, we accept only psychics who are truly gifted and dedicated to helping others, and we put all applicants through a rigorous screening process. The result? Amazing!</p>
</div>
<div class="prairie-dog-dialog box box-lighter box-teal" id="signup-how-works" data-parent="#our-psychics-container">
  <h3>How it Works</h3>
  <div class="embed-responsive embed-responsive-16by9 u-margin-ends">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vzNICdAV-XE?wmode=transparent&amp;rel=0" allowfullscreen="" width="100%"  frameborder="0"></iframe>
  </div>
  <p>At Psychic Source you control how much you spend, and you're only charged for the time you talk with an advisor. No hidden fees. No surprise charges.</p>
</div>
