<div class="box box-lighter box-teal">
  <h3 class="text-gray">Questions?</h3>
  <p>Call <a href="tel:18009653049">1.800.965.3049</a> to reach our Customer Care Representatives. Our Customer Care Center is not outsourced or overseas, and is there to help you 24 hours a day, 7 days a week. You can also <a href="#">chat online</a> with one of our friendly Customer Care representatives.</p>
</div>