<div class="box box-scroll-bottom u-no-padding-sides u-no-padding-top">
  <div class="media">
    <div class="media-body">
      <h1 class="text-primary u-no-margin-top">Satisfaction Guarantee</h1>
      <p style="margin:0 0 10px">If you're unhappy with your last live purchased psychic reading, we will refund your money from that reading or give you the time back to try us again.</p>
      <h1 class="text-cursive text-primary u-no-margin">Truly risk free!</h1>
    </div>
    <div class="media-right">
      <img src="http://www.psychicsource.com/images/satisfaction-seal.png" style="width:150px" />
    </div>
  </div>
</div>