<h3>Safety and security at Psychic Source</h3>
<p>Psychic Source is committed to protecting your privacy and uses some of the most sophisticated security software commercially available. We respect your privacy and are committed to no spam. Your information is safe with us.</p>
<div class="arrange arrange-equal arrange-gutter u-margin-bottom">
  <div class="arrange-fill"><img src="/images/fpo/trustwave.png" alt="FPO" /></div>
  <div class="arrange-fill arrange-right arrange-middle"><img src="/images/fpo/godaddy.png" alt="FPO" /></div>
</div>
