<div class="box box-lighter box-teal">
  <h3 class="u-no-margin-top text-gray">How it Works</h3>
<!--  <div class="embed-responsive embed-responsive-16by9 u-margin-ends">
    <iframe src="//www.youtube.com/embed/vzNICdAV-XE?wmode=transparent&amp;rel=0" allowfullscreen></iframe>
  </div> -->
  <p>At Psychic Source you control how much you spend, and you're only charged for the time you talk with an advisor. No hidden fees. No surprise charges.</p>
  <p><a href="#" class="btn btn-default btn-shaded btn-sm arrow-right-equilateral-after">Watch video </a></p> 
</div>