<div class="box box-lighter box-teal">
 <h3 class="u-no-margin-top text-gray">Our Psychics</h3>
<!--  <div class="embed-responsive embed-responsive-16by9 u-margin-ends">
    <iframe src="//www.youtube.com/embed/hhIlx7DlbKw?wmode=transparent&amp;rel=0" allowfullscreen></iframe>
  </div> -->
  <p>We accept only psychics who are truly gifted and dedicated to helping others, and we put all applicants through a rigorous screening process. The result? Amazing!</p>
    <p><a href="#" class="btn btn-default btn-shaded btn-sm arrow-right-equilateral-after">Watch video </a></p>  
</div>