<div class="box box-lighter box-teal u-margin-top">
  <h3 class="text-gray">Our Psychics</h3>
  <p>We accept only psychics who are truly gifted and dedicated to helping others, and we put all applicants through a rigorous screening process. The result? Amazing!</p>
  <p><a href="#howitworksvideo" data-toggle="collapse" class="btn btn-default btn-shaded btn-highlight">
  	<svg class="icon icon-lg">
      <use xlink:href="/images/symbol/svg/sprite.symbol.svg#video" />
    </svg>
  	Watch video</a></p>
  <div id="howitworksvideo" class="collapse">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="//www.youtube.com/embed/hhIlx7DlbKw?wmode=transparent&amp;rel=0" allowfullscreen></iframe>
    </div>
  </div>
</div>  