<div class="box box-scroll-bottom u-no-padding-sides">
  <h1 class="text-primary u-no-margin-top">Satisfaction Guarantee</h1>
  <div class="media">
    <div class="media-body">  
      <p>If you're unhappy with your last live purchased psychic reading, we will refund your money from that reading or give you the time back to try us again.</p>
      <h1 class="text-primary text-cursive">Truly risk free!</h1>
    </div>
    <div class="media-right u-third">
      <img src="/images/satisfaction-seal.png" class="pull-right" />
    </div>
  </div>
</div>  