<div class="box box-lighter box-teal">
  <h3 class="text-gray">How it Works</h3>
  <p>At Psychic Source you control how much you spend, and you're only charged for the time you talk with an advisor. No hidden fees. No surprise charges.</p>
  <p><a href="#ourpsychicsvideo" data-toggle="collapse" class="btn btn-default btn-shaded  btn-highlight">
  	<svg class="icon icon-lg">
      <use xlink:href="/images/symbol/svg/sprite.symbol.svg#video" />
    </svg>
    Watch video</a></p>
  <div id="ourpsychicsvideo" class="collapse">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="//www.youtube.com/embed/vzNICdAV-XE?wmode=transparent&amp;rel=0" allowfullscreen></iframe>
    </div>
  </div>
</div>  