<div class="prairie-dog-dialog box box-lighter box-teal u-margin-top" id="signup-guarantee" data-parent="#signup-account-container">
  {{> signup/_signup-sidebar-guarantee }}
</div>
<div class="prairie-dog-dialog box box-lighter box-teal" id="signup-our-psychics" data-parent="#signup-account-container">
  {{> signup/_signup-sidebar-ourpsychics }}
</div>
<div class="prairie-dog-dialog box box-lighter box-teal" id="signup-how-works" data-parent="#signup-account-container">
  {{> signup/_signup-sidebar-howitworks }}
</div>
