/**
 * Based on the suitcss Arrange component, but written in Sass with
 * Bootstrap-like class-names specifically for this project.
 *
 * https://github.com/suitcss/components-arrange
 */

$arrange-gutter-size: 10px !default;

/**
 * This component lets you lay out a row of cells in various ways. You can
 * specify whether a cell should be wide enough to fit its content, or take up
 * the remaining space in the row. It's also possible to give all cells an
 * equal width, and to control their vertical alignment.
 */

/**
 * 1. Protect against the component expanding beyond the confines of its
 *    container if properties affecting the box-model are applied to the
 *    component. Mainly necessary because of (5).
 * 2. Rely on table layout.
 * 3. Zero out the default spacing that might be on an element (e.g., `ul`).
 * 4. Make sure the component fills at least the full width of its parent.
 * 5. Reset the table-layout algorithm in case a component is nested.
 */

.arrange {
  box-sizing: border-box; /* 1 */
  display: table; /* 2 */
  margin-left: 0; /* 3 */
  margin-right: 0; /* 3 */
  min-width: 100%; /* 4 */
  padding: 0; /* 3 */
  table-layout: auto; /* 5 */
}

/**
 * There are two possible types of child. `sizeFill` will expand to fill all
 * of the remaining space not filled by `sizeFit` elements.
 *
 * 1. Zero out any default spacing that might be on an element (e.g., `li`);
 *    Margin has no effect when coupled with `display: table-cell`.
 * 2. All cells are top-aligned by default
 */

.arrange-fill,
.arrange-fit {
  display: table-cell;
  padding: 0; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Make sure the main content block expands to fill the remaining space.
 */

.arrange-fill {
  width: 100%;
}

/**
 * Where possible, protect against large images breaking the layout. Prevent them from
 * exceeding the width of the main content block by making them fluid.
 *
 * Only work for all browsers with the `Arrange-equally` variant. For Firefox
 * and IE to constrain image dimensions for other layouts, large images will
 * need their width set to `100%`.
 */

.arrange-fill img {
  height: auto;
  max-width: 100%;
}

/**
 * Defend against a side-effect of this layout pattern: images in
 * 'Arrange-fit' cannot be fluid, otherwise they lose their ability to
 * provide size to a cell.
 */

.arrange-fit img {
  max-width: none !important;
  width: auto !important;
}

/* Vertical alignment modifiers
   ========================================================================== */

.arrange-middle .arrange-fill,
.arrange-middle .arrange-fit {
  vertical-align: middle;
}

.arrange-bottom .arrange-fill,
.arrange-bottom .arrange-fit {
  vertical-align: bottom;
}

/* Horizontal alignment modifiers
   ========================================================================== */
.arrange-center {
  text-align: center;
}   
.arrange-right {
  text-align: right;
}

/* Equal-width modifier
   ========================================================================== */

/**
 * This layout algorithm will create equal-width table cells, irrespective of
 * the width of their content.
 *
 * 1. The layout algorithm requires a set width to correctly calculate table
 *    cell width.
 */

.arrange-equal {
  table-layout: fixed;
  width: 100%; /* 1 */
}

/**
 * Give the cells an equal width. This value ensures that Arrange is still 100%
 * wide when gutters are used in conjunctions with equal-width cells.
 *
 * It's recommended that only 'Arrange-fill' be used for equal width cells.
 * Their inner images will automatically be responsive.
 */

.arrange-equal > .arrange-fill,
.arrange-equal > .arrange-fit {
  width: 1%;
}

/* Gutter modifier
   ========================================================================== */

/**
 * Add a gutter between cells
 *
 * NOTE: this can trigger a horizontal scrollbar if the component is as wide as
 * the viewport. Use padding on a container, or `overflow-x:hidden` to protect
 * against it.
 */

.arrange-gutter {
  margin-left: (-0.5 * $arrange-gutter-size);
  margin-right: (-0.5 * $arrange-gutter-size);
}

.arrange-gutter > .arrange-fit,
.arrange-gutter > .arrange-fill {
  padding-left:  (0.5 * $arrange-gutter-size);
  padding-right:  (0.5 * $arrange-gutter-size);
}

.arrange-gutter.arrange-equal {
  width: calc(100% + #{$arrange-gutter-size});
}

/* Not full width modifier
   ========================================================================== */
.arrange.arrange-width-auto {
  min-width:0;
  .arrange-fit {
    width: auto;
    padding-right: $arrange-gutter-size;
  }
}   
