%arrow-base {
  @include triangle();
  &.arrow-toggle[aria-expanded="true"],
  &.arrow-toggle.active {
    transform: rotate(180deg);
  }
}

%arrow-base-before {
  margin-right: 0.25em;
}

%arrow-base-after {
  margin-left: 0.25em;
}

@each $arrow-direction in up, down, left, right {
  .arrow-#{$arrow-direction},
  .arrow-#{$arrow-direction}-before:before,
  .arrow-#{$arrow-direction}-after:after {
    @extend %arrow-base;
    @include triangle(
      $triangle-direction: $arrow-direction,
      $triangle-reset: false
    );
  }
  .arrow-#{$arrow-direction}-equilateral,
  .arrow-#{$arrow-direction}-equilateral-before:before,
  .arrow-#{$arrow-direction}-equilateral-after:after {
    @extend %arrow-base;
    @include triangle(
      $triangle-direction: $arrow-direction,
      $triangle-type: equilateral,
      $triangle-reset: false
    );
  }
  .arrow-#{$arrow-direction}-before:before,
  .arrow-#{$arrow-direction}-equilateral-before:before {
    @extend %arrow-base-before;
  }
  .arrow-#{$arrow-direction}-after:after,
  .arrow-#{$arrow-direction}-equilateral-after:after {
    @extend %arrow-base-after;
  }
}
