.border,
.border-bottom,
.border-top,
.border-left,
.border-right,
.border-ends,
.border-sides,
.no-border {
  border: 0 dotted $tan;
}

.border,
.border-top,
.border-ends {
  border-top-width: 1px;
  padding-top: ($line-height-computed / 2);
}

.border,
.border-right,
.border-sides {
  border-right-width: 1px;
  padding-right: $line-height-computed;
}

.border,
.border-bottom,
.border-ends {
  border-bottom-width: 1px;
  padding-bottom: ($line-height-computed / 2);
}

.border,
.border-left,
.border-sides {
  border-left-width: 1px;
  padding-left: $line-height-computed;
}

.border-thick {
  border-style: solid;
  border-color: $gray-lighter;
  &.border {
    border-width: 2px;
  }
  &.border-sides {
    border-width: 0 2px;
  }
  &.border-ends {
    border-width: 2px 0;
  }
}

@media (min-width: $screen-lg-min) {
  .border-sides-pseudo:before,
  .border-sides-pseudo:after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 2px;
    height: 300px;
    background-color: $gray-lighter;
  }

  .border-sides-pseudo:before {
    left: 0;
  }

  .border-sides-pseudo:after {
    right: 0;
  }
}

.no-border-xs {
  @media (max-width: $screen-xs-max) {
    border-width: 0 !important;
    padding: 0 !important;
  }
}

.no-border-sm {
  @media (max-width: $screen-sm-max) {
    border-width: 0 !important;
    padding: 0 !important;
  }
}

.no-border-md {
  @media (max-width: $screen-md-max) {
    border-width: 0 !important;
    padding: 0 !important;
  }
}