.border,
.border-bottom,
.border-top,
.border-left,
.border-right,
.border-ends,
.border-sides,
.no-border {
  border: 0 dotted $tan;
}

.border,
.border-top,
.border-ends {
  border-top-width: 1px;
  padding-top: ($line-height-computed / 2);
}

.border,
.border-right,
.border-sides {
  border-right-width: 1px;
  padding-right: $line-height-computed;
}

.border,
.border-bottom,
.border-ends {
  border-bottom-width: 1px;
  padding-bottom: ($line-height-computed / 2);
}

.border,
.border-left,
.border-sides {
  border-left-width: 1px;
  padding-left: $line-height-computed;
}
