.creditcards {
  margin:0;
  padding: (0.5 * $arrange-gutter-size) 0 0;
  list-style: none;
}

.creditcard {
  display: inline-block;
  width: 32px;
  height: 20px;
  background-color: $gray-light;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid $gray-light;
  text-indent: -999em;
  overflow: hidden;
  margin: 0 (0.5 * $arrange-gutter-size) 0 0;
  padding:0;
  &.creditcard-visa {
    background-image: url(/images/cards/visa.svg);
  }
  &.creditcard-mastercard {
    background-image: url(/images/cards/mastercard.svg);
  }
  &.creditcard-amex {
    background-image: url(/images/cards/amex.svg);
  }
  &.creditcard-discover {
    background-image: url(/images/cards/discover.svg);
  }
  &.creditcard-dinersclub {
    background-image: url(/images/cards/diner.svg);
  }
  &.creditcard-cvv {
    background-image: url(/images/cards/cvv.svg);
  }
}
/**
 * When the first four digits of the card are entered, we know what type of card it is.
 * The other cards are greyed out, highlighting the correct card type
 */
 
.knows-card .creditcard {
  opacity: 0.25;
}
.is-visa .creditcard.creditcard-visa,
.is-mastercard .creditcard.creditcard-mastercard,
.is-discover .creditcard.creditcard-discover,
.is-amex .creditcard.creditcard-amex,
.is-dinersclub .creditcard.creditcard-dinersclub {
  opacity: 1;
}

/**
 * Positions the CVV hint icon inside the text input
 */

.form-group-signupCCCode {
  position: relative;
  .creditcard-cvv {
    position: absolute;
    top: 2.2em;
    left: $arrange-gutter-size;
  }
  input {
    padding-left: 44px;
  }
}