.close {
  font-size: $close-font-size;
  color: $close-color;
  opacity: $close-opacity-default;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    color: $close-color;
    opacity: $close-opacity-hover;
    text-decoration: none;
  }
}
