.close {
  display: inline-block;
  box-sizing: border-box;
  width: $close-width;
  height: $close-height;
  font-size: ($font-size-base * 1.5);
  font-weight: $close-font-weight;
  line-height: 0;
  padding: 0;
  cursor: pointer;
  color: $close-color;
  border: $close-border;
  border-radius: $close-border-radius;
  background: $close-background;
  text-align: center;
  text-shadow: $close-text-shadow;
  -webkit-appearance: none;
  @include opacity($close-opacity-default);

  &:hover,
  &:focus {
    color: $close-color;
    text-decoration: none;
    cursor: pointer;
    @include opacity($close-opacity-hover);
  }
}
