.form-input {
  -webkit-appearance: none;
  -moz-apprearance: none;
  border: 1px solid $blue-grey;
  border-radius: 0;
  background: white;
  padding: 0.4em;
  box-sizing: border-box;
  &:focus {
    border-color: $blue-light;
  }
}

.form-label {
  display: block;
  font-size: $font-small;
  font-weight: bold;
  padding-top: 0.4em;
  padding-top: 0.4em;
}

.form-line {
  display: block;
  margin:0 0 0.4em;
  .form-input, .form-label, .form-input-set {
    display:block;
    width: 100%;
    vertical-align: top;
  }
  .form-input-set .form-input {
    width: auto;
    display: inline-block;
  }
  .form-label-radio {
    display: inline-block;
    width: auto;
    font-weight: normal;
    padding-top:0;
  }
  .form-label-checkbox {
    display: inline;
    width: auto;
    font-weight: normal;
  }
}

@media only screen and (min-width: $bp-sm) {
  .form-line {
    .form-input, .form-label, .form-input-set {
      display: inline-block;
    }
    .form-label {
      width: 49%;
      text-align: right;
      padding-right: 0.5em;
    }
    .form-input, .form-input-set {
      width: 49%;
    }
    .form-label-checkbox {
      display: inline;
    }  
  }
  .form-line-stacked .form-label, .form-line .form-label-radio, .form-line .form-label-checkbox {
    width: auto; 
    text-align: left;
  }

}