/**
 * These styles are based on or extend Bootstrap's. Please refer to the
 * Bootstrap grid documentation before adding new patterns here to insure they
 * are not redundant.
 */

$container-page-max-width: $screen-lg-min !default;
$container-page-gutter: ($grid-gutter-width / 2) !default;
$container-page-gutter-breakpoint: $screen-lg-min !default;

.container-page {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-page-max-width;
  @include clearfix;

  @media (min-width: $container-page-gutter-breakpoint) {
    padding-left: $container-page-gutter;
    padding-right: $container-page-gutter;
  }
}

/**
 * Inspired by: http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/
 *
 * This uses attribute selectors instead of column selectors to avoid selector
 * bloat (especially important given IE's selector limit).
 */

@mixin make-no-gutters-helpers ($suffix: '') {
  %no-gutters#{$suffix}-padding-base {
    padding-left: 0;
    padding-right: 0;
  }

  .no-gutters#{$suffix}[class^='container'],
  .no-gutters#{$suffix}[class*=' container'] {
    &,
    > [class^='col-'],
    > [class^=' col-'] {
      @extend %no-gutters#{$suffix}-padding-base;
    }
  }

  .no-gutters#{$suffix}.row {
    margin-left: 0;
    margin-right: 0;

    > [class^='col-'],
    > [class^=' col-'] {
      @extend %no-gutters#{$suffix}-padding-base;
    }
  }

  .no-gutters#{$suffix} {
    &[class^='col-'],
    &[class^=' col-'] {
      @extend %no-gutters#{$suffix}-padding-base;
    }
  }
}

@include make-no-gutters-helpers();

@media (max-width: $screen-xs-max) {
  @include make-no-gutters-helpers('-xs');
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include make-no-gutters-helpers('-sm');
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include make-no-gutters-helpers('-md');
}

@media (min-width: $screen-lg-min) {
  @include make-no-gutters-helpers('-lg');
}

/**
* Create helper class for .row that adds full height vertical divider bars
* between columns.
*/

@mixin make-vertical-dividers ($suffix: '') {
  .with-vertical-dividers#{$suffix} {
    overflow: hidden;

    > [class^="col-"],
    > [class*=" col-"] {
      &:nth-last-child(n+2) {
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: 2px;
          height: 1000px;
          background-color: $gray-lighter;
        }
      }
    }
  }
}

/*
@include make-vertical-dividers();

@media (min-width: $screen-sm-min) {
  @include make-vertical-dividers('-sm');
}

@media (min-width: $screen-md-min) {
  @include make-vertical-dividers('-md');
}
*/

@media (min-width: $screen-lg-min) {
  @include make-vertical-dividers('-lg');
}
