h1 {
  font-weight: bold;
  font-size: $font-xlarge;
  color: $red;
  margin: 0 0 0.23em;
}

h2 {
  font-weight: bold;
  font-size: $font-large;
  color: $grey-dark;
  margin: 0 0 0.89em;
}

h3 {
  font-weight: bold;
  font-size: $font-base;
  color: $grey-dark;
  margin: 0;
}