h1 {
  font-weight: bold;
  font-size: $font-xlarge;
  color: $red;
  margin: 0 0 0.5em;
}

h2 {
  font-weight: bold;
  font-size: $font-large;
  color: $grey-dark;
   margin: 0 0 0.5em;
}

h3 {
  font-weight: bold;
  font-size: $font-large;
  color: $orange;
  margin: 0 0 0.5em;
}

h4 {
  font-weight: bold;
  font-size: $font-base;
  color: $grey-dark;
  margin: 0;
}

h5 {
  font-weight: bold;
  font-size: $font-base;
  color: $grey-medium;
  margin: 0;
}

h1.text-cursive {
  font-size: $font-xxlarge;
}

h2.text-cursive {
  font-size: $font-xlarge;
  color: $red;
}

h3.text-cursive {
  color: $red;
}