.icon {
  color: inherit;
  display: inline-block;
  vertical-align: -0.26em;
  line-height: 1;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

//= Sizes

.icon-md {
  height: 1.35em;
  width: 1.35em;
}

.icon-lg {
  height: 1.75em;
  width: 1.75em;
  margin-top: -0.4em;
  vertical-align: -0.4em;
}

.icon-xl {
  height: 3em;
  width: 3em;
  margin-top: -0.4em;
  vertical-align: -0.4em;
}

.icon-xxl {
  height: 10em;
  width: 10em;
  margin-top: -0.4em;
  vertical-align: -0.4em;
}
