.logo {
  display:block;
  width: 30%;
  max-width: 350px;
  margin: ($line-height-computed / 2);
  min-width: 120px;
}

@media (min-width: $screen-sm) {
  .logo {
    background: url(/images/logo/ps-logo.png) 0 50% no-repeat;
	  background-size: 100% auto;
    position: relative;
    overflow:hidden;
    text-indent: -999px;
    min-height: 3.5em;
    margin: $line-height-computed;
    img {
      display: inline-block;
    }
  }
}

@media (min-width: $screen-md) {
  .logo {
    background-image: url(/images/logo/ps-logo-tagline-stacked.png);
  }
}

@media (min-width: $screen-lg) {
  .logo {
    width: 40%;
    background-image: url(/images/logo/ps-logo-tagline.png);
  }
}
