.table.table-collapse {
  @media (max-width: $screen-sm) {
    display: block;
    tr {
      display:block;
      padding-bottom: $arrange-gutter-size;
    }
    td {
      display:block;
      padding:0;
      border:0;
    }
  }
}

.table-collapse strong {
  white-space: nowrap;
}