.table.table-collapse-xs {
  @media (max-width: $screen-xs) {
    &, tr, td {
      display: block;
    }  
    tr {
      padding-bottom: $arrange-gutter-size;
    }
    td {
      padding:0;
      border:0;
    }
  }
}
