//== Cursive

.text-cursive {
  font-family: $font-family-cursive;
}

//** Extends Bootstrap headings to accountfor differing x-height

h1, .h1 {
  &.text-cursive {
    font-size: ($font-size-h1 * 1.25);
  }
}
h2, .h2 {
  &.text-cursive {
    font-size: ($font-size-h2 * 1.25);
  }
}
h3, .h3 {
  &.text-cursive {
    font-size: ($font-size-h3 * 1.25);
  }
}
h4, .h4 {
  &.text-cursive {
    font-size: ($font-size-h4 * 1.25);
  }
}
h5, .h5 {
  &.text-cursive {
    font-size: ($font-size-h5 * 1.25);
  }
}
h6, .h6 {
  &.text-cursive {
    font-size: ($font-size-h6 * 1.25);
  }
}

//== Other text variations

@include text-emphasis-variant('.text-default', $text-color);
@include text-emphasis-variant('.text-secondary', $orange);

//== Misc. modifiers

.text-underline {
  text-decoration: underline;
}

.text-tall {
  line-height: 2;
}

//== Responsive text alignment classes

// Based on Bootstrap text alignment helpers and responsive utilities.

.text-left-xs {
  @media (max-width: $screen-xs-max) {
    text-align: left;
  }
}
.text-right-xs {
  @media (max-width: $screen-xs-max) {
    text-align: right;
  }
}
.text-center-xs {
  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

.text-left-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    text-align: left;
  }
}
.text-right-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    text-align: right;
  }
}
.text-center-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    text-align: center;
  }
}

.text-left-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    text-align: left;
  }
}
.text-right-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    text-align: right;
  }
}
.text-center-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    text-align: center;
  }
}

.text-left-lg {
  @media (min-width: $screen-lg-min) {
    text-align: left;
  }
}
.text-right-lg {
  @media (min-width: $screen-lg-min) {
    text-align: right;
  }
}
.text-center-lg {
  @media (min-width: $screen-lg-min) {
    text-align: center;
  }
}

//== Responsive small helper

// Based on Bootstrap's .small/<small> styles.

@mixin make-small() {
  font-size: floor((100% * $font-size-small / $font-size-base));
}

.small-xs {
  @media (max-width: $screen-xs-max) {
    @include make-small();
  }
}

/**
 * The following is commented out because it isn't necessary now and I'm
 * doubtful it will become necessary (since it's rare we would need to make text
 * smaller at larger breakpoints), but for the sake of future generations I
 * think it makes sense to leave it available here in the source.
 */

// .small-sm {
//   @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
//     @include make-small();
//   }
// }
//
// .small-md {
//   @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
//     @include make-small();
//   }
// }
//
// .small-lg {
//   @media (min-width: $screen-lg-min) {
//     @include make-small();
//   }
// }
