$utility-gutter-width: ($grid-gutter-width / 2) !default;

@include make-whitespace-utilities(margin,  $utility-gutter-width, 'u-');
@include make-whitespace-utilities(padding, $utility-gutter-width, 'u-');
@include make-whitespace-utilities(margin,  0, 'u-no-');
@include make-whitespace-utilities(padding, 0, 'u-no-');

.u-block {
  display: block;
}

.u-inline-block {
  display: inline-block;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-third {
  width: 33%;
}

.u-shift-up {
  margin-top: -1px !important;
}

.u-shift-down {
  margin-bottom: -1px !important;
}

@media (max-width: $screen-xs-max) {
  @include make-whitespace-utilities(padding, 0, 'u-no-', '-xs');
}

@media (max-width: $screen-sm-max) {
  @include make-whitespace-utilities(padding, 0, 'u-no-', '-sm');
}