<li>
  {{#if items}}
    <h5 class="filter-heading">
      <a class="filter-item filter-parent js-filter-parent" href="#filters-{{formatSlug title}}">
        {{title}}
        <span class="badge js-filter-badge"></span>
      </a>
    </h5>
    {{> filters/_filter-list}}
  {{else}}
    <label class="filter-item">
      <span class="filter-checkbox">
        <input type="checkbox" class="js-filter-control">
        <span class="filter-checkbox-value" aria-hidden="true"></span>
      </span>
      {{title}}
    </label>
  {{/if}}
</li>
