---
description: >
  Although Bootstrap has a
  [`.nav-tabs`](http://getbootstrap.com/components/#nav-tabs) component, it
  would have required quite a bit of hackery to look similar to that of
  [PsychicSource](http://www.psychicsource.com/our-psychics), so we're using
  a fresh pattern while mimicing the overall structure of Bootstrap.
---

<ul class="tabs">
  <li role="presentation"><a href="#">Phone Psychics</a></li>
  <li role="presentation"><a href="#">Chat Psychics</a></li>
  <li role="presentation" class="active"><a href="#">All Psychics</a></li>
</ul>
