---
description: Tabs intended for the Our Psychics page with markup and structure based on  [a similar Bootstrap component](http://getbootstrap.com/components/#nav-tabs).
---
<ul class="tabs">
  <li role="presentation" class="active"><a href="">Active Tab</a></li>
  <li role="presentation"><a href="">Inactive Tab</a></li>
  <li role="presentation"><a href="">Inactive Tab</a></li>
</ul>
