---
description: Allow browsers to determine video or slideshow dimensions based on the width of their containing block by creating an intrinsic ratio that will properly scale on any device.
bootstrap: http://getbootstrap.com/components/#responsive-embed
---

<div class="embed-responsive embed-responsive-16by9 u-margin-ends">
  <iframe src="//fast.wistia.net/embed/iframe/fhbsjssg89" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" width="335" height="216"></iframe>
</div>

<div class="embed-responsive embed-responsive-16by9 u-margin-ends">
  <iframe src="https://www.youtube.com/embed/hhIlx7DlbKw?wmode=transparent&amp;rel=0" allowfullscreen="" frameborder="0" height="200" width="335"></iframe>
</div>
