---
description: Allow browsers to determine video or slideshow dimensions based on the width of their containing block by creating an intrinsic ratio that will properly scale on any device.
bootstrap: http://getbootstrap.com/components/#responsive-embed
---

<div class="embed-responsive embed-responsive-16by9 u-margin-ends">
  <iframe src="//www.youtube.com/embed/hhIlx7DlbKw?wmode=transparent&amp;rel=0" allowfullscreen></iframe>
</div>
